{% extends 'pmtct/index_pmtct.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
 <h6 class="display-6 text-primary text-center">MTCT RAF-RISK Assessment Tool</h6>
<hr>
    <div class="p-5 mb-4 bg-light rounded-3">

    {% if messages %}
    <ul class="messages">

        {% for message in messages %}
            <div class="alert alert-info col-12 animated fadeIn" role="alert">
        <h5 class="d-flex justify-content-evenly">{{ message }}</h5>
    </div>

        {% endfor %}
    </ul>
{% endif %}

      <div class="container-fluid">
      {% if "facility" in title %}
      <h6 class="display-6 text-primary">CREATE FACILITY QI</h6>
      {% elif "program" in title %}
          <h6 class="display-6 text-primary">CREATE {{ title|upper }} QI</h6>
      {% endif %}
      </div>
{#          <div class="d-flex justify-content-between">#}
{#              <a href="{% url 'add_qi_manager' %}" class="btn btn-sm btn-success" role="button">ADD QI MANAGER</a>#}
{#              <a href="{% url 'add_department' %}" class="btn btn-sm btn-success" role="button">ADD DEPARTMENT</a>#}
{#              <a href="{% url 'add_category' %}" class="btn btn-sm btn-success" role="button">ADD PROJECT COMPONENT</a>#}
{#              <a href="{% url 'add_facility' %}" class="btn btn-sm btn-success" role="button">ADD FACILITY</a>#}
{#              <a href="{% url 'add_county' %}" class="btn btn-sm btn-success" role="button">ADD COUNTY</a>#}
{#              <a href="{% url 'add_hub' %}" class="btn btn-sm btn-success" role="button">ADD HUB</a>#}
{#              <a href="{% url 'add_subcounty' %}" class="btn btn-sm btn-success" role="button">ADD SUBCOUNTY</a>#}
{#          </div>#}
      <div>
          <h6>Facility : {{ patient.facility_name }}</h6>
          <h6>Name : {{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</h6>
      </div>
       <table class="table table-striped table-hover" style="font-size: x-small;">
    <thead class="thead-dark">
    <tr>

      <th>Date of Birth</th>
      <th>Age</th>
      <th>CCC No</th>
      <th>LMP</th>
      <th>EDD</th>
      <th>Gestation by Age</th>
      <th>Date Enrolled ANC</th>
      <th>Marital Status</th>
      <th>Partner Status</th>
      <th>On ART</th>
      <th>Date Started on ART</th>
      <th>Update Status</th>
      <th>Update Status Date</th>


    </tr>
  </thead>
  <tbody>
{#    {% for patient in patient_info %}#}
    <tr>
{#    <td>{{ patient.facility_name }}</td>#}
{#      <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>#}
      <td>{{ patient.date_of_birth|date:"Y-m-d" }}</td>
      <td>{{ patient.age }} yrs</td>
      <td>{{ patient.ccc_no }}</td>
      <td>{{ patient.lmp|date:"Y-m-d" }}</td>
      <td>{{ patient.edd|date:"Y-m-d" }}</td>
      <td>{{ patient.gestation_by_age }} wks</td>
      <td>{{ patient.date_enrolled_anc|date:"Y-m-d" }}</td>
      <td>{{ patient.marital_status }}</td>
      <td>{{ patient.partner_status }}</td>
      <td>{{ patient.on_art }}</td>
      <td>{{ patient.date_started_on_art|date:"Y-m-d" }}</td>
      <td>{{ patient.update_status }}</td>
      <td>{{ patient.update_status_date|date:"Y-m-d" }}</td>



    </tr>
{#    {% endfor %}#}
  </tbody>
</table>
      <div>
<div class="row mb-2" >
                  <div class="col" >
                    <div class="card " >
                      <div class="card-body">
                          <div class="container">
                            <div class="col">
                                <div class="row ">
                                    <h6>Clinical desicion:</h6>
                                    <p>
                                        The purpose of this tool is to characterize PMTCT clients when they attend
                                        clinic visits at various milestones to prioritize the MTCT high risk ones for
                                        enhanced/intensified support.
                                    </p>
                                    <div>
                                        <ol>
                                        <li>

                                        At baseline (1st evaluation) all clients with YES (Y) to any of the characteristics to be considered as high-risk (HR) and prioritized for case management. Subsequent evaluations to be done during each PMTCT Milestone.
                                        </li>
                                        <li>In subsequent assessments, manage as stable(S) clients who reports NO (N) for all indicators.
                                        </li>
                                        <li>Continue client follow up as high risk if they report YES (Y).
                                        </li>
                                        <li>
                                        Categorize clients support plan/case management into clinical and non-clinical for follow up with clinicians and mentor mothers respectively.

                                        </li>
                                    </ol>
                                    </div>

                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
      </div>
      </div>
      {% if risk_category %}
          {% if "HIGH" in risk_category %}
            <button class="btn btn-sm btn-success flicker-button">Client risk category: {{ risk_category }}</button>
            {% else %}
            <button class="btn btn-sm btn-success">Client risk category: {{ risk_category }}</button>
        {% endif %}
      {% endif %}


      {% if data_info %}
       <table class="table table-striped table-hover mt-4" style="font-size: xx-small;">
      <thead class="thead-dark text-center">
       <tr>
            <th></th>
            <th></th>
            <th colspan="3" style="font-size: xx-small"> Antenatal care period </th>
            <th></th>
            <th colspan="7" style="font-size: xx-small"> Postnatal care Period </th>
         </tr>
        <tr>
            <th>Client characteristics </th>
            <th>Baseline assessment</th>
            <th>Early ANC</th>
            <th>Mid ANC</th>
            <th>Late gestation</th>
            <th>6 wks Gestation</th>
            <th>14wks Assessment</th>
            <th>6 months Assessment</th>
            <th>9 months Assessment</th>
            <th>12 months Assessment</th>
            <th>18 months Assessment</th>
            <th>24 months Assessment</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form in data_info %}
          <tr>
            <td>{{ form.client_characteristics }}</td>
              {% if form.baseline_assessment == None  %}
                <td class="text-warning">-</td>
                  {% elif form.baseline_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.baseline_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.baseline_assessment }}</td>
              {% endif %}
          {% if form.early_anc == None  %}
                <td class="text-warning">-</td>
              {% elif form.early_anc == "Y"  %}
                <td class="text-danger fw-bold">{{ form.early_anc }}</td>
                  {% else %}
                    <td style="color: green">{{ form.early_anc }}</td>
              {% endif %}
          {% if form.mid_anc == None  %}
                <td class="text-warning">-</td>
              {% elif form.mid_anc == "Y"  %}
                <td class="text-danger fw-bold">{{ form.mid_anc }}</td>
                  {% else %}
                    <td style="color: green">{{ form.mid_anc }}</td>
              {% endif %}
          {% if form.late_gestation == None  %}
                <td class="text-warning">-</td>
              {% elif form.late_gestation == "Y"  %}
                <td class="text-danger fw-bold">{{ form.late_gestation }}</td>
                  {% else %}
                    <td style="color: green">{{ form.late_gestation }}</td>
              {% endif %}
          {% if form.six_weeks_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.six_weeks_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.six_weeks_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.six_weeks_assessment }}</td>
              {% endif %}
          {% if form.fourteen_weeks_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.fourteen_weeks_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.fourteen_weeks_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.fourteen_weeks_assessment }}</td>
              {% endif %}
          {% if form.six_month_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.six_month_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.six_month_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.six_month_assessment }}</td>
              {% endif %}
          {% if form.nine_month_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.baseline_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.baseline_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.nine_month_assessment }}</td>
              {% endif %}
          {% if form.twelve_month_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.twelve_month_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.twelve_month_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.twelve_month_assessment }}</td>
              {% endif %}
          {% if form.eighteen_month_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.eighteen_month_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.eighteen_month_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.eighteen_month_assessment }}</td>
              {% endif %}
          {% if form.twenty_four_month_assessment == None  %}
                <td class="text-warning">-</td>
              {% elif form.twenty_four_month_assessment == "Y"  %}
                <td class="text-danger fw-bold">{{ form.twenty_four_month_assessment }}</td>
                  {% else %}
                    <td style="color: green">{{ form.twenty_four_month_assessment }}</td>
              {% endif %}


{#                <td>{{ form.early_anc }}</td>#}
{#                <td>{{ form.mid_anc }}</td>#}
{#                <td>{{ form.late_gestation }}</td>#}
{#                <td>{{ form.six_weeks_assessment }}</td>#}
{#                <td>{{ form.fourteen_weeks_assessment }}</td>#}
{#                <td>{{ form.six_month_assessment }}</td>#}
{#                <td>{{ form.nine_month_assessment }}</td>#}
{#                <td>{{ form.twelve_month_assessment }}</td>#}
{#                <td>{{ form.eighteen_month_assessment }}</td>#}
{#                <td>{{ form.twenty_four_month_assessment }}</td>#}
          <td><a href="{% url 'update_client_characteristics_trial' form.id %}" class="btn btn-sm btn-info" role="button">update</a></td>
          </tr>

      </tbody>
         {% endfor %}
    </table>
      {% endif %}

      <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
          {% csrf_token %}
        <table class="table table-striped table-hover" style="font-size: x-small;">
      <thead class="thead-dark text-center">
      <tr>
            <th></th>
            <th></th>
            <th colspan="3" style="font-size: xx-small"> Antenatal care period </th>
            <th></th>
            <th colspan="7" style="font-size: xx-small"> Postnatal care Period </th>
         </tr>
        <tr>
            <th>Client characteristics </th>
            <th>Baseline assessment</th>
            <th>EarlyANC</th>
            <th>MidANC</th>
            <th>Late gestation</th>
            <th>6 wks Gestation</th>
            <th>14wks Assessment</th>
            <th>6 months Assessment</th>
            <th>9 months Assessment</th>
            <th>12 months Assessment</th>
            <th>18 months Assessment</th>
            <th>24 months Assessment</th>
        </tr>
      </thead>
      <tbody>
{#        {% for form in formset %}#}
          <tr>
            <td>{{ formset.client_characteristics|as_crispy_field }}
            </td>
                <td>{{ formset.baseline_assessment|as_crispy_field }}</td>
                <td>{{ formset.early_anc|as_crispy_field }}</td>
                <td>{{ formset.mid_anc|as_crispy_field }}</td>
                <td>{{ formset.late_gestation|as_crispy_field }}</td>
                <td>{{ formset.six_weeks_assessment|as_crispy_field }}</td>
                <td>{{ formset.fourteen_weeks_assessment|as_crispy_field }}</td>
                <td>{{ formset.six_month_assessment|as_crispy_field }}</td>
                <td>{{ formset.nine_month_assessment|as_crispy_field }}</td>
                <td>{{ formset.twelve_month_assessment|as_crispy_field }}</td>
                <td>{{ formset.eighteen_month_assessment|as_crispy_field }}</td>
                <td>{{ formset.twenty_four_month_assessment|as_crispy_field }}</td>

          </tr>
{#        {% endfor %}#}
      </tbody>
    </table>
    <div class="col-md-2 mt-2 pt-3">
      <input class="btn btn-sm btn-success mt-1" type="submit" value="Submit">
    </div>
{#  {% endif %}#}
</form>
      </div>
    </div>
</main>
{% endblock %}