{% extends 'pmtct/index_pmtct.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
 <h6 class="display-6 text-primary text-center">MTCT RAF-RISK Assessment Tool</h6>
<hr>
    <div class="p-5 mb-4 bg-light rounded-3">

    {% if messages %}
    <ul class="messages">

        {% for message in messages %}
            <div class="alert alert-info col-12 animated fadeIn" role="alert">
        <h5 class="d-flex justify-content-evenly">{{ message }}</h5>
    </div>

        {% endfor %}
    </ul>
{% endif %}

      <div class="container-fluid">
      {% if "facility" in title %}
      <h6 class="display-6 fw-bold text-primary">CREATE FACILITY QI</h6>
      {% elif "program" in title %}
          <h6 class="display-6 fw-bold text-primary">CREATE {{ title|upper }} QI</h6>
      {% endif %}
{#          <div class="d-flex justify-content-between">#}
{#              <a href="{% url 'add_qi_manager' %}" class="btn btn-success" role="button">ADD QI MANAGER</a>#}
{#              <a href="{% url 'add_department' %}" class="btn btn-success" role="button">ADD DEPARTMENT</a>#}
{#              <a href="{% url 'add_category' %}" class="btn btn-success" role="button">ADD PROJECT COMPONENT</a>#}
{#              <a href="{% url 'add_facility' %}" class="btn btn-success" role="button">ADD FACILITY</a>#}
{#              <a href="{% url 'add_county' %}" class="btn btn-success" role="button">ADD COUNTY</a>#}
{#              <a href="{% url 'add_hub' %}" class="btn btn-success" role="button">ADD HUB</a>#}
{#              <a href="{% url 'add_subcounty' %}" class="btn btn-success" role="button">ADD SUBCOUNTY</a>#}
{#          </div>#}
      <div>

      </div>
       <table class="table table-striped table-hover" style="font-size: x-small;">
    <thead class="thead-dark">
    <tr>
        <th>Facility Name</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th>CCC No</th>
      <th>LMP</th>
      <th>EDD</th>
      <th>Gestation by Age</th>
      <th>Date Enrolled ANC</th>
      <th>Marital Status</th>
      <th>Partner Status</th>
      <th>On ART</th>
      <th>Date Started on ART</th>
      <th>Update Status</th>
      <th>Update Status Date</th>


    </tr>
  </thead>
  <tbody>
{#    {% for patient in patient_info %}#}
    <tr>
    <td>{{ patient.facility_name }}</td>
      <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
      <td>{{ patient.date_of_birth|date:"Y-m-d" }}</td>
      <td>{{ patient.age }} yrs</td>
      <td>{{ patient.ccc_no }}</td>
      <td>{{ patient.lmp|date:"Y-m-d" }}</td>
      <td>{{ patient.edd|date:"Y-m-d" }}</td>
      <td>{{ patient.gestation_by_age }} wks</td>
      <td>{{ patient.date_enrolled_anc|date:"Y-m-d" }}</td>
      <td>{{ patient.marital_status }}</td>
      <td>{{ patient.partner_status }}</td>
      <td>{{ patient.on_art }}</td>
      <td>{{ patient.date_started_on_art|date:"Y-m-d" }}</td>
      <td>{{ patient.update_status }}</td>
      <td>{{ patient.update_status_date|date:"Y-m-d" }}</td>


    </tr>
{#    {% endfor %}#}
  </tbody>
</table>
{#  <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">#}
{#    {% csrf_token %}#}
{#  {{ formset.management_form }}#}
    <table class="table table-striped table-hover mt-4" style="font-size: x-small;">
      <thead class="thead-dark text-center">
      <tr>
            <th></th>
            <th></th>
            <th colspan="3" style="font-size: xx-small"> Antenatal care period </th>
            <th></th>
            <th colspan="7" style="font-size: xx-small"> Postnatal care Period </th>
         </tr>
        <tr>
            <th>Client characteristics </th>
            <th>Baseline assessment</th>
            <th>Early ANC</th>
            <th>Mid ANC</th>
            <th>Late gestation</th>
            <th>6 wks Gestation</th>
            <th>14wks Assessment</th>
            <th>6 months Assessment</th>
            <th>9 months Assessment</th>
            <th>12 months Assessment</th>
            <th>18 months Assessment</th>
            <th>24 months Assessment</th>
        </tr>
      </thead>
      <tbody>
        {% for form in data_info %}
          <tr>
            <td>{{ form.client_characteristics }}</td>
                <td>{{ form.baseline_assessment }}</td>
                <td>{{ form.early_anc }}</td>
                <td>{{ form.mid_anc }}</td>
                <td>{{ form.late_gestation }}</td>
                <td>{{ form.six_weeks_assessment }}</td>
                <td>{{ form.fourteen_weeks_assessment }}</td>
                <td>{{ form.six_month_assessment }}</td>
                <td>{{ form.nine_month_assessment }}</td>
                <td>{{ form.twelve_month_assessment }}</td>
                <td>{{ form.eighteen_month_assessment }}</td>
                <td>{{ form.twenty_four_month_assessment }}</td>
          </tr>

      </tbody>
         {% endfor %}
    </table>
      {% for form in data_info|slice:"1" %}
    <div class="col-md-2 mt-2 pt-3">
        <a href="{% url 'update_client_characteristics' form.pmtct_mother.id %}" class="btn btn-success" role="button">Update</a>
{#      <input class="btn btn-success mt-1" type="submit" value="Update">#}
    </div>
       {% endfor %}
      </div>
    </div>
</main>
{% endblock %}