{% extends 'lab_pulse/index_lab_pulse.html' %}
{% load remove_underscores %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <style>
        :root {
            --primary-color: #0A255C;
            --secondary-color: #B10023;
            --text-color: #333;
            --bg-color: #f4f4f4;
            --white: #ffffff;
            --light-gray: #e0e0e0;
            --success-color: #28a745;
            --warning-color: #ffc107;
            --danger-color: #dc3545;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Roboto', Arial, sans-serif;
            line-height: 1.6;
            color: var(--text-color);
            background-color: var(--bg-color);
            display: flex;
            min-height: 100vh;
        }

        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        }


        header {
            background: var(--primary-color);
            color: var(--white);
            padding: 1rem 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin-left: 1rem;
        }

        nav a {
            color: var(--white);
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: var(--secondary-color);
        }

        main {
            margin-top: 80px;
            padding: 2rem 0;
        }

        h1, h2, h3 {
            color: var(--primary-color);
            margin-bottom: 1rem;
        }

        .results-header {
            background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
            color: var(--white);
            padding: 2rem;
            border-radius: 8px;
            margin-bottom: 2rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .results-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            background-color: var(--white);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .results-table th, .results-table td {
            border: 1px solid var(--light-gray);
            padding: 0.75rem;
            text-align: left;
            font-size: smaller;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .results-table th {
            background-color: var(--light-gray);
            font-weight: bold;
            color: var(--primary-color);
        }

        .results-table tr:nth-child(even) {
            background-color: #f8f8f8;
        }

        .results-table tr:hover {
            background-color: #e8e8e8;
        }

        .status {
            font-weight: bold;
        }

        .status-pending {
            color: var(--warning-color);
        }

        .status-completed {
            color: var(--success-color);
        }

        .status-urgent {
            color: var(--danger-color);
        }

        .action-btn {
            display: inline-block;
            padding: 0.3rem 0.8rem;
            border-radius: 4px;
            text-decoration: none;
            color: var(--white);
            font-weight: bold;
            transition: background-color 0.3s ease;
            margin-right: 0.5rem;
        }


        .view-btn {
            background-color: var(--primary-color);
        }

        .view-btn:hover {
            background-color: #083a8c;
        }

        .download-btn {
            background-color: var(--success-color);
        }

        .delete-btn {
            background-color: var(--secondary-color);
        }

        .download-btn:hover {
            background-color: #218838;
        }
        .search-sort {
            display: flex;
            gap: 0.5rem;
            margin-bottom: 1rem;
        }

        .search-sort input, .search-sort select {
            flex: 1;
            padding: 0.5rem;
            border: 1px solid var(--light-gray);
            border-radius: 4px;
        }

        .search-box {
            padding: 0.5rem;
            border: 1px solid var(--light-gray);
            border-radius: 4px;
            width: 250px;
        }

        .sort-select {
            padding: 0.5rem;
            border: 1px solid var(--light-gray);
            border-radius: 4px;
        }

        footer {
            background: var(--primary-color);
            color: var(--white);
            text-align: center;
            padding: 1rem 0;
            margin-top: 2rem;
        }

        @media (max-width: 768px) {
            .search-sort {
                flex-direction: column;
                gap: 1rem;
            }

            .search-box, .sort-select {
                width: 100%;
            }
        }
    </style>
    <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-info col-12" role="alert">
                        <h5 class="d-flex justify-content-evenly">{{ message }}</h5>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-fluid py-5">
            {% if request.user|has_group_permission:"unitid_staffs_labpulse" or user.is_superuser %}
                <h1> {{ title }}</h1>
                <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data'
                      autocomplete="off">
                    {% csrf_token %}
                    <div class="col-md-3 mt-4">
                        {{ form.facility_name|as_crispy_field }}
                    </div>
                    <div class="col-md-3 mt-4">
                        {{ form.specimen_type|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 mt-5">
                        {{ histology_pdf_file_form.files }}
                    </div>
                    <!-- Conditionally display uploaded files label -->
                    <label id="uploaded-files-label" for="{{ histology_pdf_file_form.files.id_for_label }}"
                           style="display: none;">Uploaded
                        Files:</label>
                    <!-- Display uploaded file names dynamically -->
                    <ul id="uploaded-files-list"></ul>
                    <!-- Hidden input field to store files for server-side processing -->
                    <input type="hidden" name="uploaded_files" value="">
                    <div class="col-12 col-md-6 col-lg-2">
                        <button type="submit" class="action-btn view-btn">Upload Results</button>
                    </div>
                    {% if histology_pdf_file_form.errors %}
                        <div class="alert alert-danger mt-4">
                            {{ histology_pdf_file_form.errors }}
                        </div>
                    {% endif %}
                </form>
                <hr>
            {% endif %}
            <div class="search-sort">
                <input type="text" id="patientIdSearch" class="search-box" placeholder="Search by Patient ID">
                <input type="text" id="facilitySearch" class="search-box" placeholder="Search by Facility">
                <input type="text" id="urgencySearch" class="search-box" placeholder="Search by Urgency">
                <input type="text" id="specimenSearch" class="search-box" placeholder="Search by Specimen Type">
                <select class="sort-select" id="sortSelect">
                    <option value="">Sort by</option>
                    <option value="patient-id">Patient ID</option>
                    <option value="date-desc">Date (Newest First)</option>
                    <option value="date-asc">Date (Oldest First)</option>
                    <option value="age-desc">Age (Oldest First)</option>
                    <option value="age-asc">Age (Young First)</option>
                </select>
            </div>
            <table class="results-table" id="resultsTable">
                <thead>
                <tr>
                    <th>Facility</th>
                    <th>Patient ID</th>
                    <th>Age</th>
                    <th>Specimen Type</th>
                    <th>Date Collected</th>
                    <th>TAT (days)</th>
                    <th>Urgency</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        {% for histology_result in result.histology_results.all|slice:":1" %}
                            <td>{{ histology_result.facility_name.name }}</td>
                            <td>{{ histology_result.patient_id }}</td>
                            <td>{{ histology_result.age }}</td>
                            <td>{{ histology_result.specimen_type|title }}</td>
                            <td>{{ histology_result.collection_date|date:"M d, Y" }}</td>
                            <td>{{ histology_result.tat_days }}</td>
                            {% if "high grade" in histology_result.diagnosis|lower %}
                                <td><span class="status status-urgent">Urgent</span></td>
                            {% elif "low grade" in histology_result.diagnosis|lower %}
                                <td><span class="status status-pending">Urgent</span></td>
                            {% else %}
                                <td><span class="status status-completed">Normal</span></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'view_histology_result' histology_result.result.id %}"
                                   class="action-btn view-btn">View</a>
                                <a href="{{ result.result.url }}"
                                   class="action-btn download-btn">Download</a>
                                {% if user.id == result.created_by.id or user.is_superuser %}
                                    <a href="{% url 'delete_histology_result' histology_result.result.id %}"
                                       class="action-btn delete-btn">Delete</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#                <div class="col-md-12 alert alert-primary text-center">#}
            {#                    <h4>Customize your search or filter below</h4>#}
            {#                </div>#}
            {#                <div class="mt-3">#}
            {#                    <form id="filter-form" class="row g-3" autocomplete="off">#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.county|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.sub_county|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.facility_names|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.patient_id|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.sex|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.sequence_summary|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.age_lte|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.age_gte|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.collection_date_gte|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.collection_date_lte|as_crispy_field }}#}
            {#                        </div>#}
            {##}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.resistance_level|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            {{ my_filters.form.haart_class|as_crispy_field }}#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2 mt-2 pt-1">#}
            {#                            <label for="record_count" class="form-label mb-0">Records Per Page</label>#}
            {#                            <select name="record_count" id="record_count" class="form-select">#}
            {#                                {% for option_value, option_label in record_count_options %}#}
            {#                                    <option value="{{ option_value }}"#}
            {#                                            {% if request.GET.record_count == option_value %}#}
            {#                                            selected {% endif %}>#}
            {#                                        {{ option_label }}#}
            {#                                    </option>#}
            {#                                {% endfor %}#}
            {#                            </select>#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            <div class="row">#}
            {#                                <div class="mt-4">#}
            {#                                    <button class="btn btn-outline-primary btn-sm" type="submit">#}
            {#                                        <i class="fas fa-search"></i> Search#}
            {#                                    </button>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="col-12 col-md-6 col-lg-2">#}
            {#                            <div class="row">#}
            {#                                <div class="mt-4">#}
            {#                                    <a class="nav-link"#}
            {#                                       href="{% url 'add_drt_results' %}">#}
            {#                                        <span data-feather="refresh-cw" class="align-text-bottom"></span>#}
            {#                                        Reset Filters#}
            {#                                    </a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </form>#}
            {#                </div>#}
            {#            </div>#}
            {#            {% if resistance_level_fig %}#}
            {#                <div class="row mb-3">#}
            {#                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">#}
            {#                        <a href="{% url 'download_csv_lab' "all" %}?{{ request.GET.urlencode }}"#}
            {#                           class="btn btn-secondary btn-block" role="button"> All records#}
            {#                            <i class="fas fa-download"></i>#}
            {#                        </a>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div>#}
            {#                    <div class="form-check form-switch">#}
            {#                        <input class="form-check-input" type="checkbox" id="toggleSummaryTop">#}
            {#                        <label class="form-check-label" for="toggleSummaryTop">Show or Hide Summary (Top)</label>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div id="collapse_summary" class="collapse show">#}
            {#                    <hr>#}
            {#                    <h3 class="fw-bold text-primary text-center"> Summary </h3>#}
            {#                    <hr>#}
            {#                    <div class="row">#}
            {#                        {% if drt_summary_fig %}#}
            {#                            <div class="col-12 col-md-6">#}
            {#                                {{ drt_summary_fig|safe }}#}
            {#                            </div>#}
            {#                        {% endif %}#}
            {#                        {% if counties_summary_fig %}#}
            {#                            <div class="col-12 col-md-6">#}
            {#                                {{ counties_summary_fig|safe }}#}
            {#                            </div>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                    <hr>#}
            {#                    <div class="row">#}
            {#                        {% if age_pop_summary_fig %}#}
            {#                            <div class="col-12 col-md-6">#}
            {#                                {{ age_pop_summary_fig|safe }}#}
            {#                            </div>#}
            {#                        {% endif %}#}
            {#                        {% if counties_summary_fig %}#}
            {#                            <div class="col-12 col-md-6">#}
            {#                                {{ resistance_type_count_fig|safe }}#}
            {#                            </div>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                    <hr>#}
            {#                    {% if drt_distribution_fig %}#}
            {#                        {{ drt_distribution_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endif %}#}
            {#                    {% if drt_tat_fig %}#}
            {#                        {{ drt_tat_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endif %}#}
            {#                    {% if resistance_level_fig %}#}
            {#                        {{ resistance_level_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endif %}#}
            {#                    {% if age_summary_fig %}#}
            {#                        {{ age_summary_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endif %}#}
            {##}
            {#                    {% if resistance_level_age_fig %}#}
            {#                        {{ resistance_level_age_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endif %}#}
            {#                    <h5 class="fw-bold text-primary text-center"> Time-Based Changes in Drug Resistance#}
            {#                        Prevalence: Overall </h5>#}
            {#                    <hr>#}
            {#                    {{ prevalence_tat_fig|safe }}#}
            {#                    <hr>#}
            {#                    {{ drt_trend_fig|safe }}#}
            {##}
            {#                    <h5 class="fw-bold text-primary text-center"> Time-Based Changes in Drug Resistance#}
            {#                        Prevalence: By Drug </h5>#}
            {#                    <hr>#}
            {#                    {% for keys, trend_fig in trend_figs.items %}#}
            {#                        {{ trend_fig|safe }}#}
            {#                        <hr>#}
            {#                    {% endfor %}#}
            {#                    {% if mutation_profile_figs %}#}
            {#                        <hr>#}
            {#                        <h5 class="fw-bold text-primary text-center"> Mutation Prevalence: By Class </h5>#}
            {#                        <hr>#}
            {#                        {% for keys, trend_fig in mutation_profile_figs.items %}#}
            {#                            {{ trend_fig|safe }}#}
            {#                        {% endfor %}#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#                <hr>#}
            {#                <div class="col-12 mb-2">#}
            {#                    {% if qi_list|length <= 500 %}#}
            {#                        <h4 class="fw-bold text-primary text-center"> DRT Reports </h4>#}
            {#                    {% else %}#}
            {#                        <h6 class="text-primary text-center"> > 500 records. Use the filters above to narrow down your#}
            {#                            search </h6>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#                <hr>#}
            {#                <div class="form-check form-switch mt-3">#}
            {#                    <input class="form-check-input" type="checkbox" id="toggleSummaryBottom">#}
            {#                    <label class="form-check-label" for="toggleSummaryBottom">Show or Hide Summary (Bottom)</label>#}
            {#                </div>#}
            {#            {% endif %}#}
            {#            <div class="row mt-3">#}
            {#                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">#}
            {#                    <a href="{% url 'download_csv_lab' "all" %}?{{ request.GET.urlencode }}"#}
            {#                       class="btn btn-secondary btn-block" role="button"> All records#}
            {#                        <i class="fas fa-download"></i>#}
            {#                    </a>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#                <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">#}
            {#                    {% for result in results %}#}
            {#                        <div class="col-md-12">#}
            {#                            <div class="card h-100">#}
            {#                                <div class="card-body">#}
            {#                                    <h6 class="card-title">#}
            {#                                        <div class="d-flex justify-content-between">#}
            {#                                            <div>#}
            {#                                                {{ forloop.counter }}.#}
            {#                                                <a href="{{ result.result.url }}"#}
            {#                                                        {% for drt_result in result.histology_results.all|slice:":1" %}#}
            {#                                                   style="color:#}
            {#                                                           {% if "High Grade" in drt_result.diagnosis %}#}
            {#                                                               red#}
            {#                                                           {% else %}#}
            {#                                                               green#}
            {#                                                           {% endif %}; font-size: small">#}
            {#                                                            {{ drt_result.patient_id }}#}
            {#                                                            (Sex: {{ drt_result.sex }}#}
            {#                                                            Age: {{ drt_result.age }})#}
            {#                                                            : {{ drt_result.facility_name }}#}
            {#                                                            (Collection date:#}
            {#                                                            {{ drt_result.collection_date|date:"M d, Y" }}#}
            {#                                                            )#}
            {#                                                            TAT: {{ drt_result.tat_days }} days#}
            {#                                                        {% endfor %}#}
            {#                                                </a>#}
            {#                                            </div>#}
            {##}
            {#                                            <div>#}
            {#                                                <a href="{{ result.result.url }}">#}
            {#                                                    <button type="button"#}
            {#                                                            class="btn btn-outline-success btn-floating mr-2"#}
            {#                                                            data-mdb-ripple-color="dark">#}
            {#                                                        Download <i class="fas fa-download"></i>#}
            {#                                                    </button>#}
            {#                                                </a>#}
            {#                                                {% if user.id == result.created_by.id or user.is_superuser %}#}
            {#                                                    <a href="{% url 'delete_histology_result' result.id %}">#}
            {#                                                        <button type="button"#}
            {#                                                                class="btn btn-outline-danger btn-floating mr-2"#}
            {#                                                                data-mdb-ripple-color="dark">#}
            {#                                                            DELETE#}
            {#                                                        </button>#}
            {#                                                    </a>#}
            {#                                                {% endif %}#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </h6>#}
            {#                                </div>#}
            {#                                <div class="card-footer d-flex justify-content-between">#}
            {#                                    <small class="text-muted">Last updated on {{ result.date_modified|date:"M d, Y" }}#}
            {#                                        ({{ result.date_modified|timesince }}) ago#}
            {#                                    </small>#}
            {#                                    <small class="text-muted">Uploaded by {{ result.modified_by.first_name|title }}#}
            {#                                        {{ result.modified_by.last_name|title }}#}
            {#                                    </small>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            <!-- Display the pagination links -->
            {% block pagination %}
                {% include "partial_html/pagination.html" %}
            {% endblock %}
        </div>
        {#        </div>#}
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sortSelect = document.getElementById('sortSelect');
            const resultsTable = document.getElementById('resultsTable');
            const patientIdSearch = document.getElementById('patientIdSearch');
            const facilitySearch = document.getElementById('facilitySearch');
            const urgencySearch = document.getElementById('urgencySearch');
            const specimenSearch = document.getElementById('specimenSearch');

            // Sorting functionality
            sortSelect.addEventListener('change', function () {
                const sortBy = this.value;
                switch (sortBy) {
                    case 'patient-id':
                        sortTableByColumn(resultsTable, 1, true);
                        break;
                    case 'facility':
                        sortTableByColumn(resultsTable, 0, true);
                        break;
                    case 'date-desc':
                        sortTableByColumn(resultsTable, 4, false, 'date');
                        break;
                    case 'date-asc':
                        sortTableByColumn(resultsTable, 4, true, 'date');
                        break;
                    case 'age-desc':
                        sortTableByColumn(resultsTable, 2, false, 'number');
                        break;
                    case 'age-asc':
                        sortTableByColumn(resultsTable, 2, true, 'number');
                        break;
                }
            });

            // Search functionality
            patientIdSearch.addEventListener('input', function () {
                searchTable(resultsTable, this.value, 1); // 2 is the index of the Patient ID column
            });

            facilitySearch.addEventListener('input', function () {
                searchTable(resultsTable, this.value, 0); // 1 is the index of the Facility column
            });
            urgencySearch.addEventListener('input', function () {
                searchTable(resultsTable, this.value, 6); // 1 is the index of the Facility column
            });
            specimenSearch.addEventListener('input', function () {
                searchTable(resultsTable, this.value, 3); // 1 is the index of the Facility column
            });
        });

        function sortTableByColumn(table, column, asc = true, dataType = 'string') {
            const dirModifier = asc ? 1 : -1;
            const tBody = table.tBodies[0];
            const rows = Array.from(tBody.querySelectorAll('tr'));

            // Sort each row
            const sortedRows = rows.sort((a, b) => {
                const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
                const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();

                switch (dataType) {
                    case 'number':
                        return (parseFloat(aColText) - parseFloat(bColText)) * dirModifier;
                    case 'date':
                        return (new Date(aColText) - new Date(bColText)) * dirModifier;
                    default:
                        return aColText.localeCompare(bColText) * dirModifier;
                }
            });

            // Remove all existing TRs from the table
            while (tBody.firstChild) {
                tBody.removeChild(tBody.firstChild);
            }

            // Re-add the newly sorted rows
            tBody.append(...sortedRows);
        }

        function searchTable(table, searchTerm, column) {
            const tBody = table.tBodies[0];
            const rows = tBody.querySelectorAll('tr');

            searchTerm = searchTerm.toLowerCase();

            rows.forEach(row => {
                const cellText = row.querySelector(`td:nth-child(${column + 1})`).textContent.toLowerCase();
                if (cellText.includes(searchTerm)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
{% endblock %}