{% extends 'lab_pulse/index_lab_pulse.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load remove_underscores %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h5 class="d-flex justify-content-evenly" style="font-size: x-small">{{ message }}</h5>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="container-fluid py-3">
                <div class="col-md-12 alert alert-primary text-center">
                    <h4>Customize your search or filter below</h4>
                </div>
                <div class="mt-3">
                    <form id="filter-form" class="row g-3" autocomplete="off">
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.testing_laboratory|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.facility_name|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.county|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.sub_county|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.patient_unique_no|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.sex|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.age_lte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.age_gte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.received_status|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.serum_crag_results|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.cd4_count_results_lte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.cd4_count_results_gte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.reason_for_rejection|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.cd4_percentage_lte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.cd4_percentage_gte|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.tb_lam_results|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.start_date|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ my_filters.form.end_date|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="col-12">
                        <form id="record-form" method="GET" action="{% url 'show_results' %}">
                            <!-- Add the dropdown menu or input field to select the number of records -->
                            <div class="form-group">
                                <label for="record-count">Choose Records To View Per Page:</label>
                                <select id="record-count" name="record_count">
                                    <option value="all" {% if record_count == 'all' %}selected{% endif %}>All
                                    </option>
                                    <option value="5" {% if record_count == '5' %}selected{% endif %}>5</option>
                                    <option value="10" {% if record_count == '10' %}selected{% endif %}>10</option>
                                    <option value="20" {% if record_count == '20' %}selected{% endif %}>20</option>
                                    <option value="30" {% if record_count == '30' %}selected{% endif %}>30</option>
                                    <option value="40" {% if record_count == '40' %}selected{% endif %}>40</option>
                                    <option value="50" {% if record_count == '50' %}selected{% endif %}>50</option>
                                    <option value="100" {% if record_count == '100' %}selected{% endif %}>100
                                    </option>
                                    <option value="250" {% if record_count == '250' %}selected{% endif %}>250
                                    </option>
                                    <option value="500" {% if record_count == '500' %}selected{% endif %}>500
                                    </option>
                                    <option value="1000" {% if record_count == '1000' %}selected{% endif %}>1000
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                {% if qi_list %}
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                            <a href="{% url 'download_csv' dictionary.list_of_projects_fac "cd4 results" %}"
                               class="btn btn-secondary btn-block" role="button">
                                All records <i class="fas fa-download"></i>
                            </a>
                        </div>
                        {% if dictionary.rejected_df %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'download_csv' dictionary.rejected_df "Rejected samples" %}"
                                   class="btn btn-secondary btn-block" role="button">
                                    Rejected samples <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% endif %}
                        {% if title %}
                            <!-- Code for title -->
                        {% endif %}
                        {% if dictionary.tb_lam_pos_df %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'download_csv' dictionary.tb_lam_pos_df "TB LAM positive" %}"
                                   class="btn btn-secondary btn-block" role="button">
                                    Positive TB LAM <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% endif %}
                        {% if dictionary.crag_pos_df %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'download_csv' dictionary.crag_pos_df "serum CRAG positive" %}"
                                   class="btn btn-secondary btn-block" role="button">
                                    Positive CrAg <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% endif %}
                        {% if dictionary.missing_df %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'download_csv' dictionary.missing_df "missing serum CRAG" %}"
                                   class="btn btn-secondary btn-block" role="button"> Missing CrAg
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% endif %}
                        {% if dictionary.missing_tb_lam_df %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'download_csv' dictionary.missing_tb_lam_df "missing TB LAM" %}"
                                   class="btn btn-secondary btn-block" role="button"> Missing TB LAM
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    {% if title == "Results" %}
                        <hr>
                        <h4 class="fw-bold text-primary text-center"> Summary </h4>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    {{ cd4_summary_fig|safe }}
                                </div>
                            </div>
                            {% if dictionary.weekly_df %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ weekly_tat_trend_fig|safe }}
                                        {{ weekly_trend_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if dictionary.rejected_df %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ rejection_summary_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if dictionary.justification_summary_df %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ justification_summary_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    {{ age_distribution_fig|safe }}
                                </div>
                            </div>
                            {% if not cd4_df.empty %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ cd4_testing_lab_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not crag_df.empty %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ crag_testing_lab_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not crag_positivity_df.empty %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ crag_positivity_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not tb_lam_positivity_df.empty %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ tb_lam_positivity_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not facility_positive_count.empty %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ facility_crag_positive_fig|safe }}
                                        {{ facility_tb_lam_positive_fig|safe }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row justify-content-around">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <h4 class="fw-bold text-primary"> {{ title }}</h4>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'generate_cd4_report_pdf' %}" class="btn btn-warning btn-block mb-2"
                                   role="button"> Download PDF</a>
                            </div>
                        </div>

                        <hr>
                        <table class="table table-striped table-hover" style="font-size: small;">
                            <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th style="font-size: x-small"> Patient Unique No.</th>
                                <th style="font-size: x-small"> Facility Name</th>
                                <th style="font-size: x-small"> Age</th>
                                <th style="font-size: x-small"> CD4 Count Results</th>
                                <th class="text-center" style="font-size: x-small">CrAg & TB LAM Results</th>
                                <th style="font-size: x-small"> Collection Date</th>
                                <th style="font-size: x-small"> Testing Date</th>
                                <th style="font-size: x-small"> Dispatch Date</th>
                                <th style="font-size: x-small"> Results Dispatched by</th>
                                {% for result in qi_list %}
                                    {% if user.is_authenticated %}
                                        {% if forloop.counter == 1 %}
                                            {% if perms.labpulse.view_add_cd4_count %}
                                                {% if not result.hide_update_button or request.user.is_superuser %}
                                                    <th style="font-size: x-small"></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in qi_list %}
                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td>
                                        {% if result.cd4_count_results <= 200 and result.serum_crag_results is None %}
                                            <p class="fw-bold text-danger">{{ result.patient_unique_no }}</p>
                                            <br>
                                            <span style="font-size: 8px"
                                                  class="badge alert-warning">Sex: {{ result.sex }}</span>
                                        {% elif result.cd4_count_results is None %}
                                            <p class="fw-bold text-danger">{{ result.patient_unique_no }}</p>
                                            <br>
                                            <span style="font-size: 8px"
                                                  class="badge alert-warning">Sex: {{ result.sex }}</span>
                                        {% elif result.serum_crag_results == "Positive" or result.tb_lam_results == "Positive" %}
                                            <p class="fw-bold text-danger">{{ result.patient_unique_no }}</p>
                                            <br>
                                            <span style="font-size: 8px"
                                                  class="badge alert-warning">Sex: {{ result.sex }}</span>
                                        {% else %}
                                            <p>{{ result.patient_unique_no }}</p>
                                            <br>
                                            <span style="font-size: 8px"
                                                  class="badge alert-warning">Sex: {{ result.sex }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ result.facility_name }}
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-warning">County: {{ result.county }}</span>
                                        <br>
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-warning">Sub-County: {{ result.sub_county }}</span>

                                    </td>
                                    <td> {{ result.age }} </td>
                                    <td>
                                        {% if result.cd4_count_results is None %}
                                            <p class="fw-bold text-danger">Rejected</p>
                                            <p class="fw-bold text-danger"
                                               style="font-size: xx-small">{{ result.reason_for_rejection }}</p>
                                        {% else %}
                                            {% if result.age > 5 and result.cd4_count_results <= 200 %}
                                                <p class="fw-bold"
                                                   style="font-size: small">{{ result.cd4_count_results }}</p>
                                            {% elif result.age <= 5 %}
                                                <p class="fw-bold"
                                                   style="font-size: small">{{ result.cd4_count_results }}</p>
                                                <br>
                                                <span style="font-size: 8px" class="badge alert-info">
                                                    CD4 percentage: {{ result.cd4_percentage }}%
                                                </span>
                                            {% else %}
                                                {{ result.cd4_count_results }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if result.cd4_count_results <= 200 and result.serum_crag_results is None %}
                                            <p class="fw-bold text-danger">CRAG: Missing</p>
                                            {% if result.tb_lam_results == "Positive" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-danger">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% elif result.tb_lam_results == "Negative" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-success">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% else %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-warning">TB-LAM: {{ result.tb_lam_results }}</span>
                                            {% endif %}
                                        {% elif result.serum_crag_results is None %}

                                        {% elif result.serum_crag_results == "Positive" %}
                                            {#                                            <p class="fw-bold text-danger">{{ result.serum_crag_results }}</p>#}
                                            <span style="font-size: 9px"
                                                  class="badge alert-danger">Serum CrAg: {{ result.serum_crag_results }}</span>
                                            <span style="font-size: 8px"
                                                  class="badge alert-info">CRAG date: {{ result.date_serum_crag_results_entered|date:"Y-m-d" }}</span>
                                            <br>
                                            <br>
                                            {% if result.tb_lam_results == "Positive" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-danger">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% elif result.tb_lam_results == "Negative" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-success">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% else %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-warning">TB-LAM: {{ result.tb_lam_results }}</span>
                                            {% endif %}
                                        {% else %}
                                            {#                                            <p class="fw-bold text-danger">{{ result.serum_crag_results }}</p>#}
                                            <span style="font-size: 9px"
                                                  class="badge alert-success">Serum CrAg: {{ result.serum_crag_results }}</span>
                                            <span style="font-size: 8px"
                                                  class="badge alert-info">CRAG date: {{ result.date_serum_crag_results_entered|date:"Y-m-d" }}</span>
                                            <br>
                                            <br>
                                            {% if result.tb_lam_results == "Positive" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-danger">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% elif result.tb_lam_results == "Negative" %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-success">TB-LAM: {{ result.tb_lam_results }}</span>
                                                <span style="font-size: 8px"
                                                      class="badge alert-info">TB-LAM date: {{ result.date_tb_lam_results_entered|date:"Y-m-d" }}</span>
                                            {% else %}
                                                <span style="font-size: 8px"
                                                      class="badge alert-warning">TB-LAM: {{ result.tb_lam_results }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td> {{ result.date_of_collection|date:"Y-m-d" }} </td>
                                    <td>
                                        {{ result.date_of_testing|date:"Y-m-d" }}
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-warning">Testing Lab: {{ result.testing_laboratory }}</span>
                                        <br>
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-warning">Justification: {{ result.justification }}</span>
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-info">Last update: {{ result.date_updated|date:"Y-m-d" }}</span>
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-info">Last update by: {{ request.user.first_name }}
                                            {{ request.user.last_name }}
                                        </span>
                                    </td>
                                    <td> {{ result.date_dispatched|date:"Y-m-d" }} </td>
                                    <td> {{ result.created_by.first_name|title }}
                                        {{ result.created_by.last_name|title }}
                                        {{ result.created_by.phone_number }}
                                        <br>
                                        <br>
                                        <span style="font-size: 8px"
                                              class="badge alert-info">TAT: {{ result.tat }}
                                        </span>
                                    </td>
                                    {% if user.is_authenticated %}
                                        {% if user|has_group:'laboratory_staffs_labpulse' and user.id == result.created_by.id or request.user.is_superuser %}
                                            {% if not result.hide_update_button or request.user.is_superuser %}
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="{% url 'update_cd4_results' result.report_type result.id %}"
                                                               class="btn btn-info glow-button" role="button"><i
                                                                    class="fas fa-edit"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% elif user|has_group:'referring_laboratory_staffs_labpulse' %}
                                            {% if result.cd4_count_results <= 200 and result.report_type == "Current" %}
                                                {% if not result.hide_update_button or request.user.is_superuser %}
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="{% url 'update_cd4_results' result.report_type result.id %}"
                                                                   class="btn btn-info glow-button" role="button"><i
                                                                        class="fas fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Display the pagination links -->
                        <div class="mt-3">
                            {% if qi_list.has_other_pages %}
                                <ul class="pagination justify-content-end">
                                    {% if qi_list.has_previous %}
                                        <!-- request.GET.urlencode ensure that the filter parameters are preserved when
                                        navigating to another page.-->
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{{ request.GET.urlencode }}&page={{ qi_list.previous_page_number }}">Prev</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled"><span class="page-link">Prev</span></li>
                                    {% endif %}
                                    {% for i in qi_list.paginator.page_range %}
                                        {% if qi_list.number == i %}
                                            <li class="page-item active"><span class="page-link">{{ i }} <span
                                                    class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if qi_list.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{{ request.GET.urlencode }}&page={{ qi_list.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled page-item"><span class="page-link">Next</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </main>

    <script>
        const selectElement = document.getElementById("record-count");

        // Add event listener to handle change event
        selectElement.addEventListener("change", function () {
            // Store the selected value in local storage
            localStorage.setItem("selectedRecordCount", this.value);
            // Submit the form
            document.getElementById("record-form").submit();
        });

        // Set the selected value on page load
        window.addEventListener("load", function () {
            // Get the selected value from local storage
            const selectedRecordCount = localStorage.getItem("selectedRecordCount");
            if (selectedRecordCount) {
                // Set the selected value of the dropdown
                selectElement.value = selectedRecordCount;
            }
        });
    </script>
{% endblock %}