{% extends 'lab_pulse/index_lab_pulse.html' %}
{% load remove_underscores %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                {% if "facility" in title %}
                    <h6 class="display-6 fw-bold text-primary">CREATE FACILITY QI</h6>
                {% elif "program" in title %}
                    <h6 class="display-6 text-primary">CREATE {{ title|upper }} QI</h6>

                {% endif %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages|slice:":1" %}
                            <div class="alert alert-info col-md-12" role="alert">
                                <h6 class="d-flex justify-content-evenly">{{ message }}</h6>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if title == "update time" %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-4 mt-2 pr-5">
                            {{ form.hide_button_time|as_crispy_field }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Upload</button>
                    </form>
                {% elif title == "Results" %}
                    {% if request.user|has_group_permission:"unitid_staffs_labpulse" or request.user.is_superuser %}
                        <div class="col-md-12 alert alert-primary text-center">
                            <h4>Upload Biochemistry Result (s)</h4>
                        </div>
                        <form method="post" id="filter-form" class="row g-3" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Display Performed by input -->
                            <div class="col-12 col-md-6 col-lg-2 mt-4">
                                {{ form.performed_by|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mt-5">
                                {{ form.files }}
                            </div>
                            <!-- Conditionally display uploaded files label -->
                            <label id="uploaded-files-label" for="{{ form.files.id_for_label }}"
                                   style="display: none;">Uploaded
                                Files:</label>
                            <!-- Display uploaded file names dynamically -->
                            <ul id="uploaded-files-list"></ul>
                            <!-- Hidden input field to store files for server-side processing -->
                            <input type="hidden" name="uploaded_files" value="">
                            <div class="col-12 col-md-6 col-lg-2">
                                <button type="submit" class="btn btn-primary">Upload Results</button>
                            </div>
                        </form>
                        <hr>
                    {% endif %}
                    <div class="col-md-12 alert alert-primary text-center">
                        <h4>Customize your search or filter below</h4>
                    </div>
                    <div class="mt-3">
                        <form id="filter-form" class="row g-3" autocomplete="off">
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.full_name|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.results_interpretation|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.patient_id|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.sample_id|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.mfl_code|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.collection_date_gte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.collection_date_lte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.result_time_lte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.result_time_gte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.result_gte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                {{ my_filters.form.result_lte|as_crispy_field }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mt-2 pt-1">
                                <label for="record_count" class="form-label mb-0">Records Per Page</label>
                                <select name="record_count" id="record_count" class="form-select">
                                    {% for option_value, option_label in record_count_options %}
                                        <option value="{{ option_value }}"
                                                {% if request.GET.record_count == option_value %}
                                                selected {% endif %}>
                                            {{ option_label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="row">
                                    <div class="mt-4">
                                        <button class="btn btn-outline-primary btn-sm" type="submit">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {#                            <div class="col-12 col-md-6 col-lg-2">#}
                            {#                                <div class="row">#}
                            {#                                    <div class="mt-4">#}
                            {#                                        <a class="nav-link"#}
                            {#                                           href="{% url 'load_biochemistry_results' %}">#}
                            {#                                            <span data-feather="refresh-cw" class="align-text-bottom"></span>#}
                            {#                                            Reset Filters#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="row">
                                    <div class="mt-4">
                                        <button id="reset-button" class="btn btn-outline-primary btn-sm"
                                                type="button">
                                            <i data-feather="refresh-cw"></i> Reset Filters
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if biochemistry_qs %}
                        <hr>
                        <h4 class="fw-bold text-primary text-center"> Summary </h4>
                        <hr>
                        <div>
                            <div class="row">
                                {% if summary_fig_per_text is not None %}
                                    <div class="col-6">
                                        {{ summary_fig_per_text|safe }}
                                    </div>
                                {% endif %}
                                {% if summary_fig is not None %}
                                    <div class="col-6">
                                        {{ summary_fig|safe }}
                                    </div>
                                {% endif %}
                                <hr class="mt-3">
                                {% if tests_summary_fig is not None %}
                                    <div class="col">
                                        {{ tests_summary_fig|safe }}
                                    </div>
                                    <hr class="mt-3">
                                {% endif %}
                            </div>
                        </div>
                        {% if weekly_trend_fig is not None %}
                            <div class="col">
                                {{ weekly_trend_fig|safe }}
                            </div>
                            <hr class="mt-3">
                        {% endif %}
                        {% if test_trend_fig is not None %}
                            {% for key, trend_fig in test_trend_fig.items %}
                                <div class="col">
                                    {{ trend_fig|safe }}
                                </div>
                                <hr class="mt-3">
                            {% endfor %}
                        {% endif %}

                        <div class="row justify-content-around">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                {% if record_count != "all" or biochemistry_qs|length <= threshold_of_result_to_display %}
                                    <h4 class="fw-bold text-primary"> {{ title }} </h4>
                                {% else %}
                                    <h6 class="text-primary text-sm-left"> > {{ threshold_of_result_to_display }}
                                        records </h6>
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                                <a href="{% url 'generate_biochemistry_pdf' %}" class="btn btn-warning btn-block mb-2"
                                   role="button"> Download PDF</a>
                            </div>
                        </div>
                        {% if record_count != "all" or biochemistry_qs|length <= threshold_of_result_to_display %}
                            <table class="table table-striped table-hover" style="font-size: small;">
                                <thead class="thead-dark">
                                <tr>
                                    <th style="font-size: x-small"> Sample Id.</th>
                                    <th style="font-size: x-small"> Patient Unique No.</th>
                                    <th style="font-size: x-small"> Test</th>
                                    <th style="font-size: x-small"> Test Full Name</th>
                                    <th style="font-size: x-small"> Results</th>
                                    <th class="text-center" style="font-size: x-small">Low Limit</th>
                                    <th style="font-size: x-small"> High Limit</th>
                                    <th style="font-size: x-small"> Units</th>
                                    <th style="font-size: x-small"> Reference Class</th>
                                    <th style="font-size: x-small"> Collection date</th>
                                    <th style="font-size: x-small"> Result time</th>
                                    <th style="font-size: x-small"> Upload date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for result in biochemistry_qs %}
                                    <tr>
                                        <td> {{ result.sample_id }} </td>
                                        {% if result.result >= result.high_limit %}
                                            <td class="fw-bold text-danger"> {{ result.patient_id }} </td>
                                        {% elif result.result <= result.low_limit %}
                                            <td class="fw-bold text-warning"> {{ result.patient_id }} </td>
                                        {% else %}
                                            <td class="fw-bold"> {{ result.patient_id }} </td>
                                        {% endif %}
                                        <td> {{ result.test }} </td>
                                        <td> {{ result.full_name }} </td>
                                        {% if result.result >= result.high_limit %}
                                            <td class="fw-bold text-danger"> {{ result.result }} </td>
                                        {% elif result.result <= result.low_limit %}
                                            <td class="fw-bold text-warning"> {{ result.result }} </td>
                                        {% else %}
                                            <td class="fw-bold"> {{ result.result }} </td>
                                        {% endif %}
                                        <td> {{ result.low_limit }} </td>
                                        <td> {{ result.high_limit }} </td>
                                        <td> {{ result.units }} </td>
                                        <td> {{ result.reference_class }} </td>
                                        <td> {{ result.collection_date|date:"Y-m-d" }} </td>
                                        <td> {{ result.result_time|date:"Y-m-d" }} </td>
                                        <td> {{ result.date_created|date:"Y-m-d" }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <!-- Display the pagination links -->
                        <div class="mt-3">
                            {% if biochemistry_qs.has_other_pages %}
                                <ul class="pagination justify-content-end">
                                    {% if biochemistry_qs.has_previous %}
                                        <!-- request.GET.urlencode ensure that the filter parameters are preserved when navigating to another page.-->
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?{{ request.GET.urlencode }}&page={{ biochemistry_qs.previous_page_number }}">
                                                Prev</a>
                                        </li>
                                    {% endif %}

                                    <!-- Display the first page -->
                                    {% if biochemistry_qs.number > 3 %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{{ request.GET.urlencode }}&page=1">1</a>
                                        </li>
                                    {% endif %}
                                    <!-- Display ellipsis if there are middle pages -->
                                    {% if biochemistry_qs.number > 4 %}
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    {% endif %}
                                    <!-- Display pages around the current page -->
                                    {% for i in biochemistry_qs.paginator.page_range %}
                                        {% if i > biochemistry_qs.number|add:-3 and i < biochemistry_qs.number|add:3 %}
                                            {% if biochemistry_qs.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Display ellipsis if there are middle pages -->
                                    {% if biochemistry_qs.number < biochemistry_qs.paginator.num_pages|add:-3 %}
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    {% endif %}
                                    <!-- Display the last page -->
                                    {% if biochemistry_qs.number|add:2 < biochemistry_qs.paginator.num_pages %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{{ request.GET.urlencode }}&page={{ biochemistry_qs.paginator.num_pages }}">{{ biochemistry_qs.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}

                                    {% if biochemistry_qs.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?{{ request.GET.urlencode }}&page={{ biochemistry_qs.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled page-item"><span class="page-link">Next</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% elif title == "UPLOAD STANDFORD PDFS" %}
                    {% if request.user|has_group_permission:"unitid_staffs_labpulse" or request.user.is_superuser %}
                        <div class="col-md-12 alert alert-primary text-center">
                            <h4>Stanford DRT PDF Integration</h4>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-2">
                                <div class="row">
                                    <div class="mt-4">
                                        <button id="reset-button" class="btn btn-outline-primary btn-sm"
                                                type="button">
                                            <i data-feather="refresh-cw"></i> Reset Filters
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <form method="post" id="filter-form" class="row g-3" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Display facility_name input -->
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.patient_name|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.sex|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.age_unit|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.age|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.contact|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.specimen_type|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.request_from|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.requesting_clinician|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.date_collected|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.date_received|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.date_reported|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.performed_by|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.date_tested|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.reviewed_by|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-4">
                                    {{ form.date_reviewed|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 col-lg-2 mt-5">
                                    {{ form.files }}
                                </div>

                                <!-- Conditionally display uploaded files label -->
                                <label id="uploaded-files-label" for="{{ form.files.id_for_label }}"
                                       style="display: none;">Uploaded
                                    Files:</label>
                                <!-- Display uploaded file names dynamically -->
                                <ul id="uploaded-files-list"></ul>
                                <!-- Hidden input field to store files for server-side processing -->
                                <input type="hidden" name="uploaded_files" value="">
                                <div class="col-12 col-md-6 col-lg-2">
                                    <button type="submit" class="btn btn-primary mt-4">Compile PDF</button>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            {% if show_download_button %}
                                {% if ccc_num %}
                                    <p>DRT Report for <strong>{{ ccc_num }}</strong> has been generated. Click the
                                        link below to download:</p>
                                {% else %}
                                    <p>DRT Report has been generated. Click the link below to download:</p>
                                {% endif %}
                                <a href="{% url 'generate_drt_pdf' %}"
                                   class="btn btn-warning btn-block mb-2"
                                   role="button"> Download DRT REPORT </a>
                            {% endif %}
                        </div>
                        <hr>
                    {% endif %}
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileInput" name="file">
                                <label class="custom-file-label" for="fileInput">Choose file</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Upload</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}