{% extends 'feedback/index_lab_pulse.html' %}
{% load remove_underscores %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

<!-- apps_list.html -->

{% block content %}
    <!-- Main content section -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h3 class="display-6 text-primary text-center">{{ title }}</h3>
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if messages %}
                <!--group the messages by their text and display only one message for each unique text-->
                {% regroup messages by message as message_list %}
                {% for message in message_list %}
                    <div class="alert alert-info col-12 animated fadeIn" role="alert">
                        <h5 class="d-flex justify-content-evenly small">{{ message.grouper }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Insert the feedback component HTML here -->
            <div class="card p-4 mb-4">
                <div class="card-header">
                    <h2>Leave your feedback</h2>
                </div>
                <div class="card-body">
                    <form action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea id="comment" name="comment" class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary btn-lg mt-2">Provide feedback</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}