{% extends 'dqa/index_dqa.html' %}
{% load crispy_forms_filters %}
{#{% extends 'cqi/index.html' %}#}
{% load static %}
{% load crispy_forms_tags %}
{% regroup sub_counties by counties as sub_counties_by_county %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="col-md-12">
                <h6 class="display-6 text-primary text-center">DQA Summary Dashboard</h6>
                <hr>
                {% if messages %}
                    <ul class="messages">
                        {% if messages|length >= 1 %}
                            {% for message in messages|slice:":1" %}
                                {% if "dqa" in message|lower %}
                                    <div class="mb-3">
                                        <a href="{% url 'add_data_verification' %}"
                                           class="btn btn-success flicker-button" role="button"> ADD FACILITY DQA
                                            DATA </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="alert alert-info col-12 animated fadeIn" role="alert">
                            {% for message in messages|slice:":1" %}
                                <h5 class="d-flex justify-content-evenly small">{{ message }}</h5>
                            {% endfor %}
                        </div>
                    </ul>
                {% endif %}
                <div>
                    {{ quarterly_trend_fig|safe }}
                </div>
                <form class="row g-3" id="dqa-form" method="POST" class="mt-5" enctype='multipart/form-data'
                      autocomplete="off">
                    {% csrf_token %}
                    <p> Please choose quarter, year, facility and then submit </p>
                    <div class="col-md-2 mt-2">
                        {{ form.quarter|as_crispy_field }}
                    </div>
                    <div class="col-md-2 mt-2">
                        {{ year_form.year|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mt-2">
                        {{ facility_form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-3 mb-4">
                        <input class="btn btn-success mt-1" type="submit" name="submit_data" value="Submit">
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-7">
                        {% if dqa %}
                            {% for data in dqa|slice:":1" %}
                                <h4 class="h5">Facility: {{ data.facility_name.name }} </h4>
                                <h6 class="h6">MFL Code: {{ data.facility_name.mfl_code }} </h6>
                                <h6 class="h6">Date Of Audit: {{ data.date_modified }} </h6>
                                <h6 class="h6">Period: {{ quarter_year }} </h6>
                                <h6 class="h6">Number Of Audit Team: {{ audit_team.count }} </h6>
                            {% endfor %}
                            </div>
                            {% if average_dictionary %}
                                <div class="col-md-3">
                                    {% if audit_team %}
                                        <a href="{% url 'generate-pdf' %}" class="btn btn-warning mb-2" role="button">DOWNLOAD
                                            PDF</a>
                                        {% if audit_team.count < 30 %}
                                            <a href="{% url 'add_audit_team' selected_facility.id quarter_year %}"
                                               class="btn btn-success flicker-button mb-2" role="button">Add audit
                                                team</a>
                                        {% endif %}
                                    {% else %}
                                        {% if audit_team.count < 30 %}
                                            <a href="{% url 'add_audit_team' selected_facility.id quarter_year %}"
                                               class="btn btn-success flicker-button mb-2" role="button">Add audit
                                                team</a>
                                        {% endif %}
                                    {% endif %}
                                    <table class="table table-striped table-hover" style="font-size: x-small;">
                                        <thead class="thead-dark text-center">
                                        <tr>
                                            <th colspan="2">COLOUR CODE KEY</th>
                                        </tr>
                                        <tr>
                                            <th>Color code</th>
                                            <th>Range</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>Green</strong>
                                            </td>
                                            <td class="text-primary text-center">
                                                <strong> >= 2.5</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>Yellow</strong>
                                            </td>
                                            <td class="text-primary text-center">
                                                <strong> >= 1.5 and < 2.5</strong>
                                            </td>
                                        <tr>
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>Red</strong>
                                            </td>
                                            <td class="text-primary text-center">
                                                <strong> < 1.5</strong>
                                            </td>
                                        </tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                            <div class="col-md-2">
                                {% if system_assessments %}
                                    {% if dicts %}
                                        <a href="{% url 'dqa_work_plan_create' selected_facility.id quarter_year %}"
                                           class="btn btn-success flicker-button" role="button">ADD
                                            DQA WORK PLAN</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                </div>
                <hr>
                <div>
                    {% if average_dictionary %}
                        <h6 class="text-primary text-center">SYSTEMS ASSESSMENT RESULTS</h6>

                        <table class="table table-striped table-hover" style="font-size: x-small;">
                            <thead class="thead-dark text-center">
                            <tr>
                                <th>SUMMARY TABLE</th>
                                <th>I</th>
                                <th>II</th>
                                <th>III</th>
                                <th>IV</th>
                                <th>V</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th class="text-warning">
                                    Assessment of Data Management
                                    <br>
                                    and Reporting Systems
                                </th>
                                <th>M&E Structure, Functions and Capabilities</th>
                                <th>Data Management Processes</th>
                                <th>Indicator Definitions and Reporting Guidelines</th>
                                <th>Data-collection and Reporting Forms / Tools</th>
                                <th>EMR Systems</th>
                                <th class="text-warning">Site Average</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-primary">
                                    Average (per functional area)
                                </td>
                                {% for key,value in average_dictionary.items %}
                                    {% if key == "average_calculations_5" %}
                                        {% if value >= 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value >= 1.5 and value < 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value < 1.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for key,value in average_dictionary.items %}
                                    {% if key == "average_calculations_5_12" %}
                                        {% if value >= 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value >= 1.5 and value < 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value < 1.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for key,value in average_dictionary.items %}
                                    {% if key == "average_calculations_12_17" %}
                                        {% if value >= 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value >= 1.5 and value < 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value < 1.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for key,value in average_dictionary.items %}
                                    {% if key == "average_calculations_17_21" %}
                                        {% if value >= 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value >= 1.5 and value < 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value < 1.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for key,value in average_dictionary.items %}
                                    {% if key == "average_calculations_21_25" %}
                                        {% if value >= 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: green; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value >= 1.5 and value < 2.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: yellow; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% elif value < 1.5 %}
                                            <td class="text-center text-black"
                                                style="background-color: red; border: 1px solid black;">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ value }}</strong>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if site_avg >= 2.5 %}
                                    <td class="text-center text-black"
                                        style="background-color: green; border: 2px solid #6c757d;">
                                        <strong>{{ site_avg }}</strong>
                                    </td>
                                {% elif site_avg > 1.5 and site_avg < 2.5 %}
                                    <td class="text-center text-black"
                                        style="background-color: yellow; border: 2px solid #6c757d;">
                                        <strong>{{ site_avg }}</strong>
                                    </td>
                                {% elif site_avg < 1.5 %}
                                    <td class="text-center text-black"
                                        style="background-color: red; border: 2px solid #6c757d;">
                                        <strong>{{ value }}</strong>
                                    </td>
                                {% else %}
                                    <td class="text-center text-black"
                                        style="background-color: ghostwhite; border: 2px solid #6c757d;">
                                        <strong>{{ site_avg }}</strong>
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="row">
                    {% if plot_div %}
                        <div>
                            {{ plot_div|safe }}
                        </div>
                    {% endif %}
                    {% if dicts %}
                        <p class="text-center text-primary">
                            The DQA summary charts below are ordered from the indicators with the greatest discrepancies
                            to the least.
                        </p>
                        {% for indicator,fig in dicts.items %}
                            <div class="col-md-4 mt-3">
                                <div class="card">
                                    <div class="col">
                                        <div class="text text-center">
                                            {{ indicator }}
                                        </div>
                                        <div class="row">
                                            <div class="chart-container">{{ fig|safe }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if data %}
                    <hr>
                    <h6 class="display-6 text-primary text-center">Service Quality Assessment (SQA)</h6>
                    <hr>
                    {% for model_name, model_data in data.items %}
                        <table class="table table-striped table-hover" style="font-size: x-small;">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 45%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                                <col style="width: 20%;">
                                <col style="width: 10%;">
                            </colgroup>
                            <thead class="thead-dark text-left">
                            <tr>
                                <th>#</th>
                                <th>Service Quality Assessment: <span class="text-warning">{{ model_name|upper }}</span>
                                </th>
                                <th>Answer</th>
                                <th>Calculation</th>
                                <th>Auditor Note</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for assessment in model_data.system_assessments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ assessment.description }}</td>
                                    {% with option=assessment.calculations %}
                                        {% if option >= 2.5 %}
                                            <td class="text-center text-black" style="background-color: green">
                                                <strong>{{ assessment.dropdown_option }}</strong></td>
                                            <td class="text-center text-black" style="background-color: green">
                                                <strong>{{ assessment.calculations }}</strong></td>
                                        {% elif option >= 1.5 and option < 2.5 %}
                                            <td class="text-center text-black" style="background-color: yellow">
                                                <strong>{{ assessment.dropdown_option }}</strong></td>
                                            <td class="text-center text-black" style="background-color: yellow">
                                                <strong>{{ assessment.calculations }}</strong></td>
                                        {% elif option < 1.5 %}
                                            <td class="text-center text-black" style="background-color: red">
                                                <strong>{{ assessment.dropdown_option }}</strong></td>
                                            <td class="text-center text-black" style="background-color: red">
                                                <strong>{{ assessment.calculations }}</strong></td>
                                        {% else %}
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ average }}</strong></td>
                                            <td class="text-center text-black" style="background-color: ghostwhite">
                                                <strong>{{ assessment.calculations }}</strong></td>
                                        {% endif %}
                                    {% endwith %}
                                    <td>{{ assessment.auditor_note }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="text-right"><strong>Average</strong></td>
                                <td></td>
                                <td></td>
                                {% with average=model_data.average_data.average %}
                                    {% if average >= 2.5 %}
                                        <td class="text-center text-black" style="background-color: green">
                                            <strong>{{ average }}</strong></td>
                                    {% elif average >= 1.5 and average < 2.5 %}
                                        <td class="text-center text-black" style="background-color: yellow">
                                            <strong>{{ average }}</strong></td>
                                    {% elif average < 1.5 %}
                                        <td class="text-center text-black" style="background-color: red">
                                            <strong>{{ average }}</strong></td>
                                    {% else %}
                                        <td class="text-center text-black" style="background-color: ghostwhite">
                                            <strong>{{ average }}</strong></td>
                                    {% endif %}
                                {% endwith %}
                                <td class="text-right"><strong>Denominator</strong></td>
                                <td colspan="2"><strong>{{ model_data.average_data.total_score }}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% else %}
                    <p>No SQA data available.</p>
                {% endif %}
            </div>
        </div>
    </main>
    <script>
        // When the document is ready
        $(document).ready(function () {
            // Listen for changes or clears to the facility select element
            $('#id_name').on('input change', function () {
                if ($(this).val() === '') {
                    $('#dqa-form').submit();
                } else {
                    $('#dqa-form').submit();
                }
            });
        });
        // When the DOM is fully loaded
        document.addEventListener("DOMContentLoaded", () => {
            // Get references to the select elements
            const yearSelect = document.getElementById("year-select");
            const quarterSelect = document.getElementById("quarter-select");
            const facilitySelect = document.getElementById("id_name");
            const form = document.getElementById("dqa-form");

            // Function to populate the facilities select element
            const populate_Facilities = () => {
                // Get the selected year and quarter
                const year = yearSelect.value;
                const quarter = quarterSelect.value;

                // If year and quarter are selected
                if (year && quarter) {
                    // Clear the facilities select element
                    facilitySelect.innerHTML = "<option value=\"\">Select facility</option>";
                    // Add options for each facility
                    // TO DO: populate facilities select element
                }
            };

            // Listen for changes to the year and quarter selects
            yearSelect.addEventListener("change", populate_Facilities);
            quarterSelect.addEventListener("change", populate_Facilities);

            // Listen for changes to the facility select
            facilitySelect.addEventListener("change", () => {
                // Submit the form
                form.submit();
            });

            // Listen for changes to the year and quarter selects (submit form)
            yearSelect.addEventListener("change", () => {
                form.submit();
            });
            quarterSelect.addEventListener("change", () => {
                form.submit();
            });
        });
    </script>
{% endblock %}