{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold text-primary">{{ title }} </h1>
      {% if "facility" in level %}
      <h4 class="display-6">FACILITY: {{ qi_project.facility_name}}</h4>
      {% elif "program" in level %}
      <h4 class="display-6">PROGRAM: {{ qi_project.program}}</h4>
      {% elif "profile" in profile %}
      <h4 class="display-6">UPDATE PROFILE</h4>
      {% endif %}
      {% if not profile %}
          <h6 class="mb-4 mt-4">CQI PROJECT: {{ qi_project.project_title}}</h6>
{#          {% endfor %}#}



          <div class="row">
{#              <div class="col d-flex justify-content-between">#}
                <div class="col-md-6">
                       <strong>OBJECTIVE: </strong>{{ qi_project.objective }}
                  </div>
                  <div class="col-md-6">
                       <strong>SUB-COUNTY: </strong>{{ qi_project.sub_county }}
                  </div>
                  <div class="col-md-6">
                       <strong>NUMERATOR: </strong> {{ qi_project.numerator }}
                  </div>
                  <div class="col-md-6">
                       <strong>DENOMINATOR: </strong>{{ qi_project.denominator }}
                  </div>
{#              </div>#}
          </div>
       {% endif %}
        <form class="row" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}
{#            {{ form|crispy}}#}
            {% for field in form %}
                {% if "note" in field.html_name or "descrip" in field.html_name %}
                    <div class="col-md-6 mt-4">
                    {{ field|as_crispy_field }}
                </div>
                    {% else %}
                    <div class="col-md-4 mt-4">
                    {{ field|as_crispy_field }}
                </div>

                {% endif %}

            {% endfor %}
            <div class="col-md-4 mt-4">
                <input class="btn btn-success mt-1" type="submit" value="Submit">
            </div>
        {% if form.errors %}
                    <div class="alert alert-danger mt-4">
                        {{ form.errors }}
                    </div>
                {% endif %}

        </form>
      </div>
    </div>
</main>
{% endblock %}