{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
{#          {% for facility_name in facility %}#}
          <h4 class="display-6">FACILITY: {{ qi_project.facility_name}}</h4>
          <h6 class="mb-4 mt-4">CQI PROJECT: {{ qi_project.project_title|upper }}</h6>
{#          {% endfor %}#}
          <div class="row">
              <div class="col d-flex justify-content-between">
                  <div class=>
                       <strong>SUB-COUNTY: </strong>{{ qi_project.sub_county }}
                  </div>
                  <div>
                       <strong>NUMERATOR: </strong> {{ qi_project.numerator }}
                  </div>
                  <div>
                       <strong>DENOMINATOR: </strong>{{ qi_project.denominator }}
                  </div>
              </div>
          </div>


        <form class="row" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
        {% csrf_token %}
{#        {{ form|crispy}}#}
        {% for field in form %}
{#            {% if "tested" in field.html_name or "comment" in field.html_name %}#}
{#                <div class="col-md-6 mt-4">#}
{#                {{ field|as_crispy_field }}#}
{#            </div>#}
{#                {% else %}#}
                <div class="col-md-6 mt-4">
                {{ field|as_crispy_field }}
            </div>

{#            {% endif %}#}

        {% endfor %}
            <div class="col-md-4 mt-3">
                <input class="btn btn-success mt-1" type="submit" value="Add test of change">
            </div>

    </form>
      </div>
    </div>
{#<div class="container mt-3">#}
{#         <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy}}#}
{#         <input class="btn btn-success mt-1" type="submit" value="Add QI cqi">#}
{#    </form>#}
{#</div>#}


    </main>
{% endblock %}