{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
          <div class="alert alert-info">
              <h4 class="d-flex justify-content-evenly mb-5">CONFIRM IF FIELDS FOR YOUR PROJECT ARE AVAILABLE</h4>
          </div>

          <div class="d-flex justify-content-evenly">
          </div>
        <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}
{#            {{ form|crispy}}#}
            <div class="col-md-4 mt-4">
                {{ form.qi_manager|as_crispy_field }}
                <a href="{% url 'add_qi_manager' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD QI MANAGER</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ form.departments|as_crispy_field }}
                <a href="{% url 'add_department' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD DEPARTMENT</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ form.project_category|as_crispy_field }}
                <a href="{% url 'add_category' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD PROJECT COMPONENT</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ form.facility_name|as_crispy_field }}
                <a href="{% url 'add_facility' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD FACILITY</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ county_form.county|as_crispy_field }}
                <a href="{% url 'add_county' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD COUNTY</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ form.hub|as_crispy_field }}
                <a href="{% url 'add_hub' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD HUB</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ form.sub_county|as_crispy_field }}
                <a href="{% url 'add_subcounty' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD SUBCOUNTY</a>
            </div>
            <div class="col-md-4 mt-4">
                {{ trigger_form.name|as_crispy_field }}
                <a href="{% url 'add_trigger' %}" class="btn btn-sm btn-success mt-4 btn-block" role="button">ADD TRIGGER</a>
            </div>
        </form>
          <p>If a field is missing, please add by clicking respective buttons above before proceeding</p>
{#          <div class="d-flex justify-content-between mt-3 mb-3">#}
{#              <a href="{% url 'update_fields' %}" class="btn btn-sm btn-warning" role="button">Update</a>#}
{#          </div>#}
          <div class="col-md-3 mt-4 pt-2">
{#            <a href="{% url 'choose_project_level' %}" <i class="btn btn-sm btn-secondary fa fa-step-forward" aria-hidden="true"></i>role="button">CONTINUE</a>#}
              <a href="{% url 'choose_project_level' %}" role="button">

                  <i class="btn btn-sm btn-secondary fa fa-step-forward" aria-hidden="true"> CONTINUE</i>
                </a>

        </div>
      </div>
    </div>
</main>
{% endblock %}