{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
    <div class="p-5 mb-4 bg-light rounded-3">

      <div class="container-fluid py-5">
        <h4 class="display-6 fw-bold d-flex justify-content-center ">{{ title }}</h4>
          <hr>
{#        <p class="col-md-8 fs-4 ">CHOOSE THE LEVEL OF THE QI PROJECT</p>#}
{#          <div class="alert alert-info">#}
{#              <h4 class="d-flex justify-content-evenly mb-5">CONFIRM IF FIELDS FOR YOUR PROJECT ARE AVAILABLE</h4>#}
{#          </div>#}

          <div class="d-flex justify-content-evenly mt-5">
          </div>
        <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}
{#            {{ form|crispy}}#}
            {% if "Root" in title %}
                <div class="col-md-12">
                {{ form.root_cause_image|as_crispy_field }}
            </div>
                {% else %}
                <div class="col-md-12">
                {{ form.baseline_status|as_crispy_field }}
            </div>

            {% endif %}

{#            <div class="col-md-3 mt-4">#}
{#                <i class="fas fa-info-circle" title="The name of the stakeholder.">#}
{#                </i>#}
{#                {{ stakeholderform.name|as_crispy_field }}#}
{#            </div>#}
{#            <div class="col-md-3 mt-4">#}
{#                <i class="fas fa-info-circle" title="The role or responsibilities of the stakeholder in the cqi.">#}
{#                </i>#}
{#                {{ stakeholderform.role|as_crispy_field }}#}
{#            </div>#}
{#            <div class="col-md-3 mt-4">#}
{#                <i class="fas fa-info-circle" title="The department or unit within the organization that the stakeholder belongs to.">#}
{#                </i>#}
{#                {{ stakeholderform.department|as_crispy_field }}#}
{#            </div>#}
{#            <div class="col-md-3 mt-4">#}
{#                <i class="fas fa-info-circle" title="Contact information for the stakeholder, such as their email address or phone number.">#}
{#                </i>#}
{#                {{ stakeholderform.contact_info|as_crispy_field }}#}
{#            </div>#}
{##}
{#            <div class="col-md-6 mt-4">#}
{#                <i class="fas fa-info-circle" title="How the stakeholder is impacted by the cqi, or how they can contribute to its success.">#}
{#                </i>#}
{#                <p class="alert alert-info">Impact column describes how each stakeholder is impacted by the cqi, or how they can#}
{#                    contribute to its success.#}
{#                </p>#}
{#                {{ stakeholderform.impact|as_crispy_field }}#}
{#            </div>#}
{#            <div class="col-md-6 mt-4">#}
{#                <i class="fas fa-info-circle" title="Any additional notes or comments about the stakeholder, such as any specific expertise or experience they bring to the cqi.">#}
{#                </i>#}
{#                {{ stakeholderform.notes|as_crispy_field }}#}
{#            </div>#}
            <div class="col-md-3 mt-2">
                <input type="submit" class="btn btn-sm btn-success mt-3">
            </div>

        </form>
{#          <p>If missing, please add below before proceeding</p>#}
{#          <div class="d-flex justify-content-between">#}
{#              <a href="{% url 'add_qi_manager' %}" class="btn btn-sm btn-success" role="button">ADD QI MANAGER</a>#}
{#              <a href="{% url 'add_department' %}" class="btn btn-sm btn-success" role="button">ADD DEPARTMENT</a>#}
{#              <a href="{% url 'add_category' %}" class="btn btn-sm btn-success" role="button">ADD PROJECT COMPONENT</a>#}
{#              <a href="{% url 'add_facility' %}" class="btn btn-sm btn-success" role="button">ADD FACILITY</a>#}
{#              <a href="{% url 'add_county' %}" class="btn btn-sm btn-success" role="button">ADD COUNTY</a>#}
{#              <a href="{% url 'add_subcounty' %}" class="btn btn-sm btn-success" role="button">ADD SUBCOUNTY</a>#}
{##}
{#          </div>#}
{#          <div class="d-flex justify-content-between mt-3 mb-3">#}
{#              <a href="{% url 'update_fields' %}" class="btn btn-sm btn-warning" role="button">Update</a>#}
{#          </div>#}
{#          <div class="col-md-3 mt-4 pt-2">#}
{#            <a href="{% url 'choose_project_level' %}" class="btn btn-sm btn-secondary" role="button">CONTINUE</a>#}
{#        </div>#}
      </div>
    </div>

{#    <div class="container-fluid py-5">#}
{#      <h4 class="d-flex justify-content-evenly mb-5">CHOOSE THE LEVEL OF THE QI PROJECT YOU WANT TO TRACK</h4>#}
{#      <div class="d-flex justify-content-evenly">#}
{#          <a href="{% url 'add_project_facility' %}" class="btn btn-sm btn-secondary mt-1">Facility</a>#}
{#          <a href="{% url 'add_project_subcounty' %}" class="btn btn-sm btn-secondary mt-1">Sub-county</a>#}
{#          <a href="{% url 'add_project_county' %}" class="btn btn-sm btn-secondary mt-1">County</a>#}
{#          <a href="{% url 'add_project_hub' %}" class="btn btn-sm btn-secondary mt-1">Hub</a>#}
{#          <a href="{% url 'add_project' %}" class="btn btn-sm btn-secondary mt-1">Program</a>#}
{#      </div>#}
{#    </div>#}
</main>
{% endblock %}