{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/rome.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>Calendar #5</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2 class="mb-5 text-center">Calendar #5 (Calendar Range)</h2>
          <form action="#" class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="input_from">From</label>
                <input type="text" class="form-control" id="input_from" placeholder="Start Date">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="input_from">To</label>
                <input type="text" class="form-control" id="input_to" placeholder="Start Date">
              </div>
            </div>
          </form>
        </div>
      </div>
          
    </div>
  </div>
    
    

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/rome.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>