{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h4 class="display-5 fw-bold">FACILITY NAME</h4>
        <p class="col-md-8 fs-4">COUNTY/SUBCOUNTY</p>
        <form method="post" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
         <input class="btn btn-success mt-1" type="submit" value="Add QI project">
    </form>
      </div>
    </div>
{#<div class="container mt-3">#}
{#         <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy}}#}
{#         <input class="btn btn-success mt-1" type="submit" value="Add QI cqi">#}
{#    </form>#}
{#</div>#}


    </main>
{% endblock %}