{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            {% if facility_name == "Fortnightly" %}
                <h4 class="text-success">CQI PROJECTS TRACKED EVERY TWO WEEKS</h4>
                {% else %}
            <h4 class="text-success">{{ facility_name|upper }}'S CQI PROJECTS</h4>
            {% endif %}
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="row mt-5">
        <div class="d-flex justify-content-evenly">
            {% if pro_perfomance_trial|length == 0 and pro_perfomance_trial|length == number_of_projects_created %}
                    <h6 >No QI projects so far </h6>
            {% elif pro_perfomance_trial|length == 0  or pro_perfomance_trial|length < number_of_projects_created %}
                {{ pro_perfomance_trial|length }}
                {{ number_of_projects_created }}
                 <h6 >{{ pro_perfomance_trial|length }} {{ title }} QI projects</h6>
                 <h6 >{{ number_of_projects_created }} {{ title }} QI projects</h6>

                <br>
                <h6 >{{ difference }} QI Project not tracked </h6>
            {% else %}
                <h6 >{{ number_of_projects_created }} {{ title }} QI projects</h6>
            {% endif %}
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
            <a href="{% url 'facilities_landing_page' %}" class="btn btn-primary">All projects</a>
            <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
        </div>
    {% if difference %}
{#        {% if difference > 0 and pro_perfomance_trial|length > 0 %}#}
        {% if pro_perfomance_trial %}
            <div class="container">
                <div class="d-flex justify-content-evenly mt-3">
                    <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
                        View QI projects not tracked
                    </a>
                </div>
                    <div class="collapse" id="collapseExampleTwo">
                        {% for project in projects %}
                            <div>
                                <ul>
                                    {% if project.id not in projects_tracked %}
                                        {% if project.facility_name %}
                                            <li><a href="{% url 'single_project' project.id %}">{{ project.project_title }}</a></li>
                                        {% elif project.sub_county %}
                                            <li><a href="{% url 'single_project_subcounty' project.id %}">{{ project.project_title }}</a></li>
                                        {% elif project.program %}
                                            <li><a href="{% url 'single_project_program' project.id %}">{{ project.project_title }}</a></li>
                                        {% elif project.county %}
                                            <li><a href="{% url 'single_project_county' project.id %}">{{ project.project_title }}</a></li>
                                        {% elif project.hub %}
                                            <li><a href="{% url 'single_project_hub' project.id %}">{{ project.project_title }}</a></li>
                                       {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
            </div>
        {% else%}
            <div class="container">
                <div class="d-flex justify-content-evenly mt-3">
                    <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
                    View QI projects not tracked
                    </a>
                </div>
                <div class="collapse" id="collapseExampleTwo">
                    {% for project in projects %}
                        <div>
                            <ul>
                                {% if project.facility_name %}
                                    <li><a href="{% url 'single_project' project.id %}">{{ project.project_title }}</a></li>
                                {% elif project.sub_county %}
                                    <li><a href="{% url 'single_project_subcounty' project.id %}">{{ project.project_title }}</a></li>
                                {% elif project.program %}
                                    <li><a href="{% url 'single_project_program' project.id %}">{{ project.project_title }}</a></li>
                                {% elif project.county %}
                                    <li><a href="{% url 'single_project_county' project.id %}">{{ project.project_title }}</a></li>
                                {% elif project.hub %}
                                    <li><a href="{% url 'single_project_hub' project.id %}">{{ project.project_title }}</a></li>
                               {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
      <div class="container-fluid py-5">
        <div class="mt-auto p-3" style="background-color: #f6f6ff;">
            <div class="row" >
                {% for key,values in pro_perfomance_trial.items %}
                    {% for qi in projects %}
                        {% if qi.id == key %}
                            <div class="col-sm-6 mt-3" >
                                <div class="card " >
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="col">
                                                {% if qi.facility_name %}
                                                    <a href="{% url 'facility_filter_project' qi.facility_name %}" class="btn btn-primary text-sm-start" style="font-size: xx-small">FACILITY: {{ qi.facility_name }}</a>
                                                    <br>
                                                    <a href="{% url 'single_project' qi.id %}" class="btn btn-success mt-1 text-sm-start" style="font-size: xx-small">PROJECT: {{ qi.project_title }}</a>
                                                {% elif qi.sub_county %}
                                                     <a href="{% url 'facility_filter_project' qi.sub_county %}" class="btn btn-primary text-sm-start" style="font-size: xx-small">SUB COUNTY: {{ qi.sub_county }}</a>
                                                    <br>
                                                    <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-success mt-1 text-sm-start" style="font-size: xx-small">PROJECT: {{ qi.project_title }}</a>
                                                {% elif qi.program %}
                                                     <a href="{% url 'facility_filter_project' qi.program %}" class="btn btn-primary text-sm-start" style="font-size: xx-small">PROGRAM: {{ qi.program }}</a>
                                                    <br>
                                                    <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-success mt-1 text-sm-start" style="font-size: xx-small">PROJECT: {{ qi.project_title }}</a>
                                                {% elif qi.county %}
                                                     <a href="{% url 'facility_filter_project' qi.county %}" class="btn btn-primary text-sm-start" style="font-size: xx-small">COUNTY: {{ qi.county }}</a>
                                                    <br>
                                                    <a href="{% url 'single_project_county' qi.id %}" class="btn btn-success mt-1 text-sm-start" style="font-size: xx-small">PROJECT: {{ qi.project_title }}</a>
                                                {% elif qi.hub %}
                                                     <a href="{% url 'facility_filter_project' qi.hub %}" class="btn btn-primary text-sm-start" style="font-size: xx-small">HUB: {{ qi.hub }}</a>
                                                    <br>
                                                    <a href="{% url 'single_project_hub' qi.id %}" class="btn btn-success mt-1 text-sm-start" style="font-size: xx-small">PROJECT: {{ qi.project_title }}</a>
                                                {% endif %}
                                            <div>
                                                {{ values|safe }}
                                            </div>

                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-2" >
                                            {% if qi.facility_name %}
                                                    <a href="{% url 'single_project' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>
                                                {% elif qi.sub_county %}
                                                    <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>
                                                {% elif qi.program %}
                                                    <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>
                                                {% elif qi.county %}
                                                    <a href="{% url 'single_project_county' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>
                                                {% elif qi.hub %}
                                                    <a href="{% url 'single_project_hub' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>
                                                {% endif %}
{#                                            <a href="{% url 'single_project' qi.id %}" class="btn btn-primary" style="font-size: xx-small">View project</a>#}
                                            <a href="{% url 'qicreator_filter_project' qi.created_by.username %}" class="btn btn-secondary" style="font-size: xx-small">Created by : {{ qi.created_by.username }}</a>
                                            {% if qi.county.county_name %}
                                                <a href="{% url 'county_filter_project' qi.county.county_name %}" class="btn btn-secondary mt-1" style="font-size: xx-small">County : {{ qi.county.county_name }}</a>
                                                {% endif %}
                                        </div>
                                            {% if qi.sub_county.sub_counties %}
                                            <a href="{% url 'sub_county_filter_project' qi.sub_county.sub_counties %}" class="btn btn-secondary" style="font-size: xx-small">Sub-county : {{ qi.sub_county.sub_counties }}</a>
                                                {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
    </div>
    </main>
{% endblock %}