{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <h4 class="text-success">{{ facility_name|upper }}'S CQI PROJECTS</h4>
    </div>
</div>

 <div class="p-5 mb-4 bg-light rounded-3">
    <div class="row mt-5">
    <div class="d-flex gap-2">
        <h5 >{{ projects.count }} Ongoing QI projects</h5>
        <a href="{% url 'facilities_landing_page' project_type='facility' %}" class="btn btn-sm btn-primary">All projects</a>
     {% if request.user.is_superuser %}
                    <a href="{% url 'add_project' %}" class="btn btn-sm btn-secondary">Add QI PROJECT</a>
                      {% else %}
                    <a href="{% url 'choose_project_level' %}" class="btn btn-sm btn-secondary">Add QI PROJECT</a>
                  {% endif %}
    </div>

      <div class="container-fluid py-5">

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
      {% for qi in search %}
           <div class="col-md-12">

    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title|upper}}</h6>
          <ul>
              <li>Facility : {{ qi.facility_name }}</li>
              <li>Problem background : {{ qi.problem_background|safe }}</li>
              <li>Objective : {{ qi.objective|safe }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : {{ qi.departments }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : {{ qi.created_by }}</li>


{#              <li>Number of post : {{ num_post }}</li>#}
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          <a href="#" class="btn btn-sm btn-success">Not started/started/archived</a>
          <a href="#" class="btn btn-sm btn-primary">Last updated on {{ qi.date_updated}} </a>
{#          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>#}
          {% if "facility" in project_type %}
                          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif "program" in project_type %}
                          <a href="{% url 'single_project_program' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif project_type == "county" %}
                          <a href="{% url 'single_project_county' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif project_type == "subcounty" %}
                          <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif "hub" in project_type %}
                          <a href="{% url 'single_project_hub' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% endif %}
              {% if user.id == qi.created_by.id %}
{#          <a href="{% url 'update_project' qi.id %}" class="btn btn-sm btn-warning">Update project</a>#}
              {% endif %}
      </div>
      </div>
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
    </div>

  </div>
          {% endfor %}
{#          {% else %}#}
{#<div class="alert alert-success col-12" role="alert">#}

{#    </div>#}
          {% for qi in projects %}
{#              {% if user.id == qi.created_by.id %}#}
           <div class="col-md-12">

    <div class="card h-100">
{#      <img src="..." class="card-img-top" alt="...">#}
      <div class="card-body">
        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title|upper}}</h6>
          <ul>
              <li>Facility : {{ qi.facility_name }}</li>
{#              <li>Facility : {{ qi. }}</li>#}
              <li>Problem background : {{ qi.problem_background|safe }}</li>
              <li>Objective : {{ qi.objective|safe }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : {{ qi.departments }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : {{ qi.created_by }}</li>


{#              <li>Number of post : {{ num_post }}</li>#}
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          <a href="#" class="btn btn-sm btn-success">Not started/started/archived</a>
          <a href="#" class="btn btn-sm btn-primary">Last updated on {{ qi.date_updated|date}} </a>
{#          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>#}
          {% if "facility" in project_type %}
                          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif "program" in project_type %}
                          <a href="{% url 'single_project_program' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif project_type == "county" %}
                          <a href="{% url 'single_project_county' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif project_type == "subcounty" %}
                          <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% elif "hub" in project_type %}
                          <a href="{% url 'single_project_hub' qi.id %}" class="btn btn-sm btn-secondary">View QI project</a>
                       {% endif %}
              {% if user.id == qi.created_by.id %}
{#          <a href="{% url 'update_project' qi.id %}" class="btn btn-sm btn-warning">Update project</a>#}
              {% endif %}
          {% if qi.id not in tracked_projects %}
{#            <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>#}
              {% if "facility" in project_type %}
                          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>
                       {% elif "program" in project_type %}
                          <a href="{% url 'single_project_program' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>
                       {% elif project_type == "county" %}
                          <a href="{% url 'single_project_county' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>
                       {% elif project_type == "subcounty" %}
                          <a href="{% url 'single_project_subcounty' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>
                       {% elif "hub" in project_type %}
                          <a href="{% url 'single_project_hub' qi.id %}" class="btn btn-sm btn-danger">UNTRACKED QI PROJECT</a>
                       {% endif %}
          {% endif %}
      </div>
      </div>
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
    </div>

  </div>
{#              {% endif %}#}
          {% endfor %}
{#      {% endif %}#}



{#            <h1 class="col-md-1">1</h1>#}
{#          {% for qi in qi_list %}#}
{#           <div class="col-md-12">#}
{##}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>#}
{#          <ul>#}
{#              <li>Facility : {{ qi.facility }}</li>#}
{#              <li>Problem background : {{ qi.problem_background }}</li>#}
{#              <li>Objective : {{ qi.objective }}</li>#}
{#              <li>Setting : {{ qi.settings }}</li>#}
{#              <li>Department : {{ qi.department }}</li>#}
{#              <li>Responsible person : {{ qi.responsible_people }}</li>#}
{#              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>#}
{#              <li>Created by : {{ qi.created_by }}</li>#}
{##}
{##}
{#              <li>Number of post : {{ num_post }}</li>#}
{#              {% if qi.comments%}#}
{#               <li>Comment (s) : {{ qi.comments }}</li>#}
{#              {% endif %}#}
{##}
{#          </ul>#}
{#          <div class="d-flex justify-content-evenly" >#}
{#          <a href="#" class="btn btn-sm btn-success">Not started/started/archived</a>#}
{#          <a href="#" class="btn btn-sm btn-primary">Last updated on {{ qi.date_updated}} </a>#}
{#          <a href="{% url 'single_project' qi.id %}" class="btn btn-sm btn-secondary">View QI cqi</a>#}
{#              {% if user.id == qi.created_by.id %}#}
{#          <a href="{% url 'update_project' qi.id %}" class="btn btn-sm btn-warning">Update cqi</a>#}
{#              {% endif %}#}
{#      </div>#}
{#      </div>#}
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}
{#          {% endfor %}#}




</div>
      </div>
    </div>
    </div>
{#<div class="container mt-3">#}
{#         <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy}}#}
{#         <input class="btn btn-sm btn-success mt-1" type="submit" value="Add QI cqi">#}
{#    </form>#}
{#</div>#}


    </main>
{% endblock %}