{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% url "facilities_landing_page" as facilities_landing_page %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     <div class="p-5 mb-4 bg-light rounded-3">
     <div class="d-flex justify-content-around">
          <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
          <a href="{% url 'facilities_landing_page' %}" class="btn btn-outline-success">FACILITY PROJECTS</a>

          <a href="#" class="btn btn-outline-success">SUB-COUNTIES PROJECTS</a>
          <a href="#" class="btn btn-outline-success">COUNTY PROJECTS</a>
          <a href="#" class="btn btn-outline-success">HUB PROJECTS</a>
          <a href="{% url 'program_landing_page' %}" class="btn btn-outline-success">PROGRAM PROJECTS</a>
     </div>
          <div class="container-fluid py-5">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
              <div class="col-md-6">
                   {% if facility_proj_performance %}
                <div class="card h-100">
                        {{ facility_proj_performance|safe }}
                </div>
                  {% endif %}
              </div>
              <div class="col-md-6">
                  {% if facility_proj_performance %}
                <div class="card h-100">
                      {{ status_viz|safe }}
                  </div>
                  {% endif %}
                </div>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
              <div class="col-md-12">
                  {% if departments_viz %}
                <div class="card h-100">
                      {{ departments_viz|safe }}
                  </div>
                  {% endif %}
                </div>
          </div>
          <div class="mt-3">
              <form class="row g-3" autocomplete="off">
                    <div class="col-md-2">
                        {{ my_filters.form.departments|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        {{ my_filters.form.problem_background|as_crispy_field }}
                    </div>
                  {% if "facility" in title %}
                      <div class="col-md-2">
                            {{ my_filters.form.facility_name|as_crispy_field }}
                      </div>
                  {% elif "program" in title %}
                      <div class="col-md-2">
                            {{ my_filters.form.program|as_crispy_field }}
                      </div>
                  {% endif %}

                    <div class="col-md-2">
                        {{ my_filters.form.settings|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        {{ my_filters.form.project_title|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        {{ my_filters.form.objective|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ my_filters.form.start_date|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ my_filters.form.end_date|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ my_filters.form.measurement_frequency|as_crispy_field }}
                    </div>
                    <div class="col-md-1 mt-4 pt-2">
                        <button class="btn btn-outline-primary" type="submit">search</button>
                    </div>
              </form>
              <!-- Display the pagination links -->
              <div class="col-md-2 mt-3">
                  {% if qi_list.has_other_pages %}
                        <ul class="pagination justify-content-end">
                           {% if qi_list.has_previous %}
                             <li class="page-item"><a class="page-link" href="?page={{ qi_list.previous_page_number }}">Prev</a></li>
                           {% else %}
                             <li class="disabled"><span class="page-link" >Prev</span></li>
                           {% endif %}
                           {% for i in qi_list.paginator.page_range %}
                                {% if qi_list.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                           {% endfor %}
                           {% if qi_list.has_next %}
                             <li class="page-item"><a class="page-link" href="?page={{ qi_list.next_page_number }}">Next</a></li>
                           {% else %}
                             <li class="disabled page-item"><span class="page-link">Next</span></li>
                           {% endif %}
                        </ul>
                  {% endif %}
              </div>

          </div>

          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">

          {% if search %}
              <div class="alert alert-primary col-12" role="alert">
                  <h6 >Search returned {{ qi_list|length  }} ongoing QI projects</h6>
              </div>
              {% for qi in search %}
                   <div class="col-md-12">
                   <div class="card h-100">
                   <div class="card-body">
                       <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h6>
                       <ul>
                       {% if "facility" in title %}
                          <li>Facility : <a href="{% url 'facility_project' qi.facility_name %} ">{{ qi.facility_name }} </a></li>
                       {% elif "program" in title %}
                          <li>Program : <a href="#">{{ qi.program }} </a></li>
                       {% endif %}
                          <li>Problem background : {{ qi.problem_background }} </li>
                          <li>Objective : {{ qi.objective }} </li>
                          <li>Setting : {{ qi.settings }} </li>
                          <li>Department : {{ qi.departments.department }} </li>
                          <li>Measurement Frequency : <a href="{% url 'measurement_frequency' qi.measurement_frequency %}">{{ qi.measurement_frequency }}</a></li>
                          <li>Created by : {{ qi.created_by }} </li>
                           {% if qi.comments%}
                               <li>Comment (s) : {{ qi.comments }} </li>
                           {% endif %}
                       </ul>
                  <div class="d-flex justify-content-evenly" >
                      {% if qi.measurement_status == "Canceled" %}
                            <a href="{% url 'canceled_projects' qi.measurement_status %}" class="btn btn-warning">STATUS: {{ qi.measurement_status }}</a>
                              {% elif qi.measurement_status == "Completed-or-Closed" %}
                            <a href="{% url 'completed_closed' qi.measurement_status %}" class="btn btn-danger">STATUS: {{ qi.measurement_status }}</a>
                              {% else %}
                              <a href="{% url 'ongoing' qi.measurement_status %}" class="btn btn-success">STATUS: {{ qi.measurement_status }}</a>
                          {% endif %}
{#                      <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>#}
                        <button>Last updated on {{ qi.date_updated}}</button>
                      <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
{#                      <a href="{% url 'untracked_projects' %}" class="btn btn-danger">UNTRACKED QI PROJECTS</a>#}
{#                      {% if user.id == qi.created_by.id %}#}
{#                            <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>#}
{#                      {% endif %}#}
                  {% if qi.id not in tracked_projects%}
                        <a href="{% url 'single_project' qi.id %}" class="btn btn-danger">UNTRACKED QI PROJECT</a>
{#                          <a href="{% url 'untracked_projects' %}" class="btn btn-danger">UNTRACKED QI PROJECTS</a>#}
                      {% endif %}
                  </div>
              </div>
            </div>
           </div>
          {% endfor %}
          {% else %}
          {% if tracked_projects %}
                <a href="{% url 'untracked_projects' %}" class="btn btn-danger">UNTRACKED QI PROJECTS</a>
          {% endif %}
          </div>
          </div>
          {% for qi in qi_list %}

              {% if qi.id not in archived_projects %}
              <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
                <div class="col-md-12">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="card-title"> {{ qi.project_title}}</h6>

                      <ul>
                      {% if "facility" in title %}
                          <li>Facility : <a href="{% url 'facility_project' qi.facility_name.mfl_code %} ">{{ qi.facility_name }} </a></li>
                       {% elif "program" in title %}
                          <li>Program : <a href="#">{{ qi.program }} </a></li>
                       {% endif %}
                          <li>Problem background : {{ qi.problem_background }} </li>
                          <li>Objective : {{ qi.objective }} </li>
                          <li>Setting : {{ qi.settings }} </li>
                          <li>Department : <a href="{% url 'department_project' qi.departments.department %} ">{{ qi.departments.department }}</a></li>
                          <li>Measurement Frequency : <a href="{% url 'measurement_frequency' qi.measurement_frequency %}">{{ qi.measurement_frequency }}</a></li>
                          <li>Created by :{{ qi.created_by.id }}
                          <a href="{% url 'qi_creators' qi.created_by.id %}">
                              {{ qi.created_by.first_name|title }} {{ qi.created_by.last_name|title }}
                          </a>
                          </li>
                          <li>QI manager : <a href="{% url 'qi_managers_projects' qi.qi_manager.id %}">{{ qi.qi_manager }}</a></li>
                          {% if qi.comments %}
                            <li>Comment (s) : {{ qi.comments }}</li>
                          {% endif %}
                      </ul>
                      <div class="d-flex justify-content-evenly" >

                      {% if qi.measurement_status == "Canceled" %}
                        <a href="{% url 'canceled_projects' qi.measurement_status %}" class="btn btn-warning">STATUS: {{ qi.measurement_status }}</a>
                          {% elif qi.measurement_status == "Completed-or-Closed" %}
                        <a href="{% url 'completed_closed' qi.measurement_status %}" class="btn btn-danger">STATUS: {{ qi.measurement_status }}</a>
                          {% elif qi.measurement_status == "Postponed" %}
                        <a href="{% url 'postponed' qi.measurement_status %}" class="btn btn-info">STATUS: {{ qi.measurement_status }}</a>

                          {% elif qi.measurement_status == 'Not started' %}
                        <a href="{% url 'not_started' qi.measurement_status %}" class="btn btn-info">STATUS: {{ qi.measurement_status }}</a>
                          {% else %}
                          <a href="{% url 'ongoing' qi.measurement_status %}" class="btn btn-success">Ongoing</a>
                      {% endif %}


{#                      <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>#}
                      <button class="btn btn-info" > Last updated on {{ qi.date_updated|date}} </button>
                      {% if "facility" in title %}
                            <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
                       {% elif "program" in title %}
                            <a href="{% url 'single_project_program' qi.id %}" class="btn btn-secondary">View QI project</a>
                       {% endif %}



{#                      {% if user.id == qi.created_by.id %}#}
{#                            <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>#}
{#                      {% endif %}#}
                      {% if qi.id not in tracked_projects%}
                        <a href="{% url 'single_project' qi.id %} " class="btn btn-danger">UNTRACKED QI PROJECT</a>
{#                          <a href="{% url 'untracked_projects' %}" class="btn btn-danger">UNTRACKED QI PROJECTS</a>#}
                      {% endif %}
                  </div>
                  </div>
                </div>
          </div>
              </div>
                  {% endif %}
                  {% endfor %}
          <!-- Display the pagination links -->
          <div class="mt-3">
          {% if qi_list.has_other_pages %}
                    <ul class="pagination justify-content-end">
                   {% if qi_list.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_list.previous_page_number }}">Prev</a></li>
                   {% else %}
                     <li class="disabled"><span class="page-link" >Prev</span></li>
                   {% endif %}
                   {% for i in qi_list.paginator.page_range %}
                     {% if qi_list.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                     {% else %}
                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                     {% endif %}
                   {% endfor %}
                   {% if qi_list.has_next %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_list.next_page_number }}">Next</a></li>
                   {% else %}
                     <li class="disabled page-item"><span class="page-link">Next</span></li>
                   {% endif %}
                    </ul>
                {% endif %}
          </div>

                  {% endif %}
            </div>
</main>
{% endblock %}