{% extends 'dqa/../dqa/index_dqa.html' %}
{#{% extends 'cqi/index.html' %}#}
{% load static %}
{% load crispy_forms_tags %}
{% regroup sub_counties by counties as sub_counties_by_county %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
           <div class="col-md-12">
           <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNjRhNzMzMGMtMDY5OC00YTcyLWI0N2ItMWQ5NDM0ZjYwMzA1IiwidCI6IjYyNjg2NDAwLTllZjMtNDBkOS04ZTQxLWRiMTUzNzRiZTViZSJ9" frameborder="0" width="800" height="600" allowFullScreen="true"></iframe>

           </div>
           </div>
    </main>
{% endblock %}