{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="row mt-5">
    <div class="d-flex justify-content-center">
        {% for project in projects|slice:":1" %}
            <h4 class="text-success">{{ project.user.first_name|title }} {{ project.user.last_name|title }}'s
                Contribution to QI Projects
            </h4>
        {% endfor %}

{#        <h4 class="text-success">{{ facility_name|upper }}'S CQI PROJECTS</h4>#}
    </div>
</div>

 <div class="p-5 mb-4 bg-light rounded-3">
    <div class="row mt-5">
    <div class="d-flex justify-content-evenly">
        <h5 >Involved in {{ projects.count }} QI projects</h5>
        <a href="{% url 'facilities_landing_page' %}" class="btn btn-primary">All projects</a>
      <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
    </div>

      <div class="container-fluid py-5">

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
      {% for qi in search %}
           <div class="col-md-12">

    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h6>
          <ul>
              <li><strong>Facility :</strong> {{ qi.qi_project.facility }}</li>
              <li><strong>Problem background :</strong> {{ qi.qi_project.problem_background }}</li>
              <li><strong>Objective :</strong> {{ qi.qi_project.objective }}</li>
              <li><strong>Setting :</strong> {{ qi.qi_project.settings }}</li>
              <li><strong>Department :</strong> {{ qi.qi_project.departments }}</li>
              <li><strong>Measurement Frequency :</strong> {{ qi.qi_project.measurement_frequency }}</li>
              <li><strong>Created by :</strong> {{ qi.qi_project.created_by }}</li>
              {% if qi.qi_project.comments%}
                    <li>Comment (s) : {{ qi.qi_project.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
{#          {% if qi.measurement_status == "Canceled" %}#}
{#                        <a href="{% url 'canceled_projects' qi.measurement_status %}" class="btn btn-warning">{{ qi.measurement_status }}</a>#}
{#                          {% elif qi.measurement_status == "Completed or Closed" %}#}
{#                        <a href="{% url 'completed_closed' qi.measurement_status %}" class="btn btn-danger">{{ qi.measurement_status }}#}
{#                          {% else %}#}
{#                          <a href="{% url 'ongoing' qi.measurement_status %}" class="btn btn-success">{{ qi.measurement_status }}</a>#}
{#                      {% endif %}#}
{#          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated|date }} </a>#}
{#          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI cqi</a>#}
{#              {% if user.id == qi.created_by.id %}#}
{#          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update cqi</a>#}
{#              {% endif %}#}
{#          {% if qi.id not in tracked_projects %}#}
{#            <a href="{% url 'single_project' qi.id %}" class="btn btn-danger">UNTRACKED QI PROJECT</a>#}
{#          {% endif %}#}
      </div>
      </div>
    </div>

  </div>
          {% endfor %}
          {% for qi in projects %}
           <div class="col-md-12">

    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h6>
          <ul>
              <li><strong>Facility :</strong> {{ qi.qi_project.facility_name }}</li>
              <li><strong>Problem background :</strong> {{ qi.qi_project.problem_background }}</li>
              <li><strong>Objective :</strong> {{ qi.qi_project.objective }}</li>
              <li><strong>Setting :</strong> {{ qi.qi_project.settings }}</li>
              <li><strong>Department :</strong> {{ qi.qi_project.departments }}</li>
{#              <li>Responsible person : {{ qi.responsible_people }}</li>#}
              <li><strong>Measurement Frequency :</strong> {{ qi.qi_project.measurement_frequency }}</li>
              <li><strong>Created by :</strong> {{ qi.qi_project.created_by }}</li>
              {% if qi.qi_project.comments%}
               <li>Comment (s) : {{ qi.qi_project.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly">
          {% if qi.measurement_status == "Canceled" %}
            <a href="{% url 'canceled_projects' qi.qi_project.measurement_status %}" class="btn btn-warning">{{ qi.qi_project.measurement_status }}</a>
          {% elif qi.measurement_status == "Completed or Closed" %}
            <a href="{% url 'completed_closed' qi.qi_project.measurement_status %}" class="btn btn-danger">{{ qi.qi_project.measurement_status }}
          {% else %}
              <a href="{% url 'ongoing' qi.qi_project.measurement_status %}" class="btn btn-success">{{ qi.qi_project.measurement_status }}</a>
          {% endif %}
          <a href="#" class="btn btn-primary">Last updated on {{ qi.qi_project.date_updated|date }} </a>
          <a href="{% url 'single_project' qi.qi_project.id %}" class="btn btn-secondary">View QI project</a>
              {% if user.id == qi.qi_project.created_by.id %}
{#          <a href="{% url 'update_project' qi.qi_project.id %}" class="btn btn-warning">Update project</a>#}
              {% endif %}
{#          {% if qi.id not in tracked_projects %}#}
{#            <a href="{% url 'single_project' qi.qi_project.id %}" class="btn btn-danger">UNTRACKED QI PROJECT</a>#}
{#          {% endif %}#}
      </div>
      </div>
    </div>
  </div>

          {% endfor %}





</div>
      </div>
    </div>
    </div>


    </main>
{% endblock %}