{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row mt-5">
            <div class="d-flex justify-content-center">
                {% for project in projects|slice:":1" %}
                    {% if project.user.phone_number %}
                        <h4 class="text-success">{{ project.user.first_name|title }} {{ project.user.last_name|title }}'s
                            Contribution to QI Projects
                        </h4>
                    {% else %}
                        <h4 class="text-success">{{ project.user.username }}'s
                            Contribution to QI Projects
                        </h4>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="row mt-5">
                <div class="d-flex justify-content-evenly">
                    <h5>Involved in {{ projects.count }} QI projects</h5>
                    <a href="{% url 'facilities_landing_page' project_type='facility' %}" class="btn btn-primary">All
                        projects</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
                    {% else %}
                        <a href="{% url 'choose_project_level' %}" class="btn btn-secondary">Add QI PROJECT</a>
                    {% endif %}
                </div>
                <div class="container-fluid py-5">
                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
                        {% for qi in search %}
                            <div class="col-md-12">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title }}</h6>
                                        <ul>
                                            <li><strong>Facility :</strong> {{ qi.qi_project.facility }}</li>
                                            <li><strong>Problem background
                                                :</strong> {{ qi.qi_project.problem_background }}</li>
                                            <li><strong>Objective :</strong> {{ qi.qi_project.objective }}</li>
                                            <li><strong>Setting :</strong> {{ qi.qi_project.settings }}</li>
                                            <li><strong>Department :</strong> {{ qi.qi_project.departments }}</li>
                                            <li><strong>Measurement Frequency
                                                :</strong> {{ qi.qi_project.measurement_frequency }}</li>
                                            <li><strong>Created by :</strong> {{ qi.qi_project.created_by }}</li>
                                            {% if qi.qi_project.comments %}
                                                <li>Comment (s) : {{ qi.qi_project.comments }}</li>
                                            {% endif %}
                                        </ul>
                                        <div class="d-flex justify-content-evenly">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                        {% for qi in projects %}
                            <div class="col-md-12">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title"> {{ forloop.counter }}. {{ qi.project_title }}</h6>
                                        <ul>
                                            {% if qi.qi_project.facility_name %}
                                                <li><strong>Facility :</strong> {{ qi.qi_project.facility_name }}</li>
                                                <li><strong>Problem background
                                                    :</strong> {{ qi.qi_project.problem_background }}</li>
                                                <li><strong>Objective :</strong> {{ qi.qi_project.objective }}</li>
                                                <li><strong>Setting :</strong> {{ qi.qi_project.settings }}</li>
                                                <li><strong>Department :</strong> {{ qi.qi_project.departments }}</li>
                                                <li><strong>Measurement Frequency
                                                    :</strong> {{ qi.qi_project.measurement_frequency }}</li>
                                                <li><strong>Created by :</strong> {{ qi.qi_project.created_by }}</li>
                                            {% elif qi.subcounty_qi_project.sub_county %}
                                                <li><strong>Sub county
                                                    :</strong> {{ qi.subcounty_qi_project.sub_county }}</li>
                                                <li><strong>Problem background
                                                    :</strong> {{ qi.subcounty_qi_project.problem_background }}</li>
                                                <li><strong>Objective :</strong> {{ qi.subcounty_qi_project.objective }}
                                                </li>
                                                <li><strong>Setting :</strong> {{ qi.subcounty_qi_project.settings }}
                                                </li>
                                                <li><strong>Department
                                                    :</strong> {{ qi.subcounty_qi_project.departments }}</li>
                                                <li><strong>Measurement Frequency
                                                    :</strong> {{ qi.subcounty_qi_project.measurement_frequency }}</li>
                                                <li><strong>Created by
                                                    :</strong> {{ qi.subcounty_qi_project.created_by }}</li>
                                            {% elif qi.county_qi_project.county %}
                                                <li><strong>County :</strong> {{ qi.county_qi_project.county }}</li>
                                                <li><strong>Problem background
                                                    :</strong> {{ qi.county_qi_project.problem_background }}</li>
                                                <li><strong>Objective :</strong> {{ qi.county_qi_project.objective }}
                                                </li>
                                                <li><strong>Setting :</strong> {{ qi.county_qi_project.settings }}</li>
                                                <li><strong>Department :</strong> {{ qi.county_qi_project.departments }}
                                                </li>
                                                <li><strong>Measurement Frequency
                                                    :</strong> {{ qi.county_qi_project.measurement_frequency }}</li>
                                                <li><strong>Created by :</strong> {{ qi.county_qi_project.created_by }}
                                                </li>
                                            {% elif qi.hub_qi_project.hub %}
                                                <li><strong>Hub :</strong> {{ qi.hub_qi_project.hub }}</li>
                                                <li><strong>Problem background
                                                    :</strong> {{ qi.hub_qi_project.problem_background }}</li>
                                                <li><strong>Objective :</strong> {{ qi.hub_qi_project.objective }}</li>
                                                <li><strong>Setting :</strong> {{ qi.hub_qi_project.settings }}</li>
                                                <li><strong>Department :</strong> {{ qi.hub_qi_project.departments }}
                                                </li>
                                                <li><strong>Measurement Frequency
                                                    :</strong> {{ qi.hub_qi_project.measurement_frequency }}</li>
                                                <li><strong>Created by :</strong> {{ qi.hub_qi_project.created_by }}
                                                </li>
                                            {% elif qi.program_qi_project.program %}
                                                <li><strong>Program :</strong> {{ qi.program_qi_project.program }}</li>
                                                <li><strong>Problem background
                                                    :</strong> {{ qi.program_qi_project.problem_background }}</li>
                                                <li><strong>Objective :</strong> {{ qi.program_qi_project.objective }}
                                                </li>
                                                <li><strong>Setting :</strong> {{ qi.program_qi_project.settings }}</li>
                                                <li><strong>Department
                                                    :</strong> {{ qi.program_qi_project.departments }}</li>
                                                <li><strong>Measurement Frequency
                                                    :</strong> {{ qi.program_qi_project.measurement_frequency }}</li>
                                                <li><strong>Created by :</strong> {{ qi.program_qi_project.created_by }}
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <div class="d-flex justify-content-evenly">
                                            {% if qi.measurement_status == "Canceled" %}
                                                <a href="{% url 'canceled_projects' qi.qi_project.measurement_status %}"
                                                   class="btn btn-warning">{{ qi.qi_project.measurement_status }}</a>
                                            {% elif qi.measurement_status == "Completed or Closed" %}
                                                {% if qi.facility_name %}
                                                    <a href="{% url 'completed_closed' qi.qi_project.measurement_status %}"
                                                       class="btn btn-danger">{{ qi.qi_project.measurement_status }}</a>
                                                {% elif qi.sub_county %}
                                                    <a href="{% url 'completed_closed_subcounty' qi.subcounty_qi_project.measurement_status %}"
                                                       class="btn btn-danger">{{ qi.subcounty_qi_project.measurement_status }}</a>
                                                {% elif qi.county %}
                                                    <a href="{% url 'completed_closed_county' qi.county_qi_project.measurement_status %}"
                                                       class="btn btn-danger">{{ qi.county_qi_project.measurement_status }}</a>
                                                {% elif qi.program %}
                                                    <a href="{% url 'completed_closed_program' qi.program_qi_project.measurement_status %}"
                                                       class="btn btn-danger">{{ qi.program_qi_project.measurement_status }}</a>
                                                {% elif qi.hub %}
                                                    <a href="{% url 'completed_closed_hub' qi.hub_qi_project.measurement_status %}"
                                                       class="btn btn-danger">{{ qi.hub_qi_project.measurement_status }}</a>
                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                            <a href="#" class="btn btn-primary">Last updated
                                                on {{ qi.qi_project.date_updated|date }} </a>
                                            {% if qi.qi_project.facility_name %}
                                                <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View
                                                    QI project</a>
                                            {% elif qi.subcounty_qi_project.sub_county %}
                                                <a href="{% url 'single_project_subcounty' qi.id %}"
                                                   class="btn btn-secondary">View QI project</a>
                                            {% elif qi.county_qi_project.county %}
                                                <a href="{% url 'single_project_county' qi.id %}"
                                                   class="btn btn-secondary">View QI project</a>
                                            {% elif qi.hub_qi_project.hub %}
                                                <a href="{% url 'single_project_hub' qi.id %}"
                                                   class="btn btn-secondary">View QI project</a>
                                            {% elif qi.program_qi_project.program %}
                                                <a href="{% url 'single_project_program' qi.id %}"
                                                   class="btn btn-secondary">View QI project</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}