{% extends 'project/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>SUSTAINMENT PLAN</h4>
    </div>
    <div>
        <p>Ensuring the longevity of the improvements made during a quality improvement project is a part
                        of the sustainment plan. The plan captures all the vital information needed to maintain progress
                        , including objectives, metrics for measuring success, communication plan, budget, risks,
                        training and support, feedback mechanisms, and reaction plan.
                    </p>
                    <p>
                        The RACI matrix outlines the roles and responsibilities of each person involved in the
                        sustainment plan, helping to ensure that everyone is aware of their part in maintaining the
                        improvements. This information will help track the progress of the sustainment plan and keep all
                        stakeholders informed of their responsibilities.
                    </p>



                      <p>
                          This section will provide you with a comprehensive understanding of the key elements of a
                          successful Sustainment Plan and its critical role in ensuring the sustainability of
                          improvements made during a quality improvement project.
                      </p>
                <p>
                    The information captured in the Sustainment Plan serves as a guide to ensure that we take all
                    necessary steps to maintain progress and overcome any challenges that may arise during the
                    sustainment phase. By planning and documenting all aspects of the sustainment plan carefully,
                    you increase the likelihood of success and ensure the long-term sustainability of your quality
                    improvement project.
                </p>
        <p>Thank you for visiting our page, and we hope that you find it useful.</p>
    </div>
      </div>





{% if plan %}
        <div class="sticky-top" style="z-index:10">
<table class="table table-striped table-hover my-table">
    <thead style="font-size: x-small">
        <th scope="col"></th>
        <th scope="col">QI project</th>
        <th scope="col">objective</th>
{#        <th scope="col">Objectives</th>#}
        <th scope="col">metrics</th>
        <th scope="col">communication plan</th>

        <th scope="col">Risks</th>
        <th scope="col">Mitigation</th>
        <th scope="col">training and support</th>
        <th scope="col">feedback mechanisms</th>
        <th scope="col">Reaction plan</th>
    </thead>
    <tbody>
        {% for field in plan %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {% if field.qi_project.facility_name.name %}
                        <a href="{% url 'single_project' field.qi_project.id %}">{{ field.qi_project.project_title }}</a>
                        <strong class="badge mt-2"><a href="#" >
                        Project created by: {{ field.qi_project.created_by.first_name|title }}</a></strong>
                        <br>
                        <strong class="badge alert-warning mt-2">{{ field.qi_project.created_by.phone_number }}</strong>
                        <br>
                        <strong class="badge alert-info mt-2">{{ field.qi_project.facility_name.name}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">QI manager: {{ field.qi_project.qi_manager}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">Started: {{ field.start_date|date }}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">End date: {{ field.end_date|date }}</strong>
                        <br>
                    {% elif field.program.program.program %}
                        <a href="{% url 'single_project_program' field.program.id %}">{{ field.program.project_title }}</a>
                        <strong class="badge mt-2"><a href="#" >
                        Project created by: {{ field.program.created_by.first_name|title }}</a></strong>
                        <br>
                        <strong class="badge alert-warning mt-2">{{ field.program.created_by.phone_number }}</strong>
                        <br>
                        <strong class="badge alert-info mt-2">{{ field.program.facility_name.name}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">QI manager: {{ field.program.qi_manager}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">Started: {{ field.start_date|date }}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">End date: {{ field.end_date|date }}</strong>
                        <br>
                    {% elif field.subcounty.sub_county.sub_counties %}
                        <a href="{% url 'single_project_subcounty' field.subcounty.id %}">{{ field.subcounty.project_title }}</a>
                        <strong class="badge mt-2"><a href="#" >
                        Project created by: {{ field.subcounty.created_by.first_name|title }}</a></strong>
                        <br>
                        <strong class="badge alert-warning mt-2">{{ field.subcounty.created_by.phone_number }}</strong>
                        <br>
                        <strong class="badge alert-info mt-2">{{ field.subcounty.facility_name.name}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">QI manager: {{ field.subcounty.qi_manager}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">Started: {{ field.start_date|date }}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">End date: {{ field.end_date|date }}</strong>
                        <br>
                    {% elif field.county.county.county_name %}
                        <a href="{% url 'single_project_county' field.county.id %}">{{ field.county.project_title }}</a>
                        <strong class="badge mt-2"><a href="#" >
                        Project created by: {{ field.county.created_by.first_name|title }}</a></strong>
                        <br>
                        <strong class="badge alert-warning mt-2">{{ field.county.created_by.phone_number }}</strong>
                        <br>
                        <strong class="badge alert-info mt-2">{{ field.county.facility_name.name}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">QI manager: {{ field.county.qi_manager}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">Started: {{ field.start_date|date }}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">End date: {{ field.end_date|date }}</strong>
                        <br>
                    {% elif field.hub.hub.hub %}
                        <a href="{% url 'single_project_hub' field.hub.id %}">{{ field.hub.project_title }}</a>
                        <strong class="badge mt-2"><a href="{% url 'qi_creators' field.hub.created_by.id %}" >
                        Project created by: {{ field.hub.created_by.first_name|title }}</a></strong>
                        <br>
                        <strong class="badge alert-warning mt-2">{{ field.hub.created_by.phone_number }}</strong>
                        <br>
                        <strong class="badge alert-info mt-2">{{ field.hub.facility_name.name}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">QI manager: {{ field.hub.qi_manager}}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">Started: {{ field.start_date|date }}</strong>
                        <br>
                        <strong class="badge alert-warning mt-2">End date: {{ field.end_date|date }}</strong>
                        <br>
                    {% endif %}
                <div class="mt-2 d-flex justify-content-evenly" style="display:inline-block;">
{#                {% if field.created_by.id == request.user.id %}#}
                    {% if field.qi_project.facility_name.name %}
                        <a href="{% url 'update_sustainable_plan_facility' field.id field.qi_project.facility_name.name %}" class="btn btn-sm btn-info" role="button" >Update</a>
                    {% elif field.program.program.program %}
                        <a href="{% url 'update_sustainable_plan_program' field.id field.program.program.program %}" class="btn btn-sm btn-info" role="button" >Update</a>
                    {% elif field.subcounty.sub_county.sub_counties %}
                        <a href="{% url 'update_sustainable_plan_subcounty' field.id field.subcounty.sub_county.sub_counties %}" class="btn btn-sm btn-info" role="button" >Update</a>
                    {% elif field.county.county.county_name %}
                        <a href="{% url 'update_sustainable_plan_county' field.id field.county.county.county_name %}" class="btn btn-sm btn-info" role="button" >Update</a>
                    {% elif field.hub.hub.hub %}
                        <a href="{% url 'update_sustainable_plan_hub' field.id field.hub.hub.hub %}" class="btn btn-sm btn-info" role="button" >Update</a>
                    {% endif %}
{#                {% endif %}#}
{#                    <a href="{% url 'delete_sustainable_plan' field.id %}" class="btn btn-sm btn-danger" role="button">Delete</a>#}
                </div>

                </td>
              <td>
                    {{ field.objectives }}
                  <br>
                <strong class="badge alert-warning mt-2">RACI MATRIX</strong>
                  <br>
                <strong class="badge alert-warning mt-2">Responsible: {{ field.responsible }}</strong>
                    <br>
                <strong class="badge alert-warning mt-2">Accountable: {{ field.accountable }}</strong>
                  <br>
                <strong class="badge alert-warning mt-2">Consulted: {{ field.consulted }}</strong>
                  <br>
                <strong class="badge alert-warning mt-2">Informed: {{ field.informed }}</strong>
                </td>
                <td>
                    {{ field.metrics }}
                </td>

                </td>
                <td>
                    {{ field.communication_plan }}
                </td>

                </td>
                <td>
                    {{ field.risks }}
                </td>
                </td>
                <td>
                    {{ field.mitigation }}
                </td>
                </td>
                <td>
{#                    <a href="#" >#}
                        {{ field.training_and_support }}
{#                    </a>#}

                </td>
                </td>
                <td>
                    {{ field.feedback_mechanisms }}

                </td>
                </td>
          <td>
              {{ field.reaction_plan }}

                </td>
          </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
     <!-- Display the pagination links -->
          <div class="mt-3">
          {% if qi_teams.has_other_pages %}
                    <ul class="pagination justify-content-end">
                   {% if qi_teams.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.previous_page_number }}">Prev</a></li>
                   {% else %}
                     <li class="disabled"><span class="page-link" >Prev</span></li>
                   {% endif %}
                   {% for i in qi_teams.paginator.page_range %}
                     {% if qi_teams.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                     {% else %}
                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                     {% endif %}
                   {% endfor %}
                   {% if qi_teams.has_next %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.next_page_number }}">Next</a></li>
                   {% else %}
                     <li class="disabled page-item"><span class="page-link">Next</span></li>
                   {% endif %}
                    </ul>
                {% endif %}
          </div>
{% endif %}

    </main>
{% endblock %}