{% extends 'project/index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 >Untracked QI projects</h4>
      </div>
        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
            {% if all_projects %}
                <div class="col-md-12">
                    {% for project in all_projects %}
                         {% if project.id not in all_responses %}
                              <div class="card mt-3">
                                  <div class="card-body">
                                      {% if "facility" in project_type %}
                                          <h6 class="card-title"> <a href="{% url 'single_project' project.id %}">{{ project.project_title|title }}</a></h6>
                                   {% elif "program" in project_type %}
                                          <h6 class="card-title"> <a href="{% url 'single_project_program' project.id %}">{{ project.project_title|title }}</a></h6>
                                   {% elif project_type == "county" %}
                                          <h6 class="card-title"> <a href="{% url 'single_project_county' project.id %}">{{ project.project_title|title }}</a></h6>
                                   {% elif project_type == "subcounty" %}
                                          <h6 class="card-title"> <a href="{% url 'single_project_subcounty' project.id %}">{{ project.project_title|title }}</a></h6>
                                   {% elif "hub" in project_type %}
                                          <h6 class="card-title"> <a href="{% url 'single_project_hub' project.id %}">{{ project.project_title|title }}</a></h6>
                                   {% endif %}
                                          <ul>
                                               {% if "facility" in project_type %}
                                                   <li><strong>Facility :</strong>  <a href="{% url 'facility_project' pk=project.facility_name.id project_type="facility" %}">{{ project.facility_name.name }}</a></li>
                                               {% elif "program" in project_type %}
                                                   <li><strong>Program :</strong>  <a href="{% url 'facility_project' pk=project.program.id project_type="program" %}">{{ project.program.program }}</a></li>
                                               {% elif project_type == "county" %}
                                                   <li><strong>County :</strong> <a href="{% url 'facility_project' pk=project.county.id project_type="county" %}">{{ project.county.county_name }}</a></li>
                                               {% elif project_type == "subcounty" %}
                                                   <li><strong>Subcounty :</strong> <a href="{% url 'facility_project' pk=project.sub_county.id project_type="subcounty" %}">{{ project.sub_county.sub_counties }}</a></li>
                                               {% elif "hub" in project_type %}
                                                   <li><strong>Hub :</strong>  <a href="{% url 'facility_project' pk=project.hub.id project_type="hub" %}">{{ project.hub.hub }}</a></li>
                                               {% endif %}
                                              <li><strong>Project created by :</strong> {{ project.created_by }}</li>
                                          </ul>
                                      <div class="card-footer">
                                        <small class="text-muted">Project last update on {{ project.date_updated|date }}</small>
                                      </div>
                                  </div>
                              </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        </div>
</main>
{% endblock %}