{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                {% if messages %}
                    {#                <ul class="messages">#}
                    <div class="alert alert-info col-12 animated fadeIn" role="alert">
                        {% for message in messages|slice:":1" %}
                            <h5 class="d-flex justify-content-evenly small">{{ message }}</h5>
                        {% endfor %}
                    </div>

                    {#               </ul>#}
                {% endif %}
                {% if "facility" in title %}
                    <h6 class="display-6 fw-bold text-primary">CREATE FACILITY QI</h6>
                {% elif "program" in title %}
                    <h6 class="display-6 fw-bold text-primary">CREATE {{ title|upper }} QI</h6>
                {% elif title == "audit team" %}
                    <h6 class="display-6 fw-bold text-primary">ADD {{ title|upper }} MEMBERS</h6>
                {% elif title == "update audit team" %}
                    <h6 class="display-6 fw-bold text-primary">{{ title|upper }} MEMBER'S DETAILS</h6>
                {% elif title == "show team" %}
                    <h6 class="display-6 fw-bold text-primary">{{ title|upper }} MEMBER'S DETAILS</h6>
                {% endif %}
                <div class="col-md-7">
                    {% if audit_team %}
                        {% for team in audit_team|slice:":1" %}
                            <h4 class="h5">FACILITY: {{ team.facility_name.name }} </h4>
                            <h6 class="h6">MFL CODE: {{ team.facility_name.mfl_code }} </h6>
                            <h6 class="h6">PERIOD: {{ quarter_year }} </h6>
                        {% endfor %}
                    {% endif %}
                </div>

                {#          <div class="d-flex justify-content-between">#}
                {#              <a href="{% url 'add_qi_manager' %}" class="btn btn-success" role="button">ADD QI MANAGER</a>#}
                {#              <a href="{% url 'add_department' %}" class="btn btn-success" role="button">ADD DEPARTMENT</a>#}
                {#              <a href="{% url 'add_category' %}" class="btn btn-success" role="button">ADD PROJECT COMPONENT</a>#}
                {#              <a href="{% url 'add_facility' %}" class="btn btn-success" role="button">ADD FACILITY</a>#}
                {#              <a href="{% url 'add_county' %}" class="btn btn-success" role="button">ADD COUNTY</a>#}
                {#              <a href="{% url 'add_hub' %}" class="btn btn-success" role="button">ADD HUB</a>#}
                {#              <a href="{% url 'add_subcounty' %}" class="btn btn-success" role="button">ADD SUBCOUNTY</a>#}
                {#          </div>#}

                <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                    {% csrf_token %}
                    {% if "audit team" in title %}
                        <div class="col-md-6 mt-4">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.pharmacy_carder|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.pharmacy_organization|as_crispy_field }}
                        </div>
                    {% elif "show team" in title %}

                        <p class="text-primary">"To add a member to the audit team, please navigate to the work plan
                            page of the relevant facility. Please note that the maximum number of audit team members that can be
                            added is 30. Only
                            users who have access to the work plan page for a facility can add audit team members."
                        </p>
                        <p> Please choose quarter, year, facility and then submit </p>


                        <div class="col-md-2 mt-2">
                            {{ form.quarter|as_crispy_field }}
                        </div>
                        <div class="col-md-2 mt-2">
                            {{ year_form.year|as_crispy_field }}
                        </div>
                        <div class="col-md-4 mt-2">
                            {{ facility_form.name|as_crispy_field }}
                        </div>
                    {% else %}
                        <div class="col-md-2 mt-4">
                            {{ period_form.quarter|as_crispy_field }}
                        </div>
                        <div class="col-md-2 mt-4">
                            {{ period_form.year|as_crispy_field }}
                        </div>
                    {% endif %}
                    <div class="col-md-3 mt-4">
                        <input class="btn btn-success" type="submit" value="Submit">
                    </div>

                </form>
                {% if audit_team %}
                    <table class="table table-striped table-hover" style="font-size: x-small;">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th></th>
                            <th>Name (First and Last name)</th>
                            <th>Carder</th>
                            <th>Organization</th>
                            <th>Facility</th>
                            <th>Review Period</th>
                            {% for team in audit_team|slice:":1" %}
                                {% if not team.hide_update_button or request.user.is_superuser %}
                                    <th></th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in audit_team %}
                            <tr>
                                <td><strong>{{ forloop.counter }}</strong></td>
                                <td class="text-center text-black">
                                    {{ team.name }}
                                </td>
                                <td class="text-center text-black">
                                    {{ team.pharmacy_carder }}
                                </td>
                                <td class="text-center text-black">
                                    {{ team.pharmacy_organization }}
                                </td>
                                <td class="text-center text-black">
                                    {{ team.facility_name.name }}
                                </td>
                                <td class="text-center text-black">
                                    {{ team.quarter_year.quarter_year }}
                                </td>
                                {% if user.is_authenticated %}
                                    {% if user.id == team.created_by.id or user.is_superuser %}
                                        {% if not team.hide_update_button or request.user.is_superuser %}
                                            <td class="text-center">
                                                <a href="{% url 'update_audit_team_pharmacy' team.id %}" class="btn btn-info"
                                                   role="button">Update</a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}