<!-- Dynamically add active class to the links -->
{% url "show_mentorship" as show_mentorship %}
{% url "choose_facilities_mentorship" as choose_facilities_mentorship %}
{% url "add_program_area" as add_program_area %}
{% url "show_program_area" as show_program_area %}
{% url "add_fyj_staff_details" as add_fyj_staff_details %}
{% url "add_facility_staff_details" as add_facility_staff_details %}

{% url "show_inventory" as show_inventory %}
{% url "show_audit_team_pharmacy" as show_audit_team_pharmacy %}
{% url "show_commodity_records" as show_commodity_records %}
{% url "instructions" as instructions %}
{% url "comments" as comments %}
{% url "resources" as resources %}
{% url "facilities_landing_page" project_type='facility' as facilities_landing_page %}
{% url "sub_counties_list" as sub_counties_list %}
{% url "lesson_learnt" as lesson_learnt %}
{% url "load_datim_data" as load_datim_data %}
{% url "update_button_settings" as update_button_settings %}
{% url "dqa_dashboard" dqa_type='program' as dqa_dashboard %}
{#{% url 'completed_closed' pk='Completed-or-Closed' as completed_closed %}#}
{% url 'choose_facilities_inventory' as choose_facilities_inventory %}


{% block nav %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

        <div class="position-sticky pt-3 sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Instructions</span>
                {#          <a class="link-secondary" href="#" aria-label="Add a new report">#}
                {#            <span data-feather="plus-circle" class="align-text-bottom"></span>#}
                {#          </a>#}
            </h6>
            <ul class="nav flex-column">
                {#          <li class="nav-item">#}
                {#            <a class="nav-link {% if request.path == instructions %} active{% endif %}" href="{% url 'instructions' %}">#}
                {#              <span data-feather="info" class="align-text-bottom"></span>#}
                {#              Instructions#}
                {#            </a>#}
                {#          </li>#}
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Data entry</span>
                {#          <a class="link-secondary" href="#" aria-label="Add a new report">#}
                {#            <span data-feather="plus-circle" class="align-text-bottom"></span>#}
                {#          </a>#}
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == choose_facilities_mentorship %} active{% endif %}"
                       href="{% url 'choose_facilities_mentorship' %}">
                        <span data-feather="book" class="align-text-bottom"></span>
                        Mentorship checklist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == add_program_area %} active{% endif %}"
                       href="{% url 'add_program_area' %}">
                        <span data-feather="database" class="align-text-bottom"></span>
                        Add program area
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == add_fyj_staff_details %} active{% endif %}"
                       href="{% url 'add_fyj_staff_details' %}">
                        <span data-feather="database" class="align-text-bottom"></span>
                        Add FYJ staff details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == add_facility_staff_details %} active{% endif %}"
                       href="{% url 'add_facility_staff_details' %}">
                        <span data-feather="database" class="align-text-bottom"></span>
                        Add facility staff details
                    </a>
                </li>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>SUMMARIES</span>
                    {#          <a class="link-secondary" href="#" aria-label="Add a new report">#}
                    {#            <span data-feather="plus-circle" class="align-text-bottom"></span>#}
                    {#          </a>#}
                </h6>
                <ul>

                </ul>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == show_mentorship %} active{% endif %}"
                       href="{% url 'show_mentorship' %}">
                        <span data-feather="book-open" class="align-text-bottom"></span>
                        Mentorship checklist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == show_program_area %} active{% endif %}" aria-current="page"
                       href="{% url 'show_program_area' %}">
                        <span data-feather="home" class="align-text-bottom"></span>
                        Show Program area
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == show_work_plan %} active{% endif %}"
                       href="{% url 'show_work_plan' %}">
                        <span data-feather="briefcase" class="align-text-bottom"></span>
                        Work plan
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == show_audit_team_pharmacy %} active{% endif %}"
                       href="{% url 'show_audit_team_pharmacy' %}">
                        <span data-feather="briefcase" class="align-text-bottom"></span>
                        Audit team
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == load_datim_data %} active{% endif %}"
                           href="{% url 'load_datim_data' %}">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Load DATIM data
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == load_data %} active{% endif %}"
                           href="{% url 'load_data' %}">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Load FYJ facilities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == load_khis_data %} active{% endif %}"
                           href="{% url 'load_khis_data' %}">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Load KHIS DATA
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == update_button_settings %} active{% endif %}"
                           href="{% url 'update_button_settings' %}">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Change DQA Update time
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
