{% extends 'repo/index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <div class="text-center bg-secondary p-2 mb-5">
                    {% if title %}
                        <h6 class="display-6 fw-bold text-white">{{ title }} Research & Evaluation Hub</h6>
                    {% else %}
                        <h6 class="display-6 fw-bold text-primary">UPDATE {{ update|upper }} </h6>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <a href="{% url 'create-venue' %}" class="btn btn-success" role="button">ADD/UPDATE VENUE</a>
                    <a href="{% url 'create-author' %}" class="btn btn-success" role="button">ADD/UPDATE AUTHOR</a>
                    <a href="{% url 'create-category' %}" class="btn btn-success" role="button">ADD/UPDATE CATEGORY</a>
                    <a href="{% url 'create-journal' %}" class="btn btn-success" role="button">ADD/UPDATE JOURNAL</a>
                    <a href="{% url 'create-conference' %}" class="btn btn-success" role="button">ADD/UPDATE
                        CONFERENCE</a>
                </div>
                {% if "Update" in title %}
                    <form class="row g-3" id="myForm_update" method="POST" class="mt-5" enctype='multipart/form-data'
                          autocomplete="off">
                {% else %}
                    <form class="row g-3" id="myForm" method="POST" class="mt-5" enctype='multipart/form-data'
                          autocomplete="off">
                {% endif %}
                {% csrf_token %}
                <div>
                    <p>Choose the Author / Co-Authors:</p>
                    <div class="row">
                        {% for author in form.fields.authors.queryset %}
                            <div class="col-md-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="authors"
                                           value="{{ author.pk }}"
                                           {% if author in form.instance.authors.all %}checked{% endif %}>
                                    <label class="form-check-label">
                                        {{ author }}
                                    </label>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:6 and not forloop.last %}
                                </div>
                                <div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                </div>
                <hr>
                {% if "Update" not in title %}
                    <input class="btn btn-primary mt-1" type="button" onclick="resetForm()" value="Reset Form">
                {% endif %}
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.data_started|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.status|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.data_submitted|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.submission_type|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.conference|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.venue|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.journal|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.acceptance_status|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    {{ form.publication_date|as_crispy_field }}
                </div>

                <div class="col-md-3 mt-4 pt-2">
                    {{ form.categories|as_crispy_field }}
                </div>

                <div class="col-md-3 mt-4 pt-2">
                    {{ form.citations|as_crispy_field }}
                </div>
                <div class="col-md-12 mt-4 pt-2">
                    {{ form.media }}
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="col-md-12 mt-4 pt-2">
                    {{ form.media }}
                    {{ form.abstract|as_crispy_field }}
                </div>
                <div class="col-md-4 mt-4 pt-2">
                    {{ form.pdf_file|as_crispy_field }}
                </div>
                <div class="col-md-12 mt-4 pt-2">
                    {{ form.media }}
                    {{ form.keywords|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-4 pt-2">
                    <input class="btn btn-success mt-1" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error(s):</strong>
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field|title }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if messages %}
                    <ul class="messages">
                        <div class="alert alert-info col-12 animated fadeIn" role="alert">
                            {% for message in messages|slice:":1" %}
                                <h5 class="d-flex justify-content-evenly small">{{ message }}</h5>
                            {% endfor %}
                        </div>
                    </ul>
                {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}