<!-- Dynamically add active class to the links -->
{% url "manuscript_list" as manuscript_list %}
{% url "create_manuscript" as create_manuscript %}
{% url "deep_dive_chmt" as deep_dive_chmt %}
{% url "qi_team_members" as qi_team_members %}
{% url "qi_managers" as qi_managers %}
{% url "archived" as archived %}
{% url "audit_trail" as audit_trail %}
{% url "comments" as comments %}
{% url "resources" as resources %}
{% url "facilities_landing_page" project_type='facility' as facilities_landing_page %}
{% url "sub_counties_list" as sub_counties_list %}
{% url "lesson_learnt" as lesson_learnt %}
{% url "show_sustainmentPlan" as show_sustainmentPlan %}
{% url "load_data" as load_data %}
{% url 'completed_closed' pk='Completed-or-Closed' as completed_closed %}


{% block nav %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
            {% if perms.repo.view_manuscript %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == manuscript_list %} active{% endif %}" aria-current="page"
                       href="{% url 'manuscript_list' %}">
                        <span data-feather="home" class="align-text-bottom"></span>
                        Research Repo
                    </a>
                </li>
            {% endif %}
            {% if perms.repo.add_manuscript %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == create_manuscript %} active{% endif %}"
                       href="{% url 'create_manuscript' %}">
                        <span data-feather="book-open" class="align-text-bottom"></span>
                        Create Resource
                    </a>
                </li>
            {% endif %}
                <hr>
            </ul>
        </div>
    </nav>
{% endblock %}
