{% extends 'data_analysis/index_dqa.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages|slice:":1" %}
                            <div class="alert alert-info col-12" role="alert">
                                <h6 class="d-flex justify-content-evenly"
                                    style="font-size: small">{{ message|safe }}</h6>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="d-flex justify-content-around mb-3">
                    {% if dqa_type == "tat" %}
                        <a href="{% url 'tat' %}" class="btn btn-success">Turn Around Time (TAT)</a>
                    {% else %}
                        <a href="{% url 'tat' %}" class="btn btn-outline-success">Turn Around Time (TAT)</a>
                    {% endif %}
                    {% if dqa_type == "viral_load" %}
                        <a href="{% url 'viral_load' %}" class="btn btn-success">VL Analyzer</a>
                    {% else %}
                        <a href="{% url 'viral_load' %}" class="btn btn-outline-success">VL Analyzer</a>
                    {% endif %}
                    {% if dqa_type == "rtk" %}
                        <a href="{% url 'rtk_visualization' %}" class="btn btn-success">HCMP REPORT</a>
                    {% else %}
                        <a href="{% url 'rtk_visualization' %}" class="btn btn-outline-success">HCMP REPORT</a>
                    {% endif %}
                    {% if dqa_type == "upload_rtk" %}
                        <a href="{% url 'upload_rtk' %}" class="btn btn-warning">Upload HCMP REPORT</a>
                    {% else %}
                        <a href="{% url 'upload_rtk' %}" class="btn btn-outline-warning">Upload HCMP REPORT</a>
                    {% endif %}
                </div>
                <form method="post" id="filter-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row d-flex">
                        <div class="col-md-3">
                            <img class="img-fluid" src="{% static 'images/lab.png' %}" alt="" width="200">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                {% if "_tat_" in facility_c_r_filename|lower %}
                                    <div class="mb-1">
                                        <h3 class="text-primary text-center">{{ target_text }} Turn Around Time
                                            (TAT)</h3>
                                    </div>
                                {% endif %}
                                <h1>HCMP Report Upload Instructions</h1>
                                <p>To begin, you will need to Login credentials for HCMP website <a
                                        href="https://rtk.nascop.org/rtk_management/county_admin_reports">HCMP
                                    website</a>.</p>
                                <p>Here are the step-by-step instructions for uploading the report:</p>
                                <ul>
                                    <li>Log in to the HCMP website using your credentials.</li>
                                    <li>Once you are logged in, select the county for which you want to download the
                                        report from the dropdown menu on the left navigation bar of the page.
                                    </li>
                                    <li>Click on "Reports" in the right navigation bar.</li>
                                    <li>Under "CONSUMPTION DATA REPORTS", select the monthly report that you want to
                                        download.
                                    </li>
                                    <li>Click on the "Download Detailed Consumption Report" to download it in .xlsx
                                        format.
                                    </li>
                                    <li>Save the .xlsx file to your computer.</li>
                                    <li>Now, click choose file on this page and select a maximum of 6 .xlsx reports you
                                        downloaded from HCMP website.
                                    </li>
                                    <li>Click on the "Upload" button.</li>
                                    <li>Once the file(s) is uploaded, go to <a href="{% url 'rtk_visualization' %}">RTK
                                        Summary</a> to filter the dataset for which you would like to view data. This
                                        will allow you to narrow down the dataset and focus on the relevant information
                                        that you need.
                                    </li>
                                    <li>After customizing your search, click on the "Search" button to view the filtered
                                        data.
                                    </li>
                                    <li>You can now analyze the data and generate insights based on the uploaded
                                        report.
                                    </li>
                                </ul>

                                <div id="files-input" class="mt-4">
                                    {{ form.files }}
                                </div>
                                <label id="uploaded-files-label" for="{{ form.files.id_for_label }}"
                                       style="display: none;">Uploaded
                                    Files:</label>
                                <!-- Display uploaded file names dynamically -->
                                <ul id="uploaded-files-list"></ul>
                                <div class="col-md-3 mb-2">
                                    <button type="submit" class="btn btn-primary mt-4">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if facility_c_r_filename %}
                        <hr>
                        <div>
                            <h6 class="text-primary text-center">Download csv below </h6>
                        </div>
                        <hr>
                    {% endif %}
                </form>
            </div>
            <div>
                {% if not dictionary.empty %}
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            {% if dictionary.facilities_collect_receipt_tat  and facility_c_r_filename %}
                                <!--DOWNLOAD BUTTON-->
                                <div>
                                    <a href="{% url 'download_csv' dictionary.facilities_collect_receipt_tat facility_c_r_filename %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ facility_c_r_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.sub_counties_collect_receipt_tat and subcounty_c_r_filename %}
                                <div>
                                    <a href="{% url 'download_csv' dictionary.sub_counties_collect_receipt_tat subcounty_c_r_filename %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ subcounty_c_r_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.hubs_collect_receipt_tat and hub_c_r_filename %}
                                <div>
                                    <a href="{% url 'download_csv' dictionary.hubs_collect_receipt_tat hub_c_r_filename %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ hub_c_r_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.counties_collect_receipt_tat and county_c_r_filename %}
                                <div>
                                    <a href="{% url 'download_csv' dictionary.counties_collect_receipt_tat county_c_r_filename %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ county_c_r_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.program_collect_receipt_tat and program_c_r_filename %}
                                <div>
                                    <a href="{% url 'download_csv' dictionary.program_collect_receipt_tat program_c_r_filename %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ program_c_r_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.facilities_collect_dispatch_tat and facility_c_d_filename %}
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.facilities_collect_dispatch_tat facility_c_d_filename %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ facility_c_d_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.sub_counties_collect_dispatch_tat and subcounty_c_d_filename %}
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.sub_counties_collect_dispatch_tat subcounty_c_d_filename %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ subcounty_c_d_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.hubs_collect_dispatch_tat and hub_c_d_filename %}
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.hubs_collect_dispatch_tat hub_c_d_filename %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ hub_c_d_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.counties_collect_dispatch_tat and county_c_d_filename %}
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.counties_collect_dispatch_tat county_c_d_filename %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ county_c_d_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                            <!--DOWNLOAD BUTTON-->
                            {% if dictionary.program_collect_dispatch_tat and program_c_d_filename %}
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.program_collect_dispatch_tat program_c_d_filename %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            {{ program_c_d_filename }} <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if fyj_viz %}
                    <hr>
                    <h6 class="text-primary text-center">PROGRAM TAT TREND </h6>
                    <hr>
                    {% for name, viz in fyj_viz.items %}
                        <div>
                            {{ viz|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if county_viz %}
                    <hr>
                    <h6 class="text-primary text-center">COUNTIES TAT TREND </h6>
                    <hr>
                    {% for name, viz in county_viz.items %}
                        <div>
                            {{ viz|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if sub_county_viz %}
                    <hr>
                    <h6 class="text-primary text-center">SUB-COUNTIES TAT TREND</h6>
                    <hr>
                    {% for name, viz in sub_county_viz.items %}
                        <div>
                            {{ viz|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if hub_viz %}
                    <hr>
                    <h6 class="text-primary text-center">HUB TREND</h6>
                    <hr>
                    {% for name, viz in hub_viz.items %}
                        <div>
                            {{ viz|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>
    </main>
{% endblock %}