{% extends 'data_analysis/index_dac.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load remove_underscores %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h5 class="d-flex justify-content-evenly" style="font-size: x-small">{{ message }}</h5>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="container-fluid py-3">

                <div class="d-flex justify-content-around mb-3">
                    {% if dqa_type == "tat" %}
                        <a href="{% url 'tat' %}" class="btn btn-success">Turn Around Time (TAT)</a>
                    {% else %}
                        <a href="{% url 'tat' %}" class="btn btn-outline-success">Turn Around Time (TAT)</a>
                    {% endif %}
                    {% if dqa_type == "viral_load" %}
                        <a href="{% url 'viral_load' %}" class="btn btn-success">VL Analyzer</a>
                    {% else %}
                        <a href="{% url 'viral_load' %}" class="btn btn-outline-success">VL Analyzer</a>
                    {% endif %}
                    {% if dqa_type == "viral track" %}
                        <a href="{% url 'viral_track' %}" class="btn btn-success">Viral Track</a>
                    {% else %}

                        <a href="{% url 'viral_track' %}" class="btn btn-outline-success">Viral Track</a>
                    {% endif %}
                    {% if dqa_type == "rtk" %}
                        <a href="{% url 'rtk_visualization' %}" class="btn btn-success">HCMP: Opening vs Closing bal</a>
                    {% else %}
                        <a href="{% url 'rtk_visualization' %}" class="btn btn-outline-success">HCMP: Opening vs Closing
                            bal</a>
                    {% endif %}
                    {% if dqa_type == "rtk_viz" %}
                        <a href="{% url 'rtk_inventory_viz' %}" class="btn btn-success">HCMP: Inventory Report</a>
                    {% else %}
                        <a href="{% url 'rtk_inventory_viz' %}" class="btn btn-outline-success">HCMP: Inventory
                            Report</a>
                    {% endif %}
                    {% if dqa_type == "upload_rtk" %}
                        <a href="{% url 'upload_rtk' %}" class="btn btn-warning">Upload HCMP REPORT</a>
                    {% else %}
                        <a href="{% url 'upload_rtk' %}" class="btn btn-outline-warning">Upload HCMP REPORT</a>
                    {% endif %}
                </div>
                <div class="col-md-12 alert alert-primary text-center">
                    <h4>Customize your search or filter below</h4>
                </div>
                <div class="mt-3">
                    <form id="filter-form" class="row g-3" autocomplete="off">
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.testing_laboratory|as_crispy_field }}#}
                        {#                        </div>#}
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.facility_name|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.county|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.sub_county|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.commodity_name|as_crispy_field }}
                        </div>
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ rtk_qs_filters.form.month|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.age_lte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.age_gte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.age_unit|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.report_type|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.received_status|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.serum_crag_results|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.cd4_count_results_lte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.cd4_count_results_gte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.reason_for_rejection|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.cd4_percentage_lte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.cd4_percentage_gte|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.tb_lam_results|as_crispy_field }}#}
                        {#                        </div>#}
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.start_date|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            {{ rtk_qs_filters.form.end_date|as_crispy_field }}
                        </div>
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.min_tat|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="col-12 col-md-6 col-lg-2">#}
                        {#                            {{ my_filters.form.max_tat|as_crispy_field }}#}
                        {#                        </div>#}
                        <div class="col-12 col-md-6 col-lg-2">
                            <label for="record_count" class="form-label">Facility type</label>
                            <select name="record_count" id="record_count" class="form-select">
                                {% for option_value, option_label in facility_type_options %}
                                    <option value="{{ option_value }}" {% if request.GET.record_count == option_value %}
                                            selected {% endif %}>
                                        {{ option_label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-2">
                            <div class="row">
                                <div class="mt-4">
                                    <button class="btn btn-outline-primary btn-sm" type="submit">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                            <div class="mt-4">
                                {% if dqa_type == "rtk_viz" %}
                                    <a class="nav-link"
                                       href="{% url 'rtk_inventory_viz' %}">
                                        <span data-feather="refresh-cw" class="align-text-bottom"></span>
                                        Reset Filters
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                       href="{% url 'rtk_visualization' %}">
                                        <span data-feather="refresh-cw" class="align-text-bottom"></span>
                                        Reset Filters
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <h4 class="fw-bold text-primary text-center"> Summary </h4>
                <hr>
                <div class="container">
                    <div class="row">
                        {% for fig in trend_variances_list %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                            {% if dictionary.weekly_df %}#}
                    <div class="row">
                        {% for fig in trend_monthly_variances_list %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                            {% endif %}#}
                    {#                            {% if dictionary.rejected_df %}#}
                    <div class="row">
                        {% for fig in most_frequent_sub_counties_figs %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                    {% if show_cd4_testing_workload %}#}
                    <div class="row">
                        {% for fig in sub_county_variances_list %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                    {% endif %}#}
                    {#                            {% endif %}#}
                    {#                    {% if dictionary.justification_summary_df %}#}
                    <div class="row">
                        {% for fig in sub_counties_figs %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                    {% endif %}#}
                    <div class="row">
                        {% for fig in most_frequent_facilities_figs %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>

                    {#                    {% if show_crag_testing_workload %}#}
                    <div class="row">
                        {% for fig in most_frequent_hub_figs %}
                            <div class="col-12">
                                {{ fig|safe }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    {#                    {% endif %}#}
                    {% if not crag_positivity_df.empty %}
                        <div class="row">
                            {% for fig in hub_variances_list %}
                                <div class="col-12">
                                    {{ fig|safe }}
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if not tb_lam_positivity_df.empty %}
                        <div class="row">
                            <div class="col-12">
                                {{ tb_lam_positivity_fig|safe }}
                            </div>
                        </div>
                    {% endif %}
                    {% if not facility_positive_count.empty %}
                        <div class="row">
                            <div class="col-12">
                                {{ facility_crag_positive_fig|safe }}
                                {{ facility_tb_lam_positive_fig|safe }}
                            </div>
                        </div>
                    {% endif %}

                    <!-- RTK INVENTORY VISUALISATION-->

                    {% if waterfall_chart %}
                        <div class="row">
                            <div class="col-12">
                                {{ waterfall_chart|safe }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col d-flex justify-content-between mt-3">
                        {% if dictionary.unattributed_report  and unattributable_filename %}
                            <!--DOWNLOAD BUTTON-->
                            <div>
                                <a href="{% url 'download_csv' dictionary.unattributed_report unattributable_filename %}">
                                    <button type="button" class="btn btn-secondary btn-floating mr-2"
                                            data-mdb-ripple-color="dark">
                                        {{ unattributable_filename }} <i class="fas fa-download"></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                        <!--DOWNLOAD BUTTON-->
                        {% if dictionary.commodity_report and commodity_report_filename %}
                            <div>
                                <a href="{% url 'download_csv' dictionary.commodity_report commodity_report_filename %}">
                                    <button type="button" class="btn btn-secondary btn-floating mr-2"
                                            data-mdb-ripple-color="dark">
                                        {{ commodity_report_filename }} <i class="fas fa-download"></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                        <!--DOWNLOAD BUTTON-->
                        {% if dictionary.hubs_collect_receipt_tat and hub_c_r_filename %}
                            <div>
                                <a href="{% url 'download_csv' dictionary.hubs_collect_receipt_tat hub_c_r_filename %}">
                                    <button type="button" class="btn btn-success btn-floating mr-2"
                                            data-mdb-ripple-color="dark">
                                        {{ hub_c_r_filename }} <i class="fas fa-download"></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                        <!--DOWNLOAD BUTTON-->
                        {% if dictionary.counties_collect_receipt_tat and county_c_r_filename %}
                            <div>
                                <a href="{% url 'download_csv' dictionary.counties_collect_receipt_tat county_c_r_filename %}">
                                    <button type="button" class="btn btn-success btn-floating mr-2"
                                            data-mdb-ripple-color="dark">
                                        {{ county_c_r_filename }} <i class="fas fa-download"></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                        <!--DOWNLOAD BUTTON-->
                        {% if dictionary.program_collect_receipt_tat and program_c_r_filename %}
                            <div>
                                <a href="{% url 'download_csv' dictionary.program_collect_receipt_tat program_c_r_filename %}">
                                    <button type="button" class="btn btn-success btn-floating mr-2"
                                            data-mdb-ripple-color="dark">
                                        {{ program_c_r_filename }} <i class="fas fa-download"></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#                <div class="row justify-content-around">#}
                {#                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">#}
                {#                        {% if record_count != "all" or qi_list|length <= 500 %}#}
                {#                            <h4 class="fw-bold text-primary"> {{ title }} </h4>#}
                {#                        {% else %}#}
                {#                            <h6 class="text-primary text-sm-left"> > 500 records </h6>#}
                {#                        {% endif %}#}
                {#                    </div>#}
                {#                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">#}
                {#                        <a href="{% url 'generate_cd4_report_pdf' %}" class="btn btn-warning btn-block mb-2"#}
                {#                           role="button"> Download PDF</a>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </main>
{% endblock %}