{% extends 'data_analysis/index_dac.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div>
                {% if messages %}
                    {% for message in messages|slice:":1" %}
                        <div class="alert alert-info col-12" role="alert">
                            <h6 style="font-size: x-small">
                                {{ message|safe }}
                            </h6>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="d-flex justify-content-around mb-3">
                    {% if dqa_type == "reporting_rate_fmaps_fcdrr" %}
                        <a href="{% url 'fmaps_reporting_rate' %}" class="btn btn-success">F-MAPS/F-CDRR Reporting
                            rate</a>
                    {% else %}
                        <a href="{% url 'fmaps_reporting_rate' %}" class="btn btn-outline-success">F-MAPS/F-CDRR
                            Reporting rate</a>
                    {% endif %}
                    {% if dqa_type == "sc_curr_arvdisp" %}
                        <a href="{% url 'load_data_pharmacy' %}" class="btn btn-success">SC_CURR/SC_ARV_DISP</a>
                    {% else %}
                        <a href="{% url 'load_data_pharmacy' %}" class="btn btn-outline-success">SC_CURR/SC_ARV_DISP</a>
                    {% endif %}
                    {% if dqa_type == "sc_curr_arvdisp" %}
                        <a href="{% url 'compare_opening_closing_bal_moh730b' %}" class="btn btn-success">Opening vs
                            Closing Balance MOH 730B</a>
                    {% else %}
                        <a href="{% url 'compare_opening_closing_bal_moh730b' %}" class="btn btn-outline-success">Opening
                            vs Closing Balance MOH 730B</a>
                    {% endif %}
                </div>
                <hr>
                <h6 class="text-primary text-center">{{ report_name }}</h6>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row d-flex">
                        <div class="col-md-4">
                            <img class="img-fluid" src="{% static 'images/pharmacy.png' %}" alt="" width="400">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {% if filename %}
                                    <div>
                                        <h4 class="text-primary text-center">{{ filename|upper }} </h4>
                                    </div>
                                {% endif %}
                                {% if "arv" in filename %}
                                    <p><strong>Description: </strong>The number of adult and pediatric ARV bottles
                                        (units) dispensed by
                                        ARV drug category at
                                        the end of the reporting period.</p>
                                    <p><strong>Numerator: </strong>Number of ARV bottles (units) dispensed
                                        within the reporting period by ARV drug
                                        category.</p>
                                {% elif "curr" in filename %}
                                    <p><strong>Description: </strong>The current number of ARV drug units (bottles) at
                                        the end of the reporting period by ARV drug category
                                    </p>
                                    <p><strong>Numerator: </strong>The number of ARV drug units (bottles) at
                                        the end of the reporting period by ARV drug
                                        category.</p>
                                {% else %}
                                    <div>
                                        To utilize this tool, please follow the instructions below:
                                        <ol>
                                            {% if "ARV Dispensing and Stock Availability" in report_name %}
                                                <li>Go to <a
                                                        href='https://hiskenya.org/dhis-web-data-visualizer/index.html#/fIRybyqUbP8'
                                                        target="_blank">KHIS
                                                    website (SC_CURR)</a> or <a
                                                        href='https://hiskenya.org/dhis-web-data-visualizer/index.html#/bMaqesRN4DM'
                                                        target="_blank">KHIS
                                                    website (SC_ARVDISP)</a>.
                                                </li>
                                            {% elif "MOH 730B CONCORDANCE" in report_name %}
                                                <li>Go to <a
                                                        href='https://hiskenya.org/dhis-web-data-visualizer/index.html#/Oyn3PwVN2e8'
                                                        target="_blank">MOH 730B</a>
                                                </li>
                                            {% else %}
                                                <li>Go to <a
                                                        href='https://hiskenya.org/dhis-web-data-visualizer/index.html#/rpkLs05fppq'
                                                        target="_blank">KHIS
                                                    website</a>.
                                                </li>
                                            {% endif %}
                                            <li>Choose two subsequent months you want to compare data</li>
                                            <li>Download one CSV file with the following data:</li>
                                            <ul>
                                                {% for dataset in datasets %}
                                                    <li>{{ dataset|safe }}</li>

                                                {% endfor %}
                                            </ul>
                                            <li>Upload the downloaded CSV file using the tool.</li>
                                        </ol>
                                        Please ensure that you have downloaded the correct CSV file and that it
                                        contains the required data.
                                        If you encounter any issues, please contact the support team.
                                    </div>

                                {% endif %}
                                <div class="row mt-1">
                                    <div class="form-group col-md-8">
                                        {{ form.as_p }}
                                        {% if form.is_bound %}
                                            <p>Uploaded file: {{ form.cleaned_data.file.name }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>

                {% if visualize_variance and "MOH 730B CONCORDANCE" in report_name %}
                    <div class="mb-2">
                            {{ county_status_chart|safe }}
                        </div>
                    <div class="mb-2">
                            {{ subcounty_status_chart|safe }}
                        </div>
                    <div class="mb-2">
                            {{ overall_var_fig_fyj|safe }}
                        </div>
                    <div class="mb-2">
                            {{ positive_var_fig_fyj|safe }}
                        </div>
                    <div class="mb-2">
                            {{ negative_var_fig_fyj|safe }}
                        </div>
                    {% for fig in visualize_variance %}
                        {{ key }}
                        <div class="mb-2">
                            {{ fig|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not final_df.empty %}
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                            <tr>
                                <th scope="col"></th>
                                {% for col in final_df.columns %}
                                    <th scope="col">{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody style="padding-top: 45px;">
                            {% for index, row in final_df.iterrows %}
                                <tr>
                                    {% if index == "Total" %}
                                        <th scope="row" class="fw-bold">{{ index }}</th>
                                        {% for cell in row %}
                                            <td class="fw-bold">
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <th scope="row">{{ index }}</th>
                                        {% for cell in row %}
                                            <td>
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.report filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}
                {% if not variances_df.empty and "MOH 730B CONCORDANCE" in report_name %}
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                            <tr>
                                <th scope="col"></th>
                                {% for col in variances_df.columns %}
                                    <th scope="col">{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody style="padding-top: 45px;">
                            {% for index, row in variances_df.iterrows %}
                                <tr>
                                    {% if index == "Total" %}
                                        <th scope="row" class="fw-bold">{{ index }}</th>
                                        {% for cell in row %}
                                            <td class="fw-bold">
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <th scope="row">{{ index }}</th>
                                        {% for cell in row %}
                                            <td>
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.variances_df filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}

                {% if not other_adult_df_file.empty %}
                    <hr>
                    <h6 class="text-primary text-center"> Adult other regimens </h6>
                    <hr>
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                            <tr>
                                <th scope="col"></th>
                                {% for col in other_adult_df_file.columns %}
                                    <th scope="col">{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody style="padding-top: 45px;">
                            {% for index, row in other_adult_df_file.iterrows %}
                                <tr>
                                    <th scope="row">{{ index }}</th>
                                    {% for cell in row %}
                                        <td>
                                            {{ cell }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.adult_report adult_others_filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}
                {% if not other_paeds_bottles_df_file.empty %}
                    <hr>
                    <h6 class="text-primary text-center"> Pediatrics other regimens </h6>
                    <hr>
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                            <tr>
                                <th scope="col"></th>
                                {% for col in other_paeds_bottles_df_file.columns %}
                                    <th scope="col">{{ col }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody style="padding-top: 45px;">
                            {% for index, row in other_paeds_bottles_df_file.iterrows %}
                                <tr>
                                    <th scope="row">{{ index }}</th>
                                    {% for cell in row %}
                                        <td>
                                            {{ cell }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.paediatric_report paeds_others_filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}
                {% if not reporting_errors_df.empty %}
                    <hr>
                    <h6 class="text-primary text-center"> Possible Reporting Errors </h6>
                    <hr>
                    <div>
                        <div class="table-responsive table-fixed-header mt-3">
                            <table class="table table-striped table-hover mt-5">
                                <thead class="thead-dark" style="position: sticky; top: 0; z-index: 1;">
                                <tr>
                                    <th scope="col"></th>
                                    {% for col in reporting_errors_df.columns %}
                                        <th scope="col">{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody style="padding-top: 45px;">
                                {% for index, row in reporting_errors_df.iterrows %}
                                    <tr>
                                        <th scope="row">{{ index }}</th>
                                        {% for cell in row %}
                                            <td>
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.reporting_errors reporting_error_filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}
                {% if pmp_report|length > 0 %}
                    <hr>
                    <h6 class="text-primary text-center"> {{ filename|upper }} PMP REPORT </h6>
                    <hr>
                    <div class="table-fixed-header">
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark mb-5">
                            <th scope="col"></th>
                            {% for col in pmp_report.columns %}
                                <th scope="col">{{ col }}</th>
                            {% endfor %}
                            </thead>
                            <tbody>
                            </tr>
                            {% for index, row in pmp_report.iterrows %}
                                <tr>
                                    {% if index == "Total" %}
                                        <th scope="row" class="fw-bold">{{ index }}</th>
                                        {% for cell in row %}
                                            <td class="fw-bold">
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <th scope="row">{{ index }}</th>
                                        {% for cell in row %}
                                            <td>
                                                {{ cell }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--DOWNLOAD BUTTON-->
                    <div class="mt-3">
                        <a href="{% url 'download_csv' dictionary.pmp_report pmp_report_filename %}">
                            <button type="button" class="btn btn-success btn-floating mr-2"
                                    data-mdb-ripple-color="dark">
                                Download <i class="fas fa-download"></i>
                            </button>
                        </a>
                    </div>
                {% endif %}

                {% if fcdrr_fig %}
                    <div>
                        <div class="mb-2">
                            {{ overall_fig|safe }}
                            {{ nairobi_reporting_rate_fig|safe }}
                            {{ kajiado_reporting_rate_fig|safe }}
                            {{ fcdrr_fig|safe }}
                            {{ fmaps_fig|safe }}
                            {#                            {{ no_fcdrr_fmaps_fig_all|safe }}#}
                            {{ no_fcdrr_fmaps_fig|safe }}
                        </div>
                        <hr>
                        <h6 class="text-primary text-center"> Download Facilities Missing Monthly Reports </h6>
                        <div class="row">
                            <div class="col d-flex justify-content-between">
                                <!--DOWNLOAD BUTTON-->
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.no_fcdrr "no fcdrr report fyj" %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            no fcdrr report (FYJ) <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.no_fmaps "no fmaps report" %}">
                                        <button type="button" class="btn btn-success btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            no fmaps report (FYJ) <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                                <!--DOWNLOAD BUTTON-->
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.no_fcdrr_all "no fcdrr report all" %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            no fcdrr report (All) <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                                <!--DOWNLOAD BUTTON-->
                                <div class="mt-3">
                                    <a href="{% url 'download_csv' dictionary.no_fmaps_all "no fmaps report all" %}">
                                        <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                data-mdb-ripple-color="dark">
                                            no fmaps report (All) <i class="fas fa-download"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h6 class="text-primary text-center">Reporting rate vs Reporting rate on time: MOH 730B
                            Facility - CDRR</h6>
                        <hr>
                        <div class="mb-2">
                            {{ nairobi_730b_fig|safe }}
                            {{ kajiado_730b_fig|safe }}
                            {{ nairobi_program_facilities_730b_fig|safe }}
                            {{ kajiado_program_facilities_730b_fig|safe }}
                            {{ program_facilities_730b_fig|safe }}
                        </div>
                        <hr>
                        <h6 class="text-primary text-center">Download datasets section</h6>
                        <hr>
                        <div>
                            {% if not nairobi_730b_overall.empty %}
                                <div class="row">
                                    <div class="col d-flex justify-content-evenly">
                                        <!--DOWNLOAD BUTTON-->
                                        <div>
                                            <a href="{% url 'download_csv' dictionary.nairobi_730b_overall "nairobi_730b_overall" %}">
                                                <button type="button" class="btn btn-success btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    nairobi_730b_overall <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div>
                                            <a href="{% url 'download_csv' dictionary.kajiado_730b_overall "kajiado_730b_overall" %}">
                                                <button type="button" class="btn btn-success btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    kajiado_730b_overall <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div>
                                            <a href="{% url 'download_csv' dictionary.fyj_nairobi_730 "fyj_nairobi_730" %}">
                                                <button type="button" class="btn btn-success btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_nairobi_730b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div>
                                            <a href="{% url 'download_csv' dictionary.fyj_kajiado_730 "fyj_kajiado_730" %}">
                                                <button type="button" class="btn btn-success btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_kajiado_730b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div>
                                            <a href="{% url 'download_csv' dictionary.fyj_730b "fyj_730b" %}">
                                                <button type="button" class="btn btn-success btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_730b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col d-flex justify-content-evenly">
                                        <!--DOWNLOAD BUTTON-->
                                        <div class="mt-3">
                                            <a href="{% url 'download_csv' dictionary.nairobi_729b_overall "nairobi_729b_overall" %}">
                                                <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    nairobi_729b_overall <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div class="mt-3">
                                            <a href="{% url 'download_csv' dictionary.kajiado_729b_overall "kajiado_729b_overall" %}">
                                                <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    kajiado_729b_overall <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div class="mt-3">
                                            <a href="{% url 'download_csv' dictionary.fyj_nairobi_729b "fyj_nairobi_729b" %}">
                                                <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_nairobi_729b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div class="mt-3">
                                            <a href="{% url 'download_csv' dictionary.fyj_kajiado_729b "fyj_kajiado_729b" %}">
                                                <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_kajiado_729b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <!--DOWNLOAD BUTTON-->
                                        <div class="mt-3">
                                            <a href="{% url 'download_csv' dictionary.fyj_729b "fyj_729b" %}">
                                                <button type="button" class="btn btn-secondary btn-floating mr-2"
                                                        data-mdb-ripple-color="dark">
                                                    fyj_729b <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                            <h6 class="text-primary text-center">Reporting rate vs Reporting rate on time: MOH 729B
                                F-MAPS</h6>
                            <hr>
                        </div>
                        <div class="mb-2">
                            {{ nairobi_729b_fig|safe }}
                            {{ kajiado_729b_fig|safe }}
                            {{ nairobi_program_facilities_729b_fig|safe }}
                            {{ kajiado_program_facilities_729b_fig|safe }}
                            {{ program_facilities_729b_fig|safe }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}