{% extends 'dqa/index_dqa.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {#        <h6 class="display-6 text-primary">HIV DQA Facility Data Verification Assessment Tool</h6>#}
        <h6 class="display-6 text-primary text-center">Updating Data for {{ item.ward_name.name }} Ward</h6>

        <div class="p-5 mb-4 bg-light rounded-3">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h6 class="d-flex justify-content-evenly">{{ message }}</h6>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container-fluid py-5">
                <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                    {% csrf_token %}
                    {% if report_type == "data-quality-assessment" %}
                        <table class="table table-striped table-hover" style="font-size: small;">
                            <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th># of people</th>
                                <th># of people</th>
                                <th># of people</th>
                                <th># of communities</th>
                                <th># of people</th>
                                <th># of people</th>
                                <th># of basic sanitation facilities</th>
                                <th>ASSESOR'S COMMENTS</th>
                            </tr>
                            <tr>
                                <th>Detailed checklist</th>
                                <th>Trained to implement improved sanitation methods</th>
                                <th>Gaining access to basic drinking water services as a result of USG
                                    assistance
                                </th>
                                <th>Gaining access to a safely managed drinking water service</th>
                                <th>Certified as open defecation free (ODF) as a result of USG
                                    assistance
                                </th>
                                <th>Gaining access to a basic sanitation service as a result of USG
                                    assistance
                                </th>
                                <th>Gaining access to safely managed sanitation services as a result of
                                    USG assistance.
                                </th>
                                <th>Provided in institutional settings as a result
                                    of USG assistance
                                </th>
                                <th>
                                    (Please provide detail for each response here, elaborate for each indicator)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: calc((20%) );">{{ form.description|as_crispy_field }}</td>
                                <td>{{ form.number_trained|as_crispy_field }}</td>
                                <td>{{ form.number_access_basic_water|as_crispy_field }}</td>
                                <td>{{ form.number_access_safe_water|as_crispy_field }}</td>
                                <td>{{ form.number_community_open_defecation|as_crispy_field }}</td>
                                <td>{{ form.number_access_basic_sanitation|as_crispy_field }}</td>
                                <td>{{ form.number_access_safe_sanitation|as_crispy_field }}</td>
                                <td>{{ form.number_access_basic_sanitation_institutions|as_crispy_field }}</td>
                                <td style="width: calc((15%) );">{{ form.auditor_note|as_crispy_field }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-striped table-hover" style="font-size: small;">
                            <thead class="thead-dark">
                            <tr>
                                <th>Detailed checklist</th>
                                <th>Verification means</th>
                                <th>Field staffs to involve</th>
                                <th>Rating</th>
                                <th>Rationale for rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ form.description|as_crispy_field }}</td>
                                <td>{{ form.verification_means|as_crispy_field }}</td>
                                <td>{{ form.staff_involved|as_crispy_field }}</td>
                                <td>{{ form.dropdown_option|as_crispy_field }}</td>
                                <td>{{ form.auditor_note|as_crispy_field }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="col-md-3 mt-4 pt-2">
                        <input class="btn btn-sm btn-success mt-1" type="submit" name="submit_data" value="Submit">
                    </div>
{#                    {% if form.errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            <strong> Please correct the following errors :</strong>#}
{#                            <ul>#}
{#                                {% for error in form.errors %}#}
{#                                    <li> {{ error }} </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    {% endif %}#}
                </form>
                {#                {% endif %}#}
            </div>
        </div>
    </main>
{% endblock %}