{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h6 class="display-6 text-primary text-center">Supply Chain Spot Check Dashboard (Register/Records)</h6>
        <hr>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-info" role="alert">
                                <p class="small">{{ message }}</p>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    <a href="{% url 'choose_facilities_pharmacy' %}" class="btn btn-secondary mb-5" role="button">Add
                        data for another facility</a>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    {#                                        {{ filtered_data }}#}
                    {% if "Malaria Commodities DAR (MoH 645)" in filtered_data %}
                    {% else %}
                        {% if report_name == "Malaria Commodities DAR (MoH 645)" %}
                            <a href="{% url 'add_pharmacy_records' register_name='Malaria Commodities DAR (MoH 645)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">DAR MOH 645 Malaria</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='Malaria Commodities DAR (MoH 645)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">DAR MOH 645 Malaria</a>
                        {% endif %}
                    {% endif %}
                    {% if "ARV Daily Activity Register (DAR) (MOH 367A) or WebADT" in filtered_data %}
                    {% else %}
                        {% if register_name == "ARV Daily Activity Register (DAR) (MOH 367A) or WebADT" %}
                            <a href="{% url 'add_pharmacy_records' register_name='ARV Daily Activity Register (DAR) (MOH 367A) or WebADT' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">DAR MOH 367A ARVs /WebADT</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='ARV Daily Activity Register (DAR) (MOH 367A) or WebADT' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">DAR MOH 367A ARVs /WebADT</a>
                        {% endif %}
                    {% endif %}
                    {% if "ARV F-MAPS (MOH 729B)" in filtered_data %}
                    {% else %}
                        {% if register_name == "ARV F-MAPS (MOH 729B)" %}
                            <a href="{% url 'add_pharmacy_records' register_name='ARV F-MAPS (MOH 729B)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">ARV F-MAPS (MOH 729B)</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='ARV F-MAPS (MOH 729B)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">ARV F-MAPS (MOH 729B)</a>
                        {% endif %}
                    {% endif %}
                    {% if "DADR-Anti TB register" in filtered_data %}
                    {% else %}
                        {% if register_name == "DADR-Anti TB register" %}
                            <a href="{% url 'add_pharmacy_records' register_name='DADR-Anti TB register' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">DADR-Anti TB register</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='DADR-Anti TB register' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">DADR-Anti TB register</a>
                        {% endif %}
                    {% endif %}
                    {% if "Family Planning Commodities Daily Activity Register (DAR) (MOH 512)" in filtered_data %}
                    {% else %}

                        {% if register_name == "Family Planning Commodities Daily Activity Register (DAR) (MOH 512)" %}
                            <a href="{% url 'add_pharmacy_records' register_name='Family Planning Commodities Daily Activity Register (DAR) (MOH 512)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">DAR MOH 512 FP</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='Family Planning Commodities Daily Activity Register (DAR) (MOH 512)' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">DAR MOH 512 FP</a>
                        {% endif %}
                    {% endif %}
                    {% if "Delivery notes file" in filtered_data %}
                    {% else %}

                        {% if register_name == "Delivery notes file" %}
                            <a href="{% url 'add_pharmacy_records' register_name='Delivery notes file' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-success">Delivery notes file</a>
                        {% else %}
                            <a href="{% url 'add_pharmacy_records' register_name='Delivery notes file' quarter=quarter year=year pk=facility_id date=date %}"
                               class="btn btn-outline-success">Delivery notes file</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if register_name %}
                    {% for key,months in commodity_questions.items %}
                        <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data'
                              autocomplete="off">
                            {% csrf_token %}
                            <hr>
                            <table class="table table-striped table-hover" style="font-size: small;">
                                <thead class="thead-dark">
                                <tr>
                                    {% for key,months in commodity_questions.items %}
                                        {% for month in months %}
                                            <th style="font-size: x-small"> {{ month }} </th>
                                        {% endfor %}
                                    {% endfor %}
                                    <th style="font-size: x-small"> Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> {{ form.register_available|as_crispy_field }} </td>
                                    <td> {{ form.currently_in_use|as_crispy_field }} </td>
                                    <td> {{ form.last_month_copy|as_crispy_field }} </td>
                                    <td> {{ form.date_report_submitted|as_crispy_field }} </td>
                                    <td> {{ form.comments|as_crispy_field }} </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-md-3 mt-4 pt-2">
                                <input class="btn btn-success mt-1" type="submit" name="submit_data" value="Submit">
                            </div>
                        </form>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}