{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <style>
        .my-textarea {
            height: auto !important;
            width: 100%;
            max-width: 600px;
            background-color: #6c757d;
            color: white;
            resize: none;
            padding: 8px;
            border: none;
            box-shadow: none;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .auditor-textarea {
            height: auto !important;
            width: 100%;
            max-width: 600px;
            resize: none;
            padding: 8px;
            border: none;
            box-shadow: none;
            border-radius: 10px;
            margin-bottom: 20px;
        }


        .toggle-numerator-denominator {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 2px;
        }

        .toggle-numerator-denominator:hover {
            background-color: #3e8e41;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            width: 80px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 6px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -ms-transform: translateX(42px);
            transform: translateX(42px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .on, .off {
            color: white;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .on {
            opacity: 0;
        }

        input:checked + .slider .on {
            opacity: 1;
        }

        input:checked + .slider .off {
            opacity: 0;
        }

        .on {
            left: 25%;
        }

        .off {
            left: 70%;
        }

    </style>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h6 class="display-6 text-primary text-center">FACILITY Supply Chain Spot Check Dashboard (Inventory)</h6>
        <hr>
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if messages %}
                <!--group the messages by their text and display only one message for each unique text-->
                {% regroup messages by message as message_list %}
                {% for message in message_list %}
                    <div class="alert alert-info col-12 animated fadeIn" role="alert">
                        <h5 class="d-flex justify-content-evenly small">{{ message.grouper }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
            <div>
                <a href="{% url 'choose_facilities_inventory' %}" class="btn btn-secondary mb-5" role="button">Add
                    data for another facility</a>
            </div>
            <div class="container-fluid">
                <div>
                    <div class="d-flex justify-content-between mb-3">
                        {#                    {{ filtered_data }}#}
                        {% if "stock_cards" in filtered_data %}
                        {% else %}
                            {% if report_name == "stock_cards" %}
                                <a href="{% url 'add_inventory' report_name='stock_cards' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">1.
                                    Stock
                                    Cards</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='stock_cards' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">1.
                                    Stock Cards</a>
                            {% endif %}
                        {% endif %}
                        {% if "unit_supplied" in filtered_data %}
                        {% else %}
                            {% if report_name == "unit_supplied" %}
                                <a href="{% url 'add_inventory' report_name='unit_supplied' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">2.
                                    Unit
                                    Supplied</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='unit_supplied' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">2.
                                    Unit Supplied</a>
                            {% endif %}
                        {% endif %}
                        {% if "quantity_delivered" in filtered_data %}
                        {% else %}

                        {% endif %}
                        {% if "beginning_balance" in filtered_data %}
                        {% else %}

                            {% if report_name == "beginning_balance" %}
                                <a href="{% url 'add_inventory' report_name='beginning_balance' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">3.
                                    Beginning Balance</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='beginning_balance' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">3. Beginning Balance</a>
                            {% endif %}
                        {% endif %}

                        {% if "positive_adjustments" in filtered_data %}
                        {% else %}

                            {% if report_name == "positive_adjustments" %}
                                <a href="{% url 'add_inventory' report_name='positive_adjustments' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">
                                    4. +ve Adjustments</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='positive_adjustments' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">4. +ve Adjustments</a>
                            {% endif %}
                        {% endif %}
                        {% if "unit_issued" in filtered_data %}
                        {% else %}

                            {% if report_name == "unit_issued" %}
                                <a href="{% url 'add_inventory' report_name='unit_issued' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">5.
                                    Unit
                                    Issued to others</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='unit_issued' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">5.
                                    Unit Issued to others</a>
                            {% endif %}
                        {% endif %}
                        {% if "negative_adjustment" in filtered_data %}
                        {% else %}
                            {% if report_name == "negative_adjustment" %}
                                <a href="{% url 'add_inventory' report_name='negative_adjustment' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">6.
                                    -ve Adjustment</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='negative_adjustment' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">6. -ve Adjustment</a>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="d-flex justify-content-between mb-3">

                        {% if "s11_form_availability" in filtered_data %}
                        {% else %}

                            {% if report_name == "s11_form_availability" %}
                                <a href="{% url 'add_inventory' report_name='s11_form_availability' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">7.
                                    S11
                                    Form </a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='s11_form_availability' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">7.
                                    S11 Form </a>
                            {% endif %}
                        {% endif %}
                        {% if "s11_form_endorsed" in filtered_data %}
                        {% else %}

                            {% if report_name == "s11_form_endorsed" %}
                                <a href="{% url 'add_inventory' report_name='s11_form_endorsed' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">8.
                                    S11 Form Endorsed</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='s11_form_endorsed' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">8.
                                    S11 Form Endorsed</a>
                            {% endif %}
                        {% endif %}
                        {% if "expired" in filtered_data %}
                        {% else %}

                            {% if report_name == "expired" %}
                                <a href="{% url 'add_inventory' report_name='expired' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">9.
                                    Stock outs & Expiries</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='expired' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">9.
                                    Stock outs & Expiries</a>
                            {% endif %}
                        {% endif %}
                        {% if "expired_units" in filtered_data %}
                        {% else %}
                            {% if report_name == "expired_units" %}
                                <a href="{% url 'add_inventory' report_name='expired_units' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">10.
                                    Stock outs & Expired Units</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='expired_units' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">10.
                                    Stock outs & Expired Units</a>
                            {% endif %}
                        {% endif %}
                        {% if "expiry_tracking" in filtered_data %}
                        {% else %}
                            {% if report_name == "expiry_tracking" %}
                                <a href="{% url 'add_inventory' report_name='expiry_tracking' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">11.
                                    Expiry Tracking</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='expiry_tracking' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">11. Expiry Tracking</a>
                            {% endif %}
                        {% endif %}
                        {% if "stock_management" in filtered_data %}
                        {% else %}
                            {% if report_name == "stock_management" %}
                                <a href="{% url 'add_inventory' report_name='stock_management' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-success">12.
                                    Stock Management</a>
                            {% else %}
                                <a href="{% url 'add_inventory' report_name='stock_management' quarter=quarter year=year pk=facility_id date=date %}"
                                   class="btn btn-outline-success">12. Stock Management</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-striped table-hover table-bordered" style="font-size: x-small;">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th>DESCRIPTION</th>
                            <th>TLD 90s</th>
                            <th>DTG 10</th>
                            <th>ABC/3TC 120/60</th>
                            <th>3HP</th>
                            <th>IMPLANT 1 ROD</th>
                            <th>AL 24</th>
                            <th>COMMENTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in formset %}
                            <tr>
                                <td class="fw-bold">
                                    {{ form.description }}
                                </td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.adult_arv_tdf_3tc_dtg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.pead_arv_dtg_10mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.paed_arv_abc_3tc_120_60mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.tb_3hp|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.family_planning_rod|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.al_24|as_crispy_field }}</td>
                                <td style="width: 20%;height: 100px;">{{ form.comments|as_crispy_field }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-md-2 mt-2 pt-3">
                        <input class="btn btn-success mt-1" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}