{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h6 class="display-6 text-primary text-center">Supply Chain Spot Check Dashboard (Inventory)</h6>
        <hr>
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if messages %}
                <!--group the messages by their text and display only one message for each unique text-->
                {% regroup messages by message as message_list %}
                {% for message in message_list %}
                    <div class="alert alert-info col-12 animated fadeIn" role="alert">
                        <h5 class="d-flex justify-content-evenly small">{{ message.grouper }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container-fluid">
                <div>
                    <div class="d-flex justify-content-between mb-3">
                        {% if report_name == "stock_cards" %}
                            <a href="{% url 'add_inventory' report_name='stock_cards' %}"
                               class="btn btn-sm btn-success">1.
                                Stock
                                Cards</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='stock_cards' %}"
                               class="btn btn-sm btn-outline-success">1.
                                Stock Cards</a>
                        {% endif %}

                        {% if report_name == "unit_supplied" %}
                            <a href="{% url 'add_inventory' report_name='unit_supplied' %}"
                               class="btn btn-sm btn-success">2.
                                Unit
                                Supplied</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='unit_supplied' %}"
                               class="btn btn-sm btn-outline-success">2.
                                Unit Supplied</a>
                        {% endif %}

{#                        {% if report_name == "quantity_delivered" %}#}
{#                            <a href="{% url 'add_inventory' report_name='quantity_delivered' %}"#}
{#                               class="btn btn-sm btn-success">3.#}
{#                                Quantity Delivered</a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'add_inventory' report_name='quantity_delivered' %}"#}
{#                               class="btn btn-sm btn-outline-success">3. Quantity Delivered</a>#}
{#                        {% endif %}#}

                        {% if report_name == "beginning_balance" %}
                            <a href="{% url 'add_inventory' report_name='beginning_balance' %}"
                               class="btn btn-sm btn-success">4.
                                Beginning Balance</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='beginning_balance' %}"
                               class="btn btn-sm btn-outline-success">4. Beginning Balance</a>
                        {% endif %}

                        {% if report_name == "unit_received" %}
                            <a href="{% url 'add_inventory' report_name='unit_received' %}"
                               class="btn btn-sm btn-success">5.
                                Unit
                                Received</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='unit_received' %}"
                               class="btn btn-sm btn-outline-success">
                                5.Unit Received </a>
                        {% endif %}

                        {% if report_name == "positive_adjustments" %}
                            <a href="{% url 'add_inventory' report_name='positive_adjustments' %}"
                               class="btn btn-sm btn-success">
                                6. +ve Adjustments</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='positive_adjustments' %}"
                               class="btn btn-sm btn-outline-success">6. +ve Adjustments</a>
                        {% endif %}

                        {% if report_name == "unit_issued" %}
                            <a href="{% url 'add_inventory' report_name='unit_issued' %}"
                               class="btn btn-sm btn-success">7.
                                Unit
                                Issued to others</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='unit_issued' %}"
                               class="btn btn-sm btn-outline-success">7.
                                Unit Issued to others</a>
                        {% endif %}

                    </div>
                    <div class="d-flex justify-content-between mb-3">

                        {% if report_name == "negative_adjustment" %}
                            <a href="{% url 'add_inventory' report_name='negative_adjustment' %}"
                               class="btn btn-sm btn-success">8.
                                -ve Adjustment</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='negative_adjustment' %}"
                               class="btn btn-sm btn-outline-success">8. -ve Adjustment</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "s11_form_availability" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "s11_form_availability" %}
                            <a href="{% url 'add_inventory' report_name='s11_form_availability' %}"
                               class="btn btn-sm btn-success">9.
                                S11
                                Form </a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='s11_form_availability' %}"
                               class="btn btn-sm btn-outline-success">9.
                                S11 Form </a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "s11_form_endorsed" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "s11_form_endorsed" %}
                            <a href="{% url 'add_inventory' report_name='s11_form_endorsed' %}"
                               class="btn btn-sm btn-success">10.
                                S11 Form Endorsed</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='s11_form_endorsed' %}"
                               class="btn btn-sm btn-outline-success">10.
                                S11 Form Endorsed</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "expired" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "expired" %}
                            <a href="{% url 'add_inventory' report_name='expired' %}"
                               class="btn btn-sm btn-success">11.
                                Stock outs & Expiries</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='expired' %}"
                               class="btn btn-sm btn-outline-success">11.
                                Stock outs & Expiries</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "expired_units" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "expired_units" %}
                            <a href="{% url 'add_inventory' report_name='expired_units' %}"
                               class="btn btn-sm btn-success">12.
                                Stock outs & Expired Units</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='expired_units' %}"
                               class="btn btn-sm btn-outline-success">12.
                                Stock outs & Expired Units</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "expiry_tracking" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "expiry_tracking" %}
                            <a href="{% url 'add_inventory' report_name='expiry_tracking' %}"
                               class="btn btn-sm btn-success">13.
                                Expiry Tracking</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='expiry_tracking' %}"
                               class="btn btn-sm btn-outline-success">13. Expiry Tracking</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                            {% if model_name == "stock_management" %}#}
                        {#                                {% if not result %}#}
                        {% if report_name == "stock_management" %}
                            <a href="{% url 'add_inventory' report_name='stock_management' %}"
                               class="btn btn-sm btn-success">14.
                                Stock Management</a>
                        {% else %}
                            <a href="{% url 'add_inventory' report_name='stock_management' %}"
                               class="btn btn-sm btn-outline-success">14. Stock Management</a>
                        {% endif %}
                        {#                                {% endif %}#}
                        {#                            {% endif %}#}
                        {#                        {% endfor %}#}
                    </div>
                </div>
                <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                    {% csrf_token %}
                    <p> Please fill the fields below and then submit </p>
                    <div class="col-md-2 mt-2">
                        {{ quarter_form.quarter|as_crispy_field }}
                    </div>
                    <div class="col-md-2 mt-2 pr-5">
                        {{ year_form.year|as_crispy_field }}
                    </div>
                    <div class="col-md-2 mt-2">
                        {{ date_form.date|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mt-2">
                        {{ facility_form.name|as_crispy_field }}
                    </div>
                    {{ formset.management_form }}
                    <table class="table table-striped table-hover" style="font-size: x-small;">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th>DESCRIPTION</th>
                            <th>TLD 90s</th>
                            <th>DTG 10</th>
                            <th>ABC/3TC 120/60</th>
                            <th>3HP</th>
                            <th>IMPLANT 1 ROD</th>
                            <th>AL 24</th>
                            <th>COMMENTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in formset %}
                            <tr>
                                <td class="fw-bold">
                                    {{ form.description }}
                                </td>
                                {#                                <td style="width: 15%;">#}
                                {#                                    <div class="fw-bold">#}
                                {#                                        {% if form.errors %}#}
                                {#                                            {{ form.initial.description }}#}
                                {#                                        {% else %}#}
                                {#                                            {{ form.description.value }}#}
                                {#                                        {% endif %}#}
                                {#                                    </div>#}
                                {#                                </td>#}
                                <td style="width: calc((100% - 35%) / 6);">{{ form.adult_arv_tdf_3tc_dtg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.pead_arv_dtg_10mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.paed_arv_abc_3tc_120_60mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.tb_3hp|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.family_planning_rod|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.al_24|as_crispy_field }}</td>
                                <td style="width: 20%;height: 100px;">{{ form.comments|as_crispy_field }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-md-2 mt-2 pt-3">
                        <input class="btn btn-sm btn-success mt-1" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}