{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load mathfilters %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h6 class="display-6 text-primary text-center">DQA DASHBOARD</h6>
        <hr>
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info col-12" role="alert">
                        <h5 class="small">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
            {% if "facility" in title %}
                <h6 class="display-6 fw-bold text-primary">CREATE FACILITY QI</h6>
            {% elif "program" in title %}
                <h6 class="display-6 fw-bold text-primary">CREATE {{ title|upper }} QI</h6>
            {% endif %}
            <div class="d-flex justify-content-around mb-3">
                {% if dqa_type == "facility" %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='facility' %}" class="btn btn-success">FACILITY
                        DQA</a>
                {% else %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='facility' %}" class="btn btn-outline-success">FACILITY
                        DQA</a>
                {% endif %}
                {% if dqa_type == "hub" %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='hub' %}" class="btn btn-success">HUB DQA</a>
                {% else %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='hub' %}" class="btn btn-outline-success">HUB
                        DQA</a>
                {% endif %}
                {% if dqa_type == "subcounty" %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='subcounty' %}" class="btn btn-success">SUB-COUNTIES
                        DQA</a>
                {% else %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='subcounty' %}" class="btn btn-outline-success">SUB-COUNTIES
                        DQA</a>
                {% endif %}
                {% if dqa_type == "county" %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='county' %}" class="btn btn-success">COUNTY
                        DQA</a>
                {% else %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='county' %}" class="btn btn-outline-success">COUNTY
                        DQA</a>
                {% endif %}
                {% if dqa_type == "program" %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='program' %}" class="btn btn-success">PROGRAM
                        DQA</a>
                {% else %}
                    <a href="{% url 'pharmacy_dqa_dashboard' dqa_type='program' %}" class="btn btn-outline-success">PROGRAM
                        DQA</a>
                {% endif %}
            </div>
            <form class="row g-3" id="dqa-form" method="POST" class="mt-5" enctype='multipart/form-data'
                  autocomplete="off">
                {% csrf_token %}
                <p> Please choose quarter, year and then submit </p>

                <div class="col-md-3 mt-2">
                    {{ quarter_form.quarter|as_crispy_field }}
                </div>
                <div class="col-md-3 mt-2 pr-5">
                    {{ year_form.year|as_crispy_field }}
                </div>
                {% if dqa_type == "subcounty" %}
                    <div class="col-md-4 mt-2">
                        {{ subcounty_form.subcounty |as_crispy_field }}
                    </div>
                {% elif dqa_type == "county" %}
                    <div class="col-md-4 mt-2">
                        {{ county_form.county |as_crispy_field }}
                    </div>
                {% elif dqa_type == "hub" %}
                    <div class="col-md-4 mt-2">
                        {{ hub_form.hub |as_crispy_field }}
                    </div>
                {% elif dqa_type == "program" %}
                    <div class="col-md-4 mt-2">
                        {{ program_form.program |as_crispy_field }}
                    </div>
                {% elif dqa_type == "facility" %}
                    <div id="facility" class="col-md-4 mt-2">
                        {{ facility_form.name|as_crispy_field }}
                    </div>
                {% endif %}
            </form>
            {% if not supply_chain_target_100.empty %}
                <hr>
                <h6 class=" fw-bold text-primary text-center">Supply chain KPIs with a target of 100% </h6>
                <hr>
                <!--SUPPLY CHAIN PERFORMANCE KEY-->
                <div class="col mt-3">
                    <table class="table table-striped table-hover" style="font-size: x-small;">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th colspan="2">COLOUR CODE KEY</th>
                        </tr>
                        <tr>
                            <th>Color code</th>
                            <th>Range</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center text-black"
                                style="background-color: green; border: 1px solid black;">
                                <strong>Green <span class="text-info"> (Meets standard)</span></strong>
                            </td>
                            <td class="text-primary text-center">
                                <strong> >= 90 %</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-black"
                                style="background-color: yellow; border: 1px solid black;">
                                <strong>Yellow <span class="text-info"> (Needs improvement)</span></strong>
                            </td>
                            <td class="text-primary text-center">
                                <strong> >= 80 % and < 90 %</strong>
                            </td>
                        <tr>
                            <td class="text-center text-black"
                                style="background-color: red; border: 1px solid black;">
                                <strong>Red <span
                                        class="text-info"> (Needs urgent remediation)</span></strong>
                            </td>
                            <td class="text-primary text-center">
                                <strong> < 80%</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--SUPPLY CHAIN KPIs WITH A TARGET OF 100-->
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <th scope="col"></th>
                    {% for col in supply_chain_target_100.columns %}
                        {% if mean_score in col %}
                            {% if facility_mean >= 90 %}
                                <th class="text-center" scope="col"
                                    style="background-color: green; border: 3px solid black">{{ col }}</th>
                            {% elif facility_mean < 90  and facility_mean >= 80 %}
                                <th class="text-center text-primary" scope="col"
                                    style="background-color: yellow; border: 3px solid black">{{ col }}</th>
                            {% elif facility_mean < 80 %}
                                <th class="text-center" scope="col"
                                    style="background-color: red; border: 3px solid black">{{ col }}</th>
                            {% endif %}
                        {% else %}
                            <th class="text-center" scope="col">{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for index, row in supply_chain_target_100.iterrows %}
                        <tr>
                            <th scope="row">{{ index }}</th>
                            {% for cell in row %}
                                <!--Format last column (Level mean score) -->
                                {% if forloop.last %}
                                    {% if cell >= 90  and cell not in sort_focus_areas %}
                                        <td class="text-center fw-bold text-light"
                                            style="background-color: green">
                                            {{ cell }} %
                                        </td>
                                    {% elif cell < 90  and cell >= 80 and cell not in sort_focus_areas %}
                                        <td class="text-center fw-bold text-primary"
                                            style="background-color: yellow">
                                            {{ cell }} %
                                        </td>
                                    {% elif cell < 80 and cell not in sort_focus_areas %}
                                        <td class="text-center fw-bold text-light"
                                            style="background-color: red">
                                            {{ cell }} %
                                        </td>
                                    {% endif %}
                                    <!-- Format first and second columns -->
                                {% elif forloop.first or forloop.counter == 2 %}
                                    <td class="text-center fw-bold">
                                        {{ cell }}
                                    </td>
                                    <!--Format other columns in between -->
                                {% else %}
                                    <!--Remove background color format to the last two in table -->
                                    {% if forloop.parentloop.revcounter <= 2 %}
                                        {% if cell == 0  and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: green">
                                                {{ cell }}
                                            </td>
                                        {% elif cell > 0 and cell < 9999.9 and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: red">
                                                {{ cell }}
                                            </td>
                                        {% elif cell < 0 and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: red">
                                                {{ cell }}
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        {% if cell == 100  and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: green">
                                                {{ cell }}
                                            </td>
                                        {% elif cell < 100 and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: red">
                                                {{ cell }}
                                            </td>
                                        {% elif cell > 100 and cell not in sort_focus_areas %}
                                            <td class="text-center text-light"
                                                style="background-color: grey">
                                                {{ cell }}
                                            </td>
                                        {% else %}
                                            <td class="text-center text-light">
                                                {{ cell }}
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
{#        <script>#}
{#            // When the document is ready#}
{#            $(document).ready(function () {#}
{#                // Listen for changes or clears to the facility select element#}
{#                $('#id_name').on('input change', function () {#}
{#                    if ($(this).val() === '') {#}
{#                        $('#dqa-form').submit();#}
{#                    } else {#}
{#                        $('#dqa-form').submit();#}
{#                    }#}
{#                });#}
{#            });#}
{#            // When the DOM is fully loaded#}
{#            document.addEventListener("DOMContentLoaded", () => {#}
{#                // Get references to the select elements#}
{#                const yearSelect = document.getElementById("year-select");#}
{#                const quarterSelect = document.getElementById("quarter-select");#}
{#                const facilitySelect = document.getElementById("id_name");#}
{#                const form = document.getElementById("dqa-form");#}
{##}
{#                // Function to populate the facilities select element#}
{#                const populateFacilities = () => {#}
{#                    // Get the selected year and quarter#}
{#                    const year = yearSelect.value;#}
{#                    const quarter = quarterSelect.value;#}
{##}
{#                    // If year and quarter are selected#}
{#                    if (year && quarter) {#}
{#                        // Make an AJAX request to get filtered facilities#}
{#                        fetch(`/get_filtered_facilities/?year=${year}&quarter=${quarter}`)#}
{#                            .then((response) => response.json())#}
{#                            .then((data) => {#}
{#                                // Clear the facilities select element#}
{#                                facilitySelect.innerHTML = "<option value=\"\">Select facility</option>";#}
{#                                // Add options for each facility#}
{#                                data.forEach((facility) => {#}
{#                                    const option = document.createElement("option");#}
{#                                    option.value = facility.id;#}
{#                                    option.text = facility.name;#}
{#                                    facilitySelect.add(option);#}
{#                                });#}
{#                            });#}
{#                    }#}
{#                };#}
{##}
{#                // Listen for changes to the year and quarter selects#}
{#                yearSelect.addEventListener("change", populateFacilities);#}
{#                quarterSelect.addEventListener("change", populateFacilities);#}
{##}
{#                // Listen for changes to the facility select#}
{#                facilitySelect.addEventListener("change", (event) => {#}
{#                    // Submit the form#}
{#                    form.submit();#}
{#                });#}
{##}
{#                // Listen for changes to the year and quarter selects (submit form)#}
{#                yearSelect.addEventListener("change", (event) => {#}
{#                    form.submit();#}
{#                });#}
{#                quarterSelect.addEventListener("change", (event) => {#}
{#                    form.submit();#}
{#                });#}
{#            });#}
{#        </script>#}
<script>
    // When the document is ready
    $(document).ready(function () {
        // Listen for changes or clears to the facility select element
        $('#id_name').on('input change', function () {
            if ($(this).val() === '') {
                $('#dqa-form').submit();
            } else {
                $('#dqa-form').submit();
            }
        });
    });
    // When the DOM is fully loaded
    document.addEventListener("DOMContentLoaded", () => {
        // Get references to the select elements
        const yearSelect = document.getElementById("year-select");
        const quarterSelect = document.getElementById("quarter-select");
        const facilitySelect = document.getElementById("id_name");
        const form = document.getElementById("dqa-form");

        // Function to populate the facilities select element
        const populate_Facilities = () => {
            // Get the selected year and quarter
            const year = yearSelect.value;
            const quarter = quarterSelect.value;

            // If year and quarter are selected
            if (year && quarter) {
                // Clear the facilities select element
                facilitySelect.innerHTML = "<option value=\"\">Select facility</option>";
                // Add options for each facility
                // TO DO: populate facilities select element
            }
        };

        // Listen for changes to the year and quarter selects
        yearSelect.addEventListener("change", populate_Facilities);
        quarterSelect.addEventListener("change", populate_Facilities);

        // Listen for changes to the facility select
        facilitySelect.addEventListener("change", () => {
            // Submit the form
            form.submit();
        });

        // Listen for changes to the year and quarter selects (submit form)
        yearSelect.addEventListener("change", () => {
            form.submit();
        });
        quarterSelect.addEventListener("change", () => {
            form.submit();
        });
    });
</script>

    </main>


{% endblock %}