{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load remove_underscores %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h5 class="d-flex justify-content-evenly" style="font-size: x-small">{{ message }}</h5>
                        </div>
                        {#            <li{% if message.0.tags %} class="{{ message.0.tags }}"{% endif %}>{{ message }}</li>#}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container-fluid py-5">
                <hr>
                <h1 class="display-6 fw-bold text-primary text-center">{{ title }} </h1>
                <hr>
                {% if qi_project %}
                    <h4 class="display-6">FACILITY: {{ qi_project.facility_name }}</h4>
                    <h6 class="mb-4 mt-4">CQI PROJECT: {{ qi_project.project_title }}</h6>
                    <div class="row mb-4">
                        {#              <div class="col d-flex justify-content-between">#}
                        <div class="col-md-6">
                            <strong>OBJECTIVE: </strong>{{ qi_project.objective }}
                        </div>
                        <div class="col-md-6">
                            <strong>SUB-COUNTY: </strong>{{ qi_project.sub_county }}
                        </div>
                        <div class="col-md-6">
                            <strong>NUMERATOR: </strong> {{ qi_project.numerator }}
                        </div>
                        <div class="col-md-6">
                            <strong>DENOMINATOR: </strong>{{ qi_project.denominator }}
                        </div>
                    </div>
                {% endif %}
                {% for stock_card in stock_card_data|slice:":1" %}
                    <h6 class="mb-4 mt-4">FACILITY: {{ stock_card.facility_name.name }}</h6>
                    <h6 class="mb-4 mt-4">MFL CODE: {{ stock_card.facility_name.mfl_code }}</h6>
                    <h6 class="mb-4 mt-4">Interview date: {{ stock_card.date_modified }}</h6>
                {% endfor %}
                {% if title == "Inventory Management" %}
                    <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        <p> Please choose quarter, year, facility and then submit </p>
                        <div class="col-md-2 mt-2">
                            {{ quarter_form.quarter|as_crispy_field }}
                        </div>
                        <div class="col-md-2 mt-2">
                            {{ year_form.year|as_crispy_field }}
                        </div>
                        <div class="col-md-4 mt-2">
                            {{ facility_form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-3 mt-2 pt-3">
                            <input class="btn btn-success mt-1" type="submit" name="submit_data" value="Submit">
                        </div>
                    </form>
                    {% if stock_card_data %}
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                {% if "Add" not in title %}
                                    <th></th>
                                {% endif %}
                                <th style="font-size:xx-small">DESCRIPTION</th>
                                <th style="font-size:xx-small">TLD 90s</th>
                                <th style="font-size:xx-small">DTG 10</th>
                                <th style="font-size:xx-small">ABC/3TC 120/60</th>
                                <th style="font-size:xx-small">3HP</th>
                                <th style="font-size:xx-small">IMPLANT 1 ROD</th>
                                <th style="font-size:xx-small">AL 24</th>
                                <th style="font-size:xx-small">COMMENTS</th>
                                {% if "Add" not in title %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for stock_card in stock_card_data %}
                                <tr>
                                    {% if "Add" not in title %}
                                        <td class="text-danger fw-bold">{{ forloop.counter }}.</td>
                                    {% endif %}
                                    <td style="width: calc((20%) );"> {{ stock_card.description }} </td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.adult_arv_tdf_3tc_dtg }}</td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.pead_arv_dtg_10mg }} </td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.paed_arv_abc_3tc_120_60mg }} </td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.tb_3hp }} </td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.family_planning_rod }} </td>
                                    <td class="text-center"
                                        style="width: calc((100% - 50%) / 6);"> {{ stock_card.al_24 }} </td>
                                    <td class="text-center" style="width: calc((15%));">{{ stock_card.comments }}</td>
                                    {% if "Add" not in title %}
                                        <td style="width: calc((15%));">
                                            <div>
                                                <a href="{% url 'update_inventory' stock_card.id stock_card.model_name.model_name %}"
                                                   class="btn btn-info glow-button"
                                                   role="button" id="update-btn-{{ stock_card.id }}">Update</a>
                                            </div>
                                            {% if stock_card.id not in field_values %}
                                                <div class="mt-2">
                                                    <a href="{% url 'create_work_plan' stock_card.id stock_card.model_name.model_name %}"
                                                       class="btn btn-info flicker-button"
                                                       role="button" id="update-btn-{{ stock_card.id }}">Add work
                                                        plan</a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if not supply_chain_target_100.empty %}
                            <hr>
                            <h6 class=" fw-bold text-primary text-center">Supply chain KPIs with a target of 100% </h6>
                            <hr>
                            <!--SUPPLY CHAIN KPIs WITH A TARGET OF 100-->
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                <th scope="col"></th>
                                {% for col in supply_chain_target_100.columns %}
                                    <th class="text-center" scope="col">{{ col }}</th>
                                {% endfor %}
                                </thead>
                                <tbody>
                                </tr>
                                {% for index, row in supply_chain_target_100.iterrows %}
                                    <tr>
                                        <th scope="row">{{ index }}</th>
                                        {% for cell in row %}
                                            {% if forloop.last %}
                                                {% if cell == 1  and cell not in sort_focus_areas %}
                                                    <td class="text-center fw-bold" style="background-color: green">
                                                        {{ cell }}
                                                    </td>
                                                {% elif cell < 1 and cell not in sort_focus_areas %}
                                                    <td class="text-center fw-bold" style="background-color: red">
                                                        {{ cell }}
                                                    </td>
                                                {% endif %}
                                            {% elif forloop.first %}
                                                <td class="text-center fw-bold">
                                                    {{ cell }}
                                                </td>
                                            {% else %}
                                                {% if cell == 100  and cell not in sort_focus_areas %}
                                                    <td class="text-center" style="background-color: green">
                                                        {{ cell }}
                                                    </td>
                                                {% elif cell < 100 and cell not in sort_focus_areas %}
                                                    <td class="text-center" style="background-color: red">
                                                        {{ cell }}
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        {{ cell }}
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if "Add DQA Work Plan" in title %}
                    <form class="row mt-5" method="POST" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        <div class="col-md-6 mt-4">
                            {{ form.immediate_corrective_actions|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.action_plan|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.responsible_person|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.follow_up_plan|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.complete_date|as_crispy_field }}
                        </div>

                        <div class="col-md-4 mt-4 pt-3">
                            <input class="btn btn-success mt-1" type="submit" value="Submit">
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger mt-4">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
                {% if title == "Work Plan" %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="font-size:xx-small">Focus Area</th>
                            <th style="font-size:xx-small">Immediate corrective action</th>
                            <th style="font-size:xx-small">Corrective action</th>
                            <th style="font-size:xx-small">Responsible person</th>
                            <th style="font-size:xx-small">Complete date</th>
                            <th style="font-size:xx-small">Follow-up plan</th>
                        </tr>
                        </thead>
                        <tbody>
                        hi
                        {% for work_plan in work_plans %}
                            <tr>
                                <td class="text-danger fw-bold" style="width: 3%">{{ forloop.counter }}.</td>
                                <td style="width: calc((100% - 13%) / 6);"> {{ work_plan.model_name.model_name|remove_underscores }} </td>


                                <td style="width: calc((100% - 13%) / 6);"> {{ work_plan.immediate_corrective_actions }} </td>
                                <td style="width: calc((100% - 13%) / 6);"> {{ work_plan.action_plan }} </td>
                                <td style="width: calc((100% - 13%) / 6);"> {{ work_plan.responsible_person }} </td>
                                <td style="width: calc((10%))"> {{ work_plan.complete_date }} </td>
                                <td style="width: calc((100% - 13%) / 6);"> {{ work_plan.follow_up_plan }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if title == "Update Inventory" %}
                    <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <table class="table table-striped table-hover" style="font-size: x-small;">
                            <thead class="thead-dark text-center">
                            <tr>
                                <th>DESCRIPTION</th>
                                <th>TLD 90s</th>
                                <th>DTG 10</th>
                                <th>ABC/3TC 120/60</th>
                                <th>3HP</th>
                                <th>IMPLANT 1 ROD</th>
                                <th>AL 24</th>
                                <th>COMMENTS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="fw-bold">
                                    {{ form.description }}
                                </td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.adult_arv_tdf_3tc_dtg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.pead_arv_dtg_10mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.paed_arv_abc_3tc_120_60mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.tb_3hp|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.family_planning_rod|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.al_24|as_crispy_field }}</td>
                                <td style="width: 20%;height: 100px;">{{ form.comments|as_crispy_field }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-2 mt-2 pt-3">
                            <input class="btn btn-success mt-1" type="submit" value="Save">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}