{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load remove_underscores %}


{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h5 class="d-flex justify-content-evenly" style="font-size: x-small">{{ message }}</h5>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container-fluid py-5">
                <hr>
                <h1 class="display-6 fw-bold text-primary text-center">{{ title }} </h1>
                <hr>
                {% if qi_project %}
                    <h4 class="display-6">FACILITY: {{ qi_project.facility_name }}</h4>
                    <h6 class="mb-4 mt-4">CQI PROJECT: {{ qi_project.project_title|upper }}</h6>
                    <div class="row mb-4">
                        {#              <div class="col d-flex justify-content-between">#}
                        <div class="col-md-6">
                            <strong>OBJECTIVE: </strong>{{ qi_project.objective|safe }}
                        </div>
                        <div class="col-md-6">
                            <strong>SUB-COUNTY: </strong>{{ qi_project.sub_county }}
                        </div>
                        <div class="col-md-6">
                            <strong>NUMERATOR: </strong> {{ qi_project.numerator }}
                        </div>
                        <div class="col-md-6">
                            <strong>DENOMINATOR: </strong>{{ qi_project.denominator }}
                        </div>
                    </div>
                {% endif %}
                {% for stock_card in stock_card_data|slice:":1" %}
                    <h6 class="mb-4 mt-4">FACILITY : {{ stock_card.facility_name.name }}</h6>
                    <h6 class="mb-4 mt-4">MFL CODE : {{ stock_card.facility_name.mfl_code }}</h6>
                    <h6 class="mb-4 mt-4">Interview date : {{ stock_card.date_modified }}</h6>
                    <h6 class="mb-4 mt-4">Activity : {{ fetched_objects.register_name }}</h6>
                {% endfor %}
                {% if title == "Commodity records/registers" %}
                    <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        <p> Please choose quarter, year, facility and then submit </p>
                        <div class="col-md-2 mt-2">
                            {{ quarter_form.quarter|as_crispy_field }}
                        </div>
                        <div class="col-md-2 mt-2">
                            {{ year_form.year|as_crispy_field }}
                        </div>
                        <div class="col-md-4 mt-2">
                            {{ facility_form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-3 mt-2 pt-3">
                            <input class="btn btn-sm btn-sm btn-success mt-1" type="submit" name="submit_data"
                                   value="Submit">
                        </div>
                    </form>
                    {% if pharmacy_records %}
                        {% block comm_summary %}
                            {% include "partial_html/pharmacy_dqa/commodity_registers_summary.html" %}
                        {% endblock %}
                        {% if work_plans %}
                            <hr>
                            <h4 class="fw-bold text-primary text-center"> Inventory and Commodity Records/Registers Work
                                Plan</h4>
                            <hr>
                            {% block workplans %}
                                {% include "partial_html/pharmacy_dqa/pharmacy_workplan.html" %}
                            {% endblock %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if "Add DQA Work Plan" in title %}
                    <form class="row mt-5" method="POST" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        <div class="col-md-6 mt-4">
                            {{ form.immediate_corrective_actions|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.action_plan|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.responsible_person|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.follow_up_plan|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mt-4">
                            {{ form.complete_date|as_crispy_field }}
                        </div>
                        <div class="col-md-4 mt-4 pt-3">
                            <input class="btn btn-sm btn-sm btn-success mt-1" type="submit" value="Submit">
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger mt-4">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
                {% if title == "Work Plan" %}
                    <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        <p> Please choose quarter, year, facility and then submit </p>
                        <div class="col-md-2 mt-2">
                            {{ quarter_form.quarter|as_crispy_field }}
                        </div>
                        <div class="col-md-2 mt-2">
                            {{ year_form.year|as_crispy_field }}
                        </div>
                        <div class="col-md-4 mt-2">
                            {{ facility_form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-3 mt-2 pt-3">
                            <input class="btn btn-sm btn-sm btn-success mt-1" type="submit" name="submit_data"
                                   value="Submit">
                        </div>
                    </form>
                    {% if work_plans %}
                        <hr>
                        <h4 class="fw-bold text-primary text-center"> Inventory and Commodity Records/Registers Work
                            Plan</h4>
                        <hr>
                        {% block workplan %}
                            {% include "partial_html/pharmacy_dqa/pharmacy_workplan.html" %}
                        {% endblock %}
                    {% endif %}

                {% endif %}
                {% if title == "Update Inventory" %}
                    <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <table class="table table-striped table-hover" style="font-size: x-small;">
                            <thead class="thead-dark text-center">
                            <tr>
                                <th>DESCRIPTION</th>
                                <th>TLD 90s</th>
                                <th>DTG 10</th>
                                <th>ABC/3TC 120/60</th>
                                <th>3HP</th>
                                <th>IMPLANT 1 ROD</th>
                                <th>AL 24</th>
                                <th>COMMENTS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="fw-bold">
                                    {{ form.description }}
                                </td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.adult_arv_tdf_3tc_dtg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.pead_arv_dtg_10mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.paed_arv_abc_3tc_120_60mg|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.tb_3hp|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.family_planning_rod|as_crispy_field }}</td>
                                <td style="width: calc((100% - 35%) / 6);">{{ form.al_24|as_crispy_field }}</td>
                                <td style="width: 20%;height: 100px;">{{ form.comments|as_crispy_field }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-2 mt-2 pt-3">
                            <input class="btn btn-sm btn-success mt-1" type="submit" value="Save">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const input = document.querySelector('.tagify');
                new Tagify(input, {
                    delimiters: ',',  // Use commas to separate tags
                    pattern: /^[a-zA-Z\s]+$/,  // Allow only letters and spaces
                    dropdown: {
                        enabled: 0,  // Disable dropdown
                    }
                });
            });
        </script>
        <script>
            document.querySelector('.collapsible').addEventListener('click', function () {
                this.classList.toggle('active');
                const content = this.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
            });
        </script>
    </main>
{% endblock %}