{% extends 'pharmacy/index_pharmacy.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load remove_underscores %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-5 mb-4 bg-light rounded-3">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info col-12" role="alert">
                            <h5 class="d-flex justify-content-evenly" style="font-size: x-small">{{ message }}</h5>
                        </div>
                        {#            <li{% if message.0.tags %} class="{{ message.0.tags }}"{% endif %}>{{ message }}</li>#}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container-fluid py-5">
                <hr>
                <h1 class="display-6 fw-bold text-primary text-center">{{ title }} </h1>
                <hr>
                {% if fetched_object.pharmacy_records.record_type %}
                    <h6 class="mb-4 mt-4">FACILITY : {{ fetched_object.pharmacy_records.facility_name.name }}</h6>
                    <h6 class="mb-4 mt-4">MFL CODE : {{ fetched_object.pharmacy_records.facility_name.mfl_code }}</h6>
                    <h6 class="mb-4 mt-4">Interview date : {{ fetched_object.pharmacy_records.date_modified }}</h6>
                    <h6 class="mb-4 mt-4">Activity : {{ fetched_object.pharmacy_records.register_name }}</h6>
                    <h6 class="mb-4 mt-4">Comment : {{ fetched_object.pharmacy_records.comments }}</h6>
                {% endif %}
                {% if fetched_object.delivery_notes.record_type %}
                    <h6 class="mb-4 mt-4">FACILITY : {{ fetched_object.delivery_notes.facility_name.name }}</h6>
                    <h6 class="mb-4 mt-4">MFL CODE : {{ fetched_object.delivery_notes.facility_name.mfl_code }}</h6>
                    <h6 class="mb-4 mt-4">Interview date : {{ fetched_object.delivery_notes.date_modified }}</h6>
                    <h6 class="mb-4 mt-4">Activity : {{ fetched_object.delivery_notes.register_name }}</h6>
                    <h6 class="mb-4 mt-4">Comment : {{ fetched_object.delivery_notes.comments }}</h6>
                {% endif %}
                <form class="row mt-5" method="POST" enctype='multipart/form-data' autocomplete="off">
                    {% csrf_token %}
                    <div class="col-md-6 mt-4">
                        {{ form.immediate_corrective_actions|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mt-4">
                        {{ form.action_plan|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mt-4">
                        {{ form.responsible_person|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mt-4">
                        {{ form.follow_up_plan|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mt-4">
                        {{ form.complete_date|as_crispy_field }}
                    </div>

                    <div class="col-md-4 mt-4 pt-3">
                        <input class="btn btn-sm btn-success mt-1" type="submit" value="Submit">
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-4">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}