{% load remove_underscores %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'choose_testing_lab' %}">
        USAID FYJ
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center" action="" method="GET">
        {% csrf_token %}
    </form>
    <div class="navbar-nav">
        <a class="nav-link px-3" href="{% url 'submit_feedback' %}">Feedback Hub</a>
    </div>
    {% if perms.labpulse.view_show_results %}
        <div class="navbar-nav">
            <a class="nav-link px-3" href="{% url 'facilities_landing_page' project_type='facility' %}">CQI</a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                DQA
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item small" href="{% url 'add_data_verification' %}">General
                                    DQA</a>
                                </li>
                                <li><a class="dropdown-item small" href="{% url 'choose_facilities_pharmacy' %}">Pharmacy
                                    DQA</a></li>
                                <li><a class="dropdown-item small" href="{% url 'add_documentation' 'documentation' %}">WASH
                                    DQA</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="navbar-nav">
            <a class="nav-link px-3" href="{% url 'load_data_pharmacy' %}">Data Analysis Center</a>
        </div>
        <div class="navbar-nav">
            {% if perms.repo.view_manuscript %}
                <a class="nav-link px-3" href="{% url 'manuscript_list' %}">Research Repo</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="navbar-nav">
        {% if perms.labpulse.view_add_cd4_count %}
            <a class="nav-link px-3" href="{% url 'choose_testing_lab' %}">LabPulse</a>
        {% elif perms.labpulse.view_show_results %}
            <a class="nav-link px-3" href="{% url 'show_results' %}">LabPulse</a>
        {% elif request.user|has_group_permission:"unitid_staffs_labpulse" or request.user.is_superuser %}
            <a class="nav-link px-3" href="{% url 'load_biochemistry_results' %}">LabPulse</a>
        {% endif %}
    </div>
    <div class="navbar-nav">
        {% if perms.fyj_mentorship.view_programareas %}
            <a class="nav-link px-3" href="{% url 'choose_facilities_mentorship' %}">Mentorship</a>
        {% endif %}
    </div>
    {% if perms.labpulse.view_show_results %}
        <div class="navbar-nav">
            <a class="nav-link px-3" href="{% url 'add_patient_details' %}">PMTCT</a>
        </div>
    {% endif %}
    <div class="navbar-nav">
        <a class="nav-link px-3"
           href="{% url 'facilities_landing_page' project_type='facility' %}">Hi, {{ user.first_name|title }}</a>
    </div>
    {% if user.is_authenticated and user.is_staff %}
        <div class="navbar-nav">
            <a class="nav-link px-3" href="{% url 'register' %}">Sign up</a>
        </div>
    {% endif %}
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'update_profile' %}">Update My Profile</a>
        </div>
    </div>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'logout' %}">Sign out</a>
        </div>
    </div>
</header>