{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-primary">CREATE HUB QI </h1>

        <form method="POST" class="mt-5" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy}}
            <input class="btn btn-success mt-1" type="submit" value="Submit">
        </form>
      </div>
    </div>
</main>
{% endblock %}