{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h6 class="display-6 fw-bold text-primary">CREATE FACILITY QI</h6>
          <div class="d-flex justify-content-between">
              <a href="{% url 'add_qi_manager' %}" class="btn btn-success" role="button">ADD QI MANAGER</a>
              <a href="{% url 'add_department' %}" class="btn btn-success" role="button">ADD DEPARTMENT</a>
              <a href="{% url 'add_category' %}" class="btn btn-success" role="button">ADD PROJECT CATEGORY</a>
              <a href="{% url 'add_facility' %}" class="btn btn-success" role="button">ADD FACILITY</a>
              <a href="{% url 'add_county' %}" class="btn btn-success" role="button">ADD COUNTY</a>
              <a href="{% url 'add_hub' %}" class="btn btn-success" role="button">ADD HUB</a>
              <a href="{% url 'add_subcounty' %}" class="btn btn-success" role="button">ADD SUBCOUNTY</a>
          </div>

        <form class="row g-3" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
            {% csrf_token %}
{#            {{ form|crispy}}#}
        <div class="col-md-2 mt-4">
                {{ form.hub|as_crispy_field }}
            </div>
            <div class="col-md-2 mt-4">
                {{ form.qi_manager|as_crispy_field }}
            </div>
            <div class="col-md-2 mt-4">
                {{ form.departments|as_crispy_field }}
            </div>
            <div class="col-md-2 mt-4">
                {{ form.project_category|as_crispy_field }}
            </div>
            <div class="col-md-2 mt-4">
                {{ form.facility_name|as_crispy_field }}
            </div>
         <div class="col-md-2 mt-4">
                {{ form.settings|as_crispy_field }}
            </div>

            <div class="col-md-12">
                {{ form.project_title|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.problem_background|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.objective|as_crispy_field }}
            </div>


            <div class="col-md-6">
                {{ form.numerator|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.denominator|as_crispy_field }}
            </div>

{#            <div class="col-md-12">#}
{#                {{ form.comments|as_crispy_field }}#}
{#            </div>#}
{#            <div class="col-md-3">#}
{#                {{ form.first_cycle_date|as_crispy_field }}#}
{#            </div>#}
            <div class="col-md-4">
                {{ form.process_analysis|as_crispy_field }}
            </div>


             <div class="col-md-4">
                {{ form.measurement_frequency|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.measurement_status|as_crispy_field }}
            </div>

            <div class="col-md-12">
                <p>The followup led to the creation of this QI Initiative.</p>
                  {% for checkbox in form.triggers %}
                    <label class="form-check-inline">
                      {{ checkbox.tag }}
                      {{ checkbox.choice_label }}
                    </label>
                  {% endfor %}
            </div>
            <div class="col-md-3 mt-4 pt-2">
                <input class="btn btn-success mt-1" type="submit" value="Submit">
            </div>

        </form>
      </div>
    </div>
</main>
{% endblock %}