{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold text-primary">{{ title }} </h1>
      <h4 class="display-6">FACILITY: {{ qi_project.facility_name}}</h4>
          <h6 class="mb-4 mt-4">CQI PROJECT: {{ qi_project.project_title}}</h6>
{#          {% endfor %}#}
          <div class="row mb-4">
{#              <div class="col d-flex justify-content-between">#}
                <div class="col-md-6">
                       <strong>OBJECTIVE: </strong>{{ qi_project.objective }}
                  </div>
                  <div class="col-md-6">
                       <strong>SUB-COUNTY: </strong>{{ qi_project.sub_county }}
                  </div>
                  <div class="col-md-6">
                       <strong>NUMERATOR: </strong> {{ qi_project.numerator }}
                  </div>
                  <div class="col-md-6">
                       <strong>DENOMINATOR: </strong>{{ qi_project.denominator }}
                  </div>
{#              </div>#}
          </div>

            {% if "ADD RESOURCES" in title %}
                  <form class="row " method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if "description" in field.html_name or "name" in field.html_name|lower%}
                                <div class="col-md-12 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% else %}
                                <div class="col-md-6 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-4 mt-3">
                            <input class="btn btn-success mt-1" type="submit" value="Submit">
                        </div>
                  </form>
                {% elif "test of change" in title %}
                  <form class="row" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if "comment" in field.html_name or "tested" in field.html_name|lower%}
                                <div class="col-md-12 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% else %}
                                <div class="col-md-6 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-4 mt-3">
                            <input class="btn btn-success mt-1" type="submit" value="Submit">
                        </div>
                  </form>
                {% elif "Action Plan" in title %}
                  <form class="row" method="POST" class="mt-5" enctype='multipart/form-data' autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if "comment" in field.html_name or "tested" in field.html_name|lower%}
                                <div class="col-md-12 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% else %}
                                <div class="col-md-6 mt-4">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-12 mt-3">
                            <input class="btn btn-success mt-1" type="submit" value="Submit">
                        </div>
                  </form>
            {% else %}
                <h1>THIS</h1>
                <form method="POST" class="mt-5" enctype='multipart/form-data'>
                    {% csrf_token %}
                     {{ form|crispy}}
                     <input class="btn btn-success mt-1" type="submit" value="Submit">
                </form>
            
            {% endif %} 


      </div>
    </div>
</main>
{% endblock %}