{% extends 'project/index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Comments</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>
        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">
            <div>
            </div>
        {% if all_comments|length >= 1 %}
{#            {% for all_comment in all_comments %}#}
                <h5 class="d-flex justify-content-evenly">You are viewing {{ all_comment.qi_project_title.facility|title }} comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>
{#            {% endfor %}#}
            {% else %}
                <h5 class="d-flex justify-content-evenly">You are viewing comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>
            {% endif %}
        <div class="d-flex justify-content-evenly">
            <a class="btn btn-outline-success btn-sm" href="{% url 'comments' %}">ALL COMMENTS</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'comments_with_response' %}">COMMENTS WITH RESPONSES</a>
            <a class="btn btn-outline-danger btn-sm" href="{% url 'comments_no_response' %}">COMMENTS WITHOUT RESPONSES</a>


        </div>

{#            <p class="d-flex justify-content-evenly">No specific criteria is specified, so displaying all archived QI Projects</p>#}
{#        </div>#}
{#            <div>#}
{#                {% for comment in all_comments|slice:":1"  %}#}
{#                    <p>Do you have any comments regarding the <strong>{{ comment.qi_project_title.project_title }}</strong> QI Initiative? Click the button below to send your comment to the QI team members implementing this QI initiative.</p>#}
{#                {% endfor %}#}
{#                 <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">#}
{#                    Yes#}
{#                  </a>#}
{#            </div>#}
        <div class="collapse" id="collapseExample">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success">
        </form>
</div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">



{% if all_comments %}
  <div class="col-md-12">
{% for comment in all_comments %}
    {% if comment.id in all_responses %}
<div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. <a href="{% url 'single_project_comments' comment.qi_project_title.id %}">{{ comment.qi_project_title.project_title|title }}</a></h5>
          <ul>
              <li><strong>Comment : <a href="{% url 'single_project_comments' comment.qi_project_title.id %}">{{ comment.comment }}</a></strong></li>
              <li>Commented by : <a href="{% url 'qi_creators' comment.commented_by.username %}">{{ comment.commented_by.username|title }}</a></li>
              <li>Facility :  {{ comment.qi_project_title.facility|title }}</li>

              <li>CQI Project created by : <a href="{% url 'qi_creators' comment.qi_project_title.created_by %}">{{ comment.qi_project_title.created_by|title }}</a> ({{ comment.commented_by.phone_number }})</li>
              <li>QI Responsible people : {{ comment.qi_project_title.responsible_people }}</li>
          </ul>
      <div class="d-flex justify-content-evenly">
            {% if comment.id not in all_responses %}
                <a class="btn btn-secondary btn-sm" href="{% url 'comments_response' comment.id %}">NO RESPONSE YET</a>
            {% endif %}


{#        {% endfor %}#}



          {% if user.is_authenticated %}
              {% if user.id == comment.commented_by.id %}
                  {% if comment.id not in all_responses %}
                <a class="btn btn-info btn-sm" href="{% url 'update_comments' comment.id %}">Edit</a>

          <a class="btn btn-danger btn-sm" href="{% url 'delete_comment' comment.id %}">Delete</a>
                  {% endif %}
                  {% endif %}
               </div>
{#                  {% if user.id == comment.qi_project_title.created_by_id %}#}
{#                  <a class="btn btn-primary btn-sm" href="{% url 'comments_response' comment.id %}">Respond</a>#}
{#          {% endif %}#}

          {% endif %}


      </div>
      <div class="card-footer">
        <small class="text-muted">Comment done on {{ comment.comment_date }}</small>
      </div>
    </div>
    {% endif %}
{% endfor %}



  </div>
    {% else %}
    <p>Do you have any comments regarding the above QI Initiative? Click the button below to send your comment to the QI team members implementing this QI initiative.</p>

<p>
    <div class="d-flex justify-content-evenly">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Yes
  </a>
</div>
</p>
<div class="collapse" id="collapseExample">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success">
        </form>
</div>
{% endif %}

</div>
</div>

    </main>
{#    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/popper.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/rome.js' %}"></script>#}
{##}
{#    <script src="{% static 'assets/js/main.js' %}"></script>#}
{% endblock %}