{% extends 'project/index.html' %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Comments</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

{#      <canvas class="my-4 w-100" id="myChart" width="900" height="280"></canvas>#}



        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">
            <div>
            </div>
        {% if all_comments|length == 1 %}
            {% for all_comment in all_comments %}
                <h5 class="d-flex justify-content-evenly">You are viewing {{ all_comment.qi_project_title.facility|title }} comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>
            {% endfor %}
            {% else %}
                <h5 class="d-flex justify-content-evenly">You are viewing comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>
            {% endif %}

{#            <p class="d-flex justify-content-evenly">No specific criteria is specified, so displaying all archived QI Projects</p>#}
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">

  <div class="col-md-12">
{% for comment in all_comments %}
<div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. {{ comment.qi_project_title.project_title|title }}</h5>
          <ul>
              <li><strong>Comment : {{ comment.comment }}</strong></li>
{#              <li>Date comment made : {{ comment.comment_date }}</li>#}
              <li>Commented by : <a href="#">{{ comment.commented_by.username|title }}</a></li>
              <li>Facility :  <a href="#">{{ comment.qi_project_title.facility|title }}</a></li>

              <li>CQI Project created by : <a href="#">{{ comment.qi_project_title.created_by|title }}</a> ({{ comment.commented_by.phone_number }})</li>
              <li>QI Responsible people : {{ comment.qi_project_title.responsible_people }}</li>
          </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Comment done on {{ comment.comment_date }}</small>
      </div>
    </div>
{% endfor %}



  </div>


</div>

    </main>
{#    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/popper.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'assets/js/rome.js' %}"></script>#}
{##}
{#    <script src="{% static 'assets/js/main.js' %}"></script>#}
{% endblock %}