{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

 <div class="p-5 mb-4 bg-light rounded-3">
      <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
      <div class="container-fluid py-5">
{#        <h1 class="display-5 fw-bold">Filters</h1>#}
      <form class="row g-3">
            <div class="col-md-2">
                {{ my_filters.form.department|as_crispy_field }}
            </div>
            <div class="col-md-2">
    {{ my_filters.form.problem_background|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.facility|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.settings|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.project_title|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.objective|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.start_date|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.end_date|as_crispy_field }}
    </div>
            <div class="col-md-2">
    {{ my_filters.form.measurement_frequency|as_crispy_field }}
    </div>

{#            <div class="col-md-2">#}
{#              <div class="form-group">#}
{#                <label for="input_from" class="form-label">From</label>#}
{#                <input type="text" class="form-control" id="input_from" placeholder="Start Date">#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-md-2">#}
{#              <div class="form-group">#}
{#                <label for="input_from" class="form-label">To</label>#}
{#                <input type="text" class="form-control" id="input_to" placeholder="End Date">#}
{#              </div>#}
{#            </div>#}

            <div class="col-md-2 mt-4 pt-2">
            <button class="btn btn-outline-primary" type="submit">search</button>

        </div>
        </form>



      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
      {% if search %}
          <div class="alert alert-primary col-12" role="alert">
{#    <h6 >Search returned {{ qi_list.count }} ongoing QI projects</h6>#}
    <h6 >Search returned {{ qi_list|length  }} ongoing QI projects</h6>
    </div>
      {% for qi in search %}
           <div class="col-md-12">

    <div class="card h-100">
{#      <img src="..." class="card-img-top" alt="...">#}
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>
          <ul>
              <li>Facility : {{ qi.facility }}</li>
              <li>Problem background : {{ qi.problem_background }}</li>
              <li>Objective : {{ qi.objective }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : {{ qi.department }}</li>
              <li>Responsible person : {{ qi.responsible_people }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : {{ qi.created_by }}</li>


{#              <li>Number of post : {{ num_post }}</li>#}
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          <a href="#" class="btn btn-success">Not started/started/archived</a>
          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>
          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
              {% if user.id == qi.created_by.id %}
          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>
              {% endif %}
      </div>
      </div>
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
    </div>

  </div>
          {% endfor %}
          {% else %}
<div class="alert alert-success col-12" role="alert">
    <h6 >{{ qi_list|length }} ONGOING QI PROJECTS</h6>
    </div>
          {% for qi in qi_list %}
{#              {% if user.id == qi.created_by.id %}#}
           <div class="col-md-12">

    <div class="card h-100">
{#      <img src="..." class="card-img-top" alt="...">#}
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>
          <ul>
              <li>Facility : <a href="{% url 'facility_project' qi.facility %}">{{ qi.facility }}</a></li>
              <li>Problem background : {{ qi.problem_background }}</li>
              <li>Objective : {{ qi.objective }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : <a href="{% url 'department_project' qi.department %}">{{ qi.department }}</a></li>
              <li>Responsible person : {{ qi.responsible_people }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : <a href="{% url 'qi_creators' qi.created_by %}">{{ qi.created_by }}</a></li>


{#              <li>Number of post : {{ num_post }}</li>#}
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          <a href="#" class="btn btn-success">Not started/started/archived</a>
          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>
          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
              {% if user.id == qi.created_by.id %}
          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>
              {% endif %}
      </div>
      </div>
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
    </div>

  </div>
{#              {% endif %}#}
          {% endfor %}
      {% endif %}



{#            <h1 class="col-md-1">1</h1>#}
{#          {% for qi in qi_list %}#}
{#           <div class="col-md-12">#}
{##}
{#    <div class="card h-100">#}
{#      <img src="..." class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>#}
{#          <ul>#}
{#              <li>Facility : {{ qi.facility }}</li>#}
{#              <li>Problem background : {{ qi.problem_background }}</li>#}
{#              <li>Objective : {{ qi.objective }}</li>#}
{#              <li>Setting : {{ qi.settings }}</li>#}
{#              <li>Department : {{ qi.department }}</li>#}
{#              <li>Responsible person : {{ qi.responsible_people }}</li>#}
{#              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>#}
{#              <li>Created by : {{ qi.created_by }}</li>#}
{##}
{##}
{#              <li>Number of post : {{ num_post }}</li>#}
{#              {% if qi.comments%}#}
{#               <li>Comment (s) : {{ qi.comments }}</li>#}
{#              {% endif %}#}
{##}
{#          </ul>#}
{#          <div class="d-flex justify-content-evenly" >#}
{#          <a href="#" class="btn btn-success">Not started/started/archived</a>#}
{#          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>#}
{#          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>#}
{#              {% if user.id == qi.created_by.id %}#}
{#          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>#}
{#              {% endif %}#}
{#      </div>#}
{#      </div>#}
{#      <div class="card-footer">#}
{#        <small class="text-muted">Last updated on {{ qi.date_updated}}</small>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}
{#          {% endfor %}#}




</div>
      </div>
    </div>
{#<div class="container mt-3">#}
{#         <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy}}#}
{#         <input class="btn btn-success mt-1" type="submit" value="Add QI project">#}
{#    </form>#}
{#</div>#}


    </main>
{% endblock %}