{% extends 'project/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ facility_project.project_title}}</h1>
    <hr>

  </div>
    <div class="d-flex justify-content-between">
       <h4>Facility name: {{ facility_project.facility_name|upper }}</h4>
        <a href="{% url 'facilities_landing_page' %}" class="btn btn-primary">Facility projects</a>
        <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
        {% if user.is_authenticated %}
            {% if user.id == facility_project.created_by.id %}
                <a href="{% url 'update_project' facility_project.id %}" class="btn btn-warning">Update project</a>
                <a href="{% url 'delete_project' facility_project.id %}" class="btn btn-danger">Delete project</a>
            {% endif %}
        {% endif %}
       </div>
    <div class="row row-cols-1 row-cols-md-12 g-4 mt-2 col-md-12">
      <div class="col">
        <div class="card h-100 bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ facility_project.project_title}}</h5>
              <div class="row">
                  <div class="col-md-3">
                  <p class="card-text"><strong>Created by : </strong>{{ facility_project.created_by|upper }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Start date : </strong>{{ facility_project.start_date }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Last updated on : </strong>{{ facility_project.date_updated }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Phone Number : </strong>{{ user.phone_number }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Department : </strong>{{ facility_project.departments.department }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Settings : </strong>{{ facility_project.settings }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>Measurement frequency : </strong>{{ facility_project.measurement_frequency }}</p>
              </div>
                  <div class="col-md-3">
                  <p class="card-text"><strong>First cycle : </strong>{{ facility_project.first_cycle_date }}</p>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <h6 class="mt-2"><strong>PROBLEM STATEMENT :</strong></h6>
    <p>{{ facility_project.problem_background }}</p>

    {% if facility_project.process_analysis.url is not null %}
        <h6><strong>ROOT CAUSE ANALYSIS :</strong></h6>
        <div class="bg-image hover-zoom">
        <img  class=".img-fluid" src="{{MEDIA_URL}}{{facility_project.process_analysis.url }}">
        </div>
    {% endif %}
    <h6><strong>OBJECTIVE :</strong></h6>
    <p>{{ facility_project.objective }}</p>
    <h6><strong>Responsible people :</strong></h6>
    <p>{{ facility_project.responsible_people }}</p>
    <h6><strong>Participants :</strong></h6>
    <p>{{ facility_project.participants }}</p>
    <h6><strong>Indicator Numerator & Denominator :</strong></h6>
    <p><strong>Numerator : </strong>{{ facility_project.numerator }}</p>
    <p><strong>Denominator : </strong>{{ facility_project.denominator }}</p>

{#    <p>Do you have any comments regarding the above QI Initiative? Click the button below to send your comment to the QI team members implementing this QI initiative.</p>#}
{#                <p>#}
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExampleOne" role="button" aria-expanded="false" aria-controls="collapseExampleOne">
                        PDSA TEST CYCLE
                        </a>
{#                        <a href="{% url 'single_project_comments' facility_project.id %}" class="btn btn-outline-primary">View QI Project comments</a>#}
                    </div>
                </p>
                <div class="collapse bg-light" id="collapseExampleOne">
                    <p class="text-primary lead">The Plan-Do-Study-Act (PDSA) Test Cycle is an iterative process used to identify, test, and implement solutions to improve quality. It involves planning a change, testing it, analyzing the results, and deciding whether to keep, modify, or discard the change. The PDSA Test Cycle is a powerful tool for driving quality improvement initiatives, as it allows for rapid iteration and experimentation. It is an important part of any quality improvement efforts and can be used to identify and troubleshoot problems quickly and efficiently.</p>
                    <div class="row">
                          <div class="col-sm-6 mt-4">
                            <div class="card rounded-pill text-bg-success p-3">
                              <div class="card-body ">
                                      <h5 class="card-title d-flex justify-content-center">1. PLAN</h5>
                                  <div class="d-flex justify-content-lg-between ml-auto">
                                  <ul>
                                      <li>Problem identification</li>
                                      <li>Goal setting</li>
                                      <li>Root cause analysis</li>
                                      <li>Activity planning</li>
                                      <li>Performance measurement plan</li>
                                  </ul>
                    {#            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
                    {#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
                                  </div>

                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="card rounded-pill text-bg-success p-3">
                              <div class="card-body ">
                                      <h5 class="card-title d-flex justify-content-center">2. DO</h5>
                                  <div class="d-flex justify-content-lg-between ml-auto">
                                <ul>
                                  <li>
                                      In this phase the change package/intervention should be implemented
                                      according to the QI project work plan
                                  </li>
                                  <li>
                                      Data should be collected per the
                                      performance measurement plan.
                                  </li>
                                  <li>With supporting text below as a natural lead-in to additional content</li>
                                    <br>
                                </ul>
                    {#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4 mb-4">
                            <div class="card rounded-pill text-bg-success p-3">
                              <div class="card-body ">
                                      <h5 class="card-title d-flex justify-content-center">4. ACT</h5>

                                  <h6>Your responses derived from the Study stage define the tasks for the Act stage.
                                      There are two possible responses you may have:
                                  </h6>
                                  <div class="d-flex justify-content-lg-between ml-auto">
                                <ul>
                                  <li>
                                    The change was successful and should be adopted – follow the steps
                                    outlined under the maintenance phase institutionalize and sustain the
                                    change
                                  </li>
                                  <li>
                                    The process has not improved – you should review the change to
                                    determine reasons for poor performance, refine the process, and plan another test
                                    cycle
                                  </li>
                                </ul>
                    {#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4 mb-4">
                        <div class="card rounded-pill text-bg-success p-3">
                          <div class="card-body ">
                                  <h5 class="card-title d-flex justify-content-center">3. STUDY</h5>
                              <div class="d-flex justify-content-lg-between ml-auto">
                              <ul>
                                  <li>Did the results match the theory/predictions?</li>
                                  <li>Is there an improvement? If yes, by how much?</li>
                                  <li>Are there trends?</li>
                                  <li>Are there any unintended side effects?</li>
                                  <li>Is the process more difficult using new methods?</li>
                                  <li>Is the change scalable?</li>
                              </ul>

                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

{#    <h4 class="d-flex justify-content-center">PDSA CYCLE</h4>#}


    {% if project_performance %}
        <h6 class="mt-4"><strong>QI Project performance (Run chart):</strong></h6>
        <div class="container">
            <div class="col">
                <div class="row">
                    {{ project_performance|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.id == facility_project.created_by.id %}
            <a href="{% url 'tested_change' facility_project.id %}" class="btn btn-warning mt-4">Add tested change</a>
        {% endif %}
    {% endif %}
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 id="myModalLabel">Delete</h3>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
        </div>
       </div>
        {% if test_of_change %}
            <table class="table table-striped table-hover table-users">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Tested change</th>
                        <th>Comments</th>
                        <th>Numerator</th>
                        <th >Denominator</th>
                        <th>Achievement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in test_of_change %}
                        <tr>
                            <td>{{ forloop.revcounter }}</td>
                            <td>{{ change.month_year}}</td>
                            <td>{{ change.tested_change }}</td>
                            <td>{{ change.comments }}</td>
                            <td >{{ change.numerator}}</td>
                            <td>{{ change.denominator }}</td>
                            {% if change.numerator >= 90 %}
                                <td class="text-center text-white" style="background-color: green">
                                    <strong>{{ change.achievements}}%</strong>
                                </td>
                            {% elif change.numerator > 50  and change.numerator < 75 %}
                                <td class="text-center text-black" style="background-color: yellow">
                                    <strong>{{ change.achievements}}%</strong>
                                </td>
                            {% elif change.numerator < 50 %}
                                <td class="text-center text-white" style="background-color: red">
                                    <strong>{{ change.achievements}}%</strong>
                                </td>
                            {% else %}
                                <td class="text-center text-white" style="background-color: #bcbd22">
                                    <strong>{{ change.achievements}}%</strong>
                                </td>
                        {% endif %}
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'update_test_of_change' change.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_test_of_change' change.id %}">Delete</a>
                        </td>
                        </tr>
                    {% endfor %}
                   </tbody>
            </table>
        {% endif %}
        {% if user.is_authenticated %}
            {% if user.id != facility_project.created_by_id %}
                <p>Do you have any comments regarding the above QI Initiative? Click the button below to send your comment to the QI team members implementing this QI initiative.</p>
                <p>
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
                        Yes
                        </a>
                        <a href="{% url 'single_project_comments' facility_project.id %}" class="btn btn-outline-primary">View QI Project comments</a>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleTwo">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success mt-3">
                    </form>
                </div>
           {% endif %}
        {% endif %}
        {% if user.id == facility_project.created_by_id %}
            <p>
                <div class="d-flex justify-content-evenly">
                    <a href="{% url 'single_project_comments' facility_project.id %}" class="btn btn-outline-primary">View QI Project comments</a>
                </div>
            </p>
        {% endif %}
        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">
            <h5 class="d-flex justify-content-evenly">QI Thematic areas for {{ facility_project.facility_name|title }}.</h5>
            <div class="container">
                <div class="col">
                    <div class="row">
                        {% if facility_proj_performance %}
                            {{ facility_proj_performance|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            {% for key,values in pro_perfomance_trial.items %}
                {% if facility_project.id != key %}
                      <div class="col-sm-6 mt-3" >
                        <div class="card " >
                          <div class="card-body">
                              <div class="container">
                                <div class="col">
                                    <div class="row ">
                                        {{ keys }}
                                        {{ values|safe }}
                                    </div>
                                </div>
                              </div>
{#                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
                            <a href="{% url 'single_project' key %}" class="btn btn-primary">Go to the project</a>
                          </div>
                        </div>
                      </div>
                {% endif %}
            {% endfor %}
        </div>
</div>

    </main>
{% endblock %}