{% extends 'project/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>LESSON LEARNED</h4>
    </div>
    <div>
        <p>Welcome to the "Lessons Learned" page on our CQI dashboard! </p>
        <p>This page is designed to share information and best practices with others in the organization to improve our
            processes' performance and increase our customers' satisfaction.</p>

        <p> Here, you will find a summary of the most recent CQI project quality/work improvement teams (QIT)/(WIT) work
            have completed, including the problem or opportunity addressed, the goals and objectives, and the results.
            You will also find a detailed description of the key successes and challenges encountered during the project
            , which can help you understand what worked well and what didn't and how those lessons can be applied to
            future projects. In addition, we have included best practices and recommendations that were identified
            during the project. These can be used to improve the process in the future. You will also find a list of
            resources used during the project, such as templates, forms, or tools. These can help you access the same
            information and resources.</p>
        <p>If you have any questions or would like to learn more about the project, please get in touch with the project
            team or other stakeholders by using the contact information provided on this page.</p>
        <p>We hope that you find this page informative and helpful and that it will aid you in your continuous
            improvement journey. Please check back regularly, as we will be updating this page with information on all
            our completed projects and any future improvement plans we identify.</p>
        <p>Thank you for visiting our page, and we hope that you find it useful.</p>
    </div>
      </div>




<div class="mt-2 " style="display:inline-block;">
                    <a href="{% url 'download_lessons' %}" class="btn btn-info mb-4" role="button" >Download CSV</a>
                    <a href="{% url 'download_pdf' %}" class="btn btn-info mb-4" role="button" >Download PDF</a>

                </div>
{% if lesson_learnt %}
        <div class="sticky-top" style="z-index:10">
<table class="table table-striped table-hover my-table">
    <thead class="bg-light">
        <th scope="col"></th>
        <th scope="col">Projects</th>
        <th scope="col">Problems/opportunities</th>
{#        <th scope="col">Objectives</th>#}
        <th scope="col">Key successes</th>
        <th scope="col">Challenges</th>
        <th scope="col">Best practices</th>
        <th scope="col">Recommendations</th>
        <th scope="col">Resources</th>
        <th scope="col">Future plans</th>
    </thead>
    <tbody>
        {% for field in lesson_learnt %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'single_project' field.project_name.id %}">{{ field.project_name.project_title }}</a>
                    <br>
                    <strong class="badge mt-2"><a href="{% url 'qi_creators' field.project_name.created_by.username %}" >
                        Project created by: {{ field.project_name.created_by.first_name|title }}</a></strong>
                    <br>
                    <strong class="badge alert-warning mt-2">{{ field.project_name.created_by.phone_number }}</strong>
                    <br>
                    <strong class="badge alert-info mt-2">{{ field.project_name.facility_name.facilities}}</strong>
                    <br>
                        <strong class="badge alert-warning mt-2">Number of QIT/WIT: {{ field.num_members }}</strong>
                    <br>
                    <strong class="badge alert-warning mt-2">QI manager: {{ field.project_name.qi_manager}}</strong>
                    <br>
                    <strong class="badge alert-warning mt-2">Started: {{ field.project_name.start_date|date }}</strong>
                    <br>
                <strong class="badge alert-warning mt-2">Completed: {{ field.project_name.date_updated|date }}</strong>
                    <br>

                <div class="mt-2 d-flex justify-content-evenly" style="display:inline-block;">
                    <a href="{% url 'update_lesson_learnt' field.id %}" class="btn btn-info" role="button" >Update</a>
{#                    <a href="{% url 'delete_lesson_learnt' field.id %}" class="btn btn-danger" role="button">Delete</a>#}
                </div>

                </td>
          <td>
                {{ field.problem_or_opportunity }}

                <td>
                    {{ field.key_successes }}

                </td>
                <td>
                    {{ field.challenges }}

                </td>
                <td>
                    {{ field.best_practices }}
                </td>
                <td>
                    {{ field.recommendations }}
                </td>
                <td>
                    {{ field.resources }}
                </td>
                <td>
{#                    {{ field.future_plans }}#}
                    <a href="{% url 'add_sustainmentplan' field.project_name_id %}" >
                        {{ field.future_plans }}</a>
                </td>
                <td>
                    {{ field.notes }}
                </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
     <!-- Display the pagination links -->
          <div class="mt-3">
          {% if qi_teams.has_other_pages %}
                    <ul class="pagination justify-content-end">
                   {% if qi_teams.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.previous_page_number }}">Prev</a></li>
                   {% else %}
                     <li class="disabled"><span class="page-link" >Prev</span></li>
                   {% endif %}
                   {% for i in qi_teams.paginator.page_range %}
                     {% if qi_teams.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                     {% else %}
                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                     {% endif %}
                   {% endfor %}
                   {% if qi_teams.has_next %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.next_page_number }}">Next</a></li>
                   {% else %}
                     <li class="disabled page-item"><span class="page-link">Next</span></li>
                   {% endif %}
                    </ul>
                {% endif %}
          </div>
{% endif %}

    </main>
{% endblock %}