{% extends 'project/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>LESSON LEARNED</h4>
{#          <a href="{% url 'add_lesson_learnt' %}" class="btn btn-success" role="button">ADD RESOURCES</a>#}
        </div>
    <div>
        <p>Welcome to the "Lessons Learned" page on our CQI dashboard! </p>
        <p>This page is designed to share information and best practices with others in the organization to improve our
            processes' performance and increase our customers' satisfaction.</p>

        <p> Here, you will find a summary of the most recent CQI project quality improvement teams (QIT) have completed,
            including the problem or opportunity addressed, the goals and objectives, and the results. You will also
            find a detailed description of the key successes and challenges encountered during the project, which can
            help you understand what worked well and what didn't and how those lessons can be applied to future projects
            . In addition, we have included best practices and recommendations that were identified during the project.
            These can be used to improve the process in the future. You will also find a list of resources used during
            the project, such as templates, forms, or tools. These can help you access the same information and
            resources.</p>
        <p>If you have any questions or would like to learn more about the project, please get in touch with the project
            team or other stakeholders by using the contact information provided on this page.</p>
        <p>We hope that you find this page informative and helpful and that it will aid you in your continuous
            improvement journey. Please check back regularly, as we will be updating this page with information on all
            our completed projects and any future improvement plans we identify.</p>
        <p>Thank you for visiting our page, and we hope that you find it useful.</p>
    </div>
      </div>





{% if lesson_learnt %}
        <div class="sticky-top" style="z-index:10">
<table class="table table-striped table-hover my-table">
    <thead class="bg-light">
        <th scope="col"></th>
        <th scope="col">Projects</th>
        <th scope="col">Problems/opportunities</th>
{#        <th scope="col">Objectives</th>#}
        <th scope="col">Key successes</th>
        <th scope="col">Challenges</th>
        <th scope="col">Best practices</th>
        <th scope="col">Recommendations</th>
        <th scope="col">Resources</th>
        <th scope="col">Future plans</th>
    </thead>
    <tbody>
        {% for field in lesson_learnt %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'single_project' field.project_name.id %}">{{ field.project_name.project_title }}</a>
                    <br>
                    <strong class="badge mt-2"><a href="{% url 'qi_creators' field.project_name.created_by.username %}" >
                        Project created by: {{ field.project_name.created_by.first_name|title }}</a></strong>
                    <br>
                    <strong class="badge alert-warning mt-2">{{ field.project_name.created_by.phone_number }}</strong>
                    <br>
                    <strong class="badge alert-info mt-2">{{ field.project_name.facility_name.facilities}}</strong>
                    <br>
                        <strong class="badge alert-warning mt-2">Number of QIT: {{ field.num_members }}</strong>
                    <br>
                    <strong class="badge alert-warning mt-2">QI manager: {{ field.project_name.qi_manager}}</strong>
                    <br>
                    <strong class="badge alert-warning mt-2">Started: {{ field.project_name.start_date|date }}</strong>
                    <br>
                <strong class="badge alert-warning mt-2">Completed: {{ field.project_name.date_updated|date }}</strong>
                    <br>

                <div class="mt-2 d-flex justify-content-evenly" style="display:inline-block;">
                    <a href="{% url 'update_lesson_learnt' field.id %}" class="btn btn-info" role="button" >Update</a>
                    <a href="{% url 'delete_lesson_learnt' field.id %}" class="btn btn-danger" role="button">Delete</a>
                </div>

                </td>
          <td>
                {{ field.problem_or_opportunity }}


{#          <td>#}
{#                {{ field.project_name.objective }}#}
{##}
{##}
{#                </td>#}
                <td>
                    {{ field.key_successes }}

                </td>
                <td>
                    {{ field.challenges }}

                </td>
                <td>
                    {{ field.best_practices }}
                </td>
                <td>
                    {{ field.recommendations }}
                </td>
                <td>
                    {{ field.resources }}
                </td>
                <td>
{#                    {{ field.future_plans }}#}
                    <a href="#" >
                        {{ field.future_plans }}</a>
                </td>
                <td>
                    {{ field.notes }}
                </td>
{#                <td>#}
{#                  <a href="{% url 'update_qi_team_member' field.id %}" class="btn btn-info" role="button">Update</a>#}
{#                </td>#}
{#          <td >#}
{#              <a href="{% url 'update_qi_team_member' field.id %}" class="btn btn-info" role="button">Update</a>#}
{#                    {% if user.is_authenticated %}#}
{#                      {% if user.id == field.created_by.id %}#}
{#                            <td>#}
{#                              <a href="{% url 'delete_qi_team_member' field.id %}" class="btn btn-danger mt-5" role="button">Delete</a>#}
{#                            </td>#}
{#                      {% endif %}#}
{#                  {% endif %}#}
{#          </td>#}
          </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
     <!-- Display the pagination links -->
          <div class="mt-3">
          {% if qi_teams.has_other_pages %}
                    <ul class="pagination justify-content-end">
                   {% if qi_teams.has_previous %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.previous_page_number }}">Prev</a></li>
                   {% else %}
                     <li class="disabled"><span class="page-link" >Prev</span></li>
                   {% endif %}
                   {% for i in qi_teams.paginator.page_range %}
                     {% if qi_teams.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                     {% else %}
                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                     {% endif %}
                   {% endfor %}
                   {% if qi_teams.has_next %}
                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.next_page_number }}">Next</a></li>
                   {% else %}
                     <li class="disabled page-item"><span class="page-link">Next</span></li>
                   {% endif %}
                    </ul>
                {% endif %}
          </div>
{% endif %}

{#    {% if lesson_learnt %}#}
{#        <div class="sticky-top" style="z-index:10">#}
{#<table class="table table-striped table-hover my-table">#}
{#    <thead class="bg-light">#}
{#        <th scope="col"></th>#}
{#        <th scope="col">Projects</th>#}
{#        <th scope="col">Problems/opportunities</th>#}
{#        <th scope="col">Objectives</th>#}
{#        <th scope="col">Key successes</th>#}
{#        <th scope="col">Challenges</th>#}
{#        <th scope="col">Best practices</th>#}
{#        <th scope="col">Recommendations</th>#}
{#        <th scope="col">Resources</th>#}
{#        <th scope="col">Future plans</th>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for field in lesson_learnt %}#}
{#          <tr>#}
{#              <th scope="row">{{ forloop.counter }}</th>#}
{#                <td>#}
{#                    <a href="{% url 'single_project' field.project_name.id %}">{{ field.project_name.project_title }}</a>#}
{#                    <br>#}
{#                    <strong class="badge mt-2"><a href="{% url 'qi_creators' field.project_name.created_by.username %}" >#}
{#                        Project created by: {{ field.project_name.created_by.first_name|title }}</a></strong>#}
{#                    <br>#}
{#                    <strong class="badge alert-warning mt-2">{{ field.project_name.created_by.phone_number }}</strong>#}
{#                    <br>#}
{#                    <strong class="badge alert-info mt-2">{{ field.project_name.facility_name.facilities}}</strong>#}
{#                    <br>#}
{#                    {% for project in projects %}#}
{#            {% with qi_team_members=project.project_name.qi_team_members_set.all %}#}
{#                <tr>#}
{#                    <td>{{ project.project_name.project_title }}</td>#}
{#                    <td>#}
{#                        {{ qi_team_members.count }}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endwith %}#}
{#        {% endfor %}#}
{##}
{#                    {% for project in projects %}#}
{#                        <strong class="badge alert-warning mt-2">Number of QIT: {{ project.project_name.qi_team_members_set.count }}</strong>#}
{#                    {% endfor %}#}
{#                    <br>#}
{#                    <strong class="badge alert-warning mt-2">QI manager: {{ field.project_name.qi_manager}}</strong>#}
{#                    <br>#}
{#                    <strong class="badge alert-warning mt-2">Started: {{ field.project_name.start_date|date }}</strong>#}
{#                    <br>#}
{#                <strong class="badge alert-warning mt-2">Completed: {{ field.project_name.date_updated|date }}</strong>#}
{#                    <br>#}
{##}
{#                <div class="mt-2 d-flex justify-content-evenly" style="display:inline-block;">#}
{#                    <a href="{% url 'update_lesson_learnt' field.id %}" class="btn btn-info" role="button" >Update</a>#}
{#                    <a href="{% url 'delete_lesson_learnt' field.id %}" class="btn btn-danger" role="button">Delete</a>#}
{#                </div>#}
{##}
{#                </td>#}
{#          <td>#}
{#                {{ field.problem_or_opportunity }}#}
{##}
{##}
{#          <td>#}
{#                {{ field.project_name.objective }}#}
{##}
{##}
{#                </td>#}
{#                <td>#}
{#                    {{ field.key_successes }}#}
{##}
{#                </td>#}
{#                <td>#}
{#                    {{ field.challenges }}#}
{##}
{#                </td>#}
{#                <td>#}
{#                    {{ field.best_practices }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ field.recommendations }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ field.resources }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ field.future_plans }}#}
{#                    <a href="#" >#}
{#                        {{ field.future_plans }}</a>#}
{#                </td>#}
{#                <td>#}
{#                    {{ field.notes }}#}
{#                </td>#}
{#                <td>#}
{#                  <a href="{% url 'update_qi_team_member' field.id %}" class="btn btn-info" role="button">Update</a>#}
{#                </td>#}
{#          <td >#}
{#              <a href="{% url 'update_qi_team_member' field.id %}" class="btn btn-info" role="button">Update</a>#}
{#                    {% if user.is_authenticated %}#}
{#                      {% if user.id == field.created_by.id %}#}
{#                            <td>#}
{#                              <a href="{% url 'delete_qi_team_member' field.id %}" class="btn btn-danger mt-5" role="button">Delete</a>#}
{#                            </td>#}
{#                      {% endif %}#}
{#                  {% endif %}#}
{#          </td>#}
{#          </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{#        </div>#}
{#     <!-- Display the pagination links -->#}
{#          <div class="mt-3">#}
{#          {% if qi_teams.has_other_pages %}#}
{#                    <ul class="pagination justify-content-end">#}
{#                   {% if qi_teams.has_previous %}#}
{#                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.previous_page_number }}">Prev</a></li>#}
{#                   {% else %}#}
{#                     <li class="disabled"><span class="page-link" >Prev</span></li>#}
{#                   {% endif %}#}
{#                   {% for i in qi_teams.paginator.page_range %}#}
{#                     {% if qi_teams.number == i %}#}
{#                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#                     {% else %}#}
{#                        <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>#}
{#                     {% endif %}#}
{#                   {% endfor %}#}
{#                   {% if qi_teams.has_next %}#}
{#                     <li class="page-item"><a class="page-link" href="?page={{ qi_teams.next_page_number }}">Next</a></li>#}
{#                   {% else %}#}
{#                     <li class="disabled page-item"><span class="page-link">Next</span></li>#}
{#                   {% endif %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#          </div>#}
{#{% endif %}#}




{#    <form class="row g-3"  method="POST" autocomplete="off">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{##}
{#        {% for lesson_learnt_field in form %}#}
{#            {{ foo|as_crispy_field }}#}
{#            <div class="col-md-6">#}
{#                {{ lesson_learnt_field|as_crispy_field }}#}
{#            </div>#}
{##}
{#        {% endfor %}#}
{##}
{#        {{ form|as_crispy_field }}#}
{#        <div class="col-md-8">#}
{#            {{ my_filters.form.resource_name|as_crispy_field }}#}
{#        </div>#}
{#        <div class="col-md-2">#}
{#            {{ my_filters.form.resource_type|as_crispy_field }}#}
{#        </div>#}
{##}
{#        <div class="col-md-1 mt-4 pt-2">#}
{#            <button class="btn btn-outline-primary" type="submit">search</button>#}
{#        </div>#}
{#  </form>#}







{#      <canvas class="my-4 w-100" id="myChart" width="900" height="280"></canvas>#}



{#        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">#}
{#            <div>#}
{#            </div>#}
{#            <p>There are many ways to approach quality improvement in healthcare. One popular method is to use published resources, such as best practice guidelines, to help guide and inform quality improvement initiatives.#}
{##}
{#There are a number of different published resources available on healthcare quality improvement. Some popular examples include the Institute for Healthcare Improvement's Breakthrough Series, the National Quality Forum's National Voluntary Consensus Standards, and the Agency for Healthcare Research and Quality's Evidence-based Practice Centers.#}
{##}
{#Each of these resources provides different information and perspectives on quality improvement. However, all of them can be useful in helping to identify areas for improvement and developing quality improvement plans.#}
{##}
{#When using published resources to guide quality improvement, it is important to keep in mind that not all recommendations will be applicable to every situation. It is also important to remember that quality improvement is an ongoing process, and that published resources should be used as just one part of a larger quality improvement effort.#}
{#                <p>There is a lot of room for improvement in the quality of healthcare in Kenya. The Kenyan government has put out a number of resources in an attempt to improve the quality of healthcare in the country, but there is still much work to be done. In this blog post, we will take a look at some of the resources that have been published on healthcare quality improvement in Kenya. Hopefully, this will give you a better idea of the current state of healthcare in Kenya and what needs to be done to improve it.</p>#}
{#            <p>One of the most comprehensive resources on healthcare quality in Kenya is the National Health Sector Strategic Plan (NHSSP). The NHSSP was developed by the Ministry of Health in collaboration with other stakeholders, and it provides a roadmap for improving healthcare in Kenya over the next five years. The NHSSP contains a number of targets and indicators for healthcare quality, and it is hoped that this will help to guide healthcare quality improvement efforts in Kenya.</p>#}
{#            <p>Another important resource is the Kenya Health Policy (KHP). The KHP was developed by the government in consultation with a number of stakeholders, and it provides a framework for health sector reform in Kenya. The KHP contains a number of recommendations on how to improve healthcare in Kenya, and it is hoped that this will help to guide healthcare quality improvement efforts in the country.</p>#}
{#            <p>The Kenya Demographic and Health Survey (KDHS) is also an important resource on healthcare quality in Kenya. The KDHS is conducted every five years, and it provides data on a range of health indicators, including maternal and child health, family planning, and HIV/AIDS. The KDHS is an important tool for monitoring progress on healthcare quality in Kenya, and it can help to identify areas where further improvement is needed.</p>#}
{#            <p>Finally, the National Quality Improvement Strategy (NQIS) is another important resource on healthcare quality in Kenya. The NQIS was developed by the government in consultation with a number of stakeholders, and it provides a roadmap for improving healthcare quality in Kenya over the next five years. The NQIS contains a number of targets and indicators for healthcare quality, and it is hoped that this will help to guide healthcare quality improvement efforts in Kenya.</p>#}
{#            <p>There are many quality improvement resources available for healthcare workers in Kenya. The following are some examples:</p>#}
{#            <ul>#}
{#                <li>The Kenya Quality Improvement Guide: This guide provides an overview of quality improvement concepts and tools, and includes a section on how to carry out quality improvement projects in healthcare facilities.</li>#}
{#                <li>The Kenya Quality Improvement Toolkit: This toolkit provides a step-by-step guide to carrying out quality improvement projects in healthcare facilities. It includes tools and templates for project planning, data collection and analysis, and reporting.</li>#}
{#                <li>The Kenya Health Care Quality Standards: These standards provide guidance on how to improve the quality of care in healthcare facilities. They cover a range of topics, including infection control, safe medication practices, and patient rights.</li>#}
{#                <li>The Kenya National Quality Improvement Strategy: This strategy sets out the government's vision for quality improvement in healthcare, and includes a quality improvement plan for healthcare facilities.</li>#}
{#            </ul>#}
{#            <h5 class="d-flex justify-content-evenly">You are viewing comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>#}
{#            <p class="d-flex justify-content-evenly">No specific criteria is specified, so displaying all archived QI Projects</p>#}
{#        </div>#}

{#        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">#}
{#            {% for resource in qi_lists %}#}
{#              <div class="col-md-11">#}
{#                <div class="card h-100">#}
{#                  <div class="card-body">#}
{#                    <h6 class="card-title">#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <div>#}
{#                                <a href="{{ resource.resource.url }}">#}
{#                                    {{ forloop.counter }}. {{ resource.resource_name }}#}
{#                                </a>#}
{#                            </div>#}
{#                            <div>#}
{#                                <a href="{{ resource.resource.url }}">#}
{#                                    <button type="button" class="btn btn-outline-success btn-floating mr-2" data-mdb-ripple-color="dark">#}
{#                                        Download <i class="fas fa-download"></i>#}
{#                                    </button>#}
{#                                </a>#}
{#                                {% if user.id == resource.uploaded_by.id or user.is_superuser %}#}
{#                                    <a href="{% url 'update_resource' resource.id %}">#}
{#                                        <button type="button" class="btn btn-outline-warning btn-floating mr-2" data-mdb-ripple-color="dark">#}
{#                                            EDIT#}
{#                                        </button>#}
{#                                    </a>#}
{##}
{#                                    <a href="{% url 'delete_resource' resource.id %}">#}
{#                                        <button type="button" class="btn btn-outline-danger btn-floating mr-2" data-mdb-ripple-color="dark">#}
{#                                            DELETE#}
{#                                        </button>#}
{#                                    </a>#}
{#                                    {% elif user.is_superuser %}#}
{#                                        <a href="{{ resource.resource.url }}">#}
{#                                            <button type="button" class="btn btn-outline-warning btn-floating mr-2" data-mdb-ripple-color="dark">#}
{#                                                EDIT <i class="fas fa-download"></i>#}
{#                                            </button>#}
{#                                        </a>#}
{##}
{#                                        <a href="{{ resource.resource.url }}">#}
{#                                            <button type="button" class="btn btn-outline-danger btn-floating mr-2" data-mdb-ripple-color="dark">#}
{#                                                DELETE <i class="fas fa-download"></i>#}
{#                                            </button>#}
{#                                        </a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </h6>#}
{#                      {{ resource.description }}#}
{#                  </div>#}
{#                  <div class="card-footer d-flex justify-content-between">#}
{#                    <small class="text-muted">Uploaded on {{ resource.upload_date_updated|date:"M d, Y" }}</small>#}
{#                    <small class="text-muted">Resource type : {{ resource.resource_type|title }}</small>#}
{#                    <small class="text-muted">Uploaded by {{ resource.uploaded_by|upper }}</small>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        </div>#}



    </main>
{% endblock %}