{% extends 'project/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <h3 class="text-success">{{ facility_name|upper }}'S CQI PROJECTS</h3>
    </div>
</div>

 <div class="p-5 mb-4 bg-light rounded-3">
    <div class="row mt-5">
    <div class="d-flex justify-content-evenly">
        <h5 >{{ projects.count }} QI projects</h5>
        <a href="{% url 'facilities_landing_page' %}" class="btn btn-primary">Facility projects</a>
      <a href="{% url 'add_project' %}" class="btn btn-secondary">Add QI PROJECT</a>
    </div>

      <div class="container-fluid py-5">

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
      {% for qi in search %}
           <div class="col-md-12">

    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>
          <ul>
              <li>Facility : {{ qi.facility }}</li>
              <li>Problem background : {{ qi.problem_background }}</li>
              <li>Objective : {{ qi.objective }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : {{ qi.department }}</li>
              <li>Responsible person : {{ qi.responsible_people }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : {{ qi.created_by }}</li>
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          {% if qi.measurement_status == "Canceled" %}
                        <a href="{% url 'canceled_projects' qi.measurement_status %}" class="btn btn-warning">{{ qi.measurement_status }}</a>
                          {% elif qi.measurement_status == "Completed or Closed" %}
                        <a href="{% url 'completed_closed' qi.measurement_status %}" class="btn btn-danger">{{ qi.measurement_status }}
                          {% else %}
                          <a href="{% url 'ongoing' qi.measurement_status %}" class="btn btn-success">{{ qi.measurement_status }}</a>
                      {% endif %}
          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>
          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
              {% if user.id == qi.created_by.id %}
          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>
              {% endif %}
      </div>
      </div>
    </div>

  </div>
          {% endfor %}
          {% for qi in projects %}
           <div class="col-md-12">

    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"> {{ forloop.counter }}. {{ qi.project_title}}</h5>
          <ul>
              <li>Facility : {{ qi.facility }}</li>
              <li>Problem background : {{ qi.problem_background }}</li>
              <li>Objective : {{ qi.objective }}</li>
              <li>Setting : {{ qi.settings }}</li>
              <li>Department : {{ qi.department }}</li>
              <li>Responsible person : {{ qi.responsible_people }}</li>
              <li>Measurement Frequency : {{ qi.measurement_frequency }}</li>
              <li>Created by : {{ qi.created_by }}</li>


{#              <li>Number of post : {{ num_post }}</li>#}
              {% if qi.comments%}
               <li>Comment (s) : {{ qi.comments }}</li>
              {% endif %}

          </ul>
          <div class="d-flex justify-content-evenly" >
          {% if qi.measurement_status == "Canceled" %}
                        <a href="{% url 'canceled_projects' qi.measurement_status %}" class="btn btn-warning">{{ qi.measurement_status }}</a>
                          {% elif qi.measurement_status == "Completed or Closed" %}
                        <a href="{% url 'completed_closed' qi.measurement_status %}" class="btn btn-danger">{{ qi.measurement_status }}
                          {% else %}
                          <a href="{% url 'ongoing' qi.measurement_status %}" class="btn btn-success">{{ qi.measurement_status }}</a>
                      {% endif %}
          <a href="#" class="btn btn-primary">Last updated on {{ qi.date_updated}} </a>
          <a href="{% url 'single_project' qi.id %}" class="btn btn-secondary">View QI project</a>
              {% if user.id == qi.created_by.id %}
          <a href="{% url 'update_project' qi.id %}" class="btn btn-warning">Update project</a>
              {% endif %}
      </div>
      </div>
    </div>
  </div>

          {% endfor %}





</div>
      </div>
    </div>
    </div>


    </main>
{% endblock %}