{% extends 'project/index.html' %}
{% load static %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">QI Managers on the platform supervising QI projects</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a href="{% url 'add_qi_manager' %}" class="btn btn-success" role="button">ADD QI MANAGER</a>
        </div>
      </div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel">Delete</h3>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
    </div>
   </div>
{#        <table class="table table-striped table-hover table-users">#}
{#    			<thead>#}
{#    				<tr>#}
{##}
{#    					<th></th>#}
{#    					<th>First name</th>#}
{#    					<th>Second name</th>#}
{#    					<th>Third name</th>#}
{#    					<th >Email</th>#}
{#    					<th>Phone Number</th>#}
{#    					<th>Projects Supervising</th>#}
{#    					<th>Facility/CHMT</th>#}
{#    					<th></th>#}
{#    					<th></th>#}
{#    				</tr>#}
{#    			</thead>#}
{#                {% for qi_manager in qi_managers_list %}#}
{##}
{##}
{##}
{#    			<tbody>#}
{#    				<tr>#}
{#    					<td><strong>{{ forloop.counter }}.</strong></td>#}
{#    					<td>{{ qi_manager.first_name }}</td>#}
{#    					<td>{{ qi_manager.second_name }}</td>#}
{#    					<td>doe</td>#}
{#    					<td>{{ qi_manager.email}}</td>#}
{#    					<td>{{ qi_manager.phone_number }}</td>#}
{#                      <td>{{ qi_manager.phone_number }}</td>#}
{##}
{#                    	<td><span class="label label-warning">Not Active</span></td>#}
{##}
{##}
{#                        <td><a href="https://getbootstrap.com/docs/5.0/utilities/flex/" class="btn btn-info" role="button">Edit</a></td>#}
{#                        <td><a href="https://getbootstrap.com/docs/5.0/utilities/flex/" class="btn btn-danger" role="button">Delete</a></td>#}
{#                    </tr>#}
{##}
{#	               </tbody>#}
{#{% endfor %}#}
{#    		</table>#}
    <table class="table table-striped table-hover">
    <thead class="thead-dark">
    <th scope="col"></th>

        {% for col in qi_managers.columns %}
{#            {{ forloop.counter }} {{ col }}#}
{#            {% if col == " " %}#}
            {% if forloop.counter != 7 %}
                <th scope="col">{{ col }}</th>
{#            {% endif %}#}
{#          {{ forloop.counter }} {{ col }}#}
            {% endif %}
        {% endfor %}

    </thead>
    <tbody>
        </tr>
        {% for index, row in qi_managers.iterrows %}
              <tr>
                  <th scope="row">{{ index}}</th>
{#              {{ forloop.counter }}{{ row }}#}

                {% for cell in row %}
{#                    {{ forloop.counter }},{{ cell }}#}
                    {% if forloop.counter != 7 %}
                        {% if forloop.counter == 3 %}
                              <td>
                                {{cell}}
                              </td>
                        {% elif forloop.counter == 6 %}
                              <td>
                                {{cell|date}}
                              </td>
                        {% elif forloop.counter == 8 %}
                            {% if cell > 0 %}
                              <td class="text-center text-white" style="background-color: green">
                                    <strong>{{cell}}</strong>
                              </td>
                            {% else %}
                                 <td class="text-center text-white" style="background-color: red">
                                    <strong>{{cell}}</strong>
                                 </td>
                            {% endif %}

                        {% else %}
                                <td>
    {#                          <a href="#" >DELETE {{ cell }} </a>#}
                                {{cell}}
                              </td>
                        {% endif %}
                    {% endif %}

                {% endfor %}
              <td>
{#                  {{ row.7 }}#}
                   {% if row.7 > 0 %}
                  <a href="{% url 'qi_managers_filter_project' row.QI_manager_id %}" class="btn btn-secondary" role="button">View Projects</a>
                  {% endif %}
              </td>
              <td>
                  <a href="{% url 'update_qi_managers' row.QI_manager_id %}" class="btn btn-info" role="button">Update QI manager's profile</a>
              </td>
              </tr>
        {% endfor %}
    </tbody>
</table>
    </main>
{% endblock %}