{% extends 'project/index.html' %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-2">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Published resources</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

{#      <canvas class="my-4 w-100" id="myChart" width="900" height="280"></canvas>#}



        <div class="container mt-auto p-3" style="background-color: #f6f6ff;">
            <div>
            </div>
            <p>There are many ways to approach quality improvement in healthcare. One popular method is to use published resources, such as best practice guidelines, to help guide and inform quality improvement initiatives.

There are a number of different published resources available on healthcare quality improvement. Some popular examples include the Institute for Healthcare Improvement's Breakthrough Series, the National Quality Forum's National Voluntary Consensus Standards, and the Agency for Healthcare Research and Quality's Evidence-based Practice Centers.

Each of these resources provides different information and perspectives on quality improvement. However, all of them can be useful in helping to identify areas for improvement and developing quality improvement plans.

When using published resources to guide quality improvement, it is important to keep in mind that not all recommendations will be applicable to every situation. It is also important to remember that quality improvement is an ongoing process, and that published resources should be used as just one part of a larger quality improvement effort.
                <p>There is a lot of room for improvement in the quality of healthcare in Kenya. The Kenyan government has put out a number of resources in an attempt to improve the quality of healthcare in the country, but there is still much work to be done. In this blog post, we will take a look at some of the resources that have been published on healthcare quality improvement in Kenya. Hopefully, this will give you a better idea of the current state of healthcare in Kenya and what needs to be done to improve it.</p>
            <p>One of the most comprehensive resources on healthcare quality in Kenya is the National Health Sector Strategic Plan (NHSSP). The NHSSP was developed by the Ministry of Health in collaboration with other stakeholders, and it provides a roadmap for improving healthcare in Kenya over the next five years. The NHSSP contains a number of targets and indicators for healthcare quality, and it is hoped that this will help to guide healthcare quality improvement efforts in Kenya.</p>
            <p>Another important resource is the Kenya Health Policy (KHP). The KHP was developed by the government in consultation with a number of stakeholders, and it provides a framework for health sector reform in Kenya. The KHP contains a number of recommendations on how to improve healthcare in Kenya, and it is hoped that this will help to guide healthcare quality improvement efforts in the country.</p>
            <p>The Kenya Demographic and Health Survey (KDHS) is also an important resource on healthcare quality in Kenya. The KDHS is conducted every five years, and it provides data on a range of health indicators, including maternal and child health, family planning, and HIV/AIDS. The KDHS is an important tool for monitoring progress on healthcare quality in Kenya, and it can help to identify areas where further improvement is needed.</p>
            <p>Finally, the National Quality Improvement Strategy (NQIS) is another important resource on healthcare quality in Kenya. The NQIS was developed by the government in consultation with a number of stakeholders, and it provides a roadmap for improving healthcare quality in Kenya over the next five years. The NQIS contains a number of targets and indicators for healthcare quality, and it is hoped that this will help to guide healthcare quality improvement efforts in Kenya.</p>
            <p>There are many quality improvement resources available for healthcare workers in Kenya. The following are some examples:</p>
            <ul>
                <li>The Kenya Quality Improvement Guide: This guide provides an overview of quality improvement concepts and tools, and includes a section on how to carry out quality improvement projects in healthcare facilities.</li>
                <li>The Kenya Quality Improvement Toolkit: This toolkit provides a step-by-step guide to carrying out quality improvement projects in healthcare facilities. It includes tools and templates for project planning, data collection and analysis, and reporting.</li>
                <li>The Kenya Health Care Quality Standards: These standards provide guidance on how to improve the quality of care in healthcare facilities. They cover a range of topics, including infection control, safe medication practices, and patient rights.</li>
                <li>The Kenya National Quality Improvement Strategy: This strategy sets out the government's vision for quality improvement in healthcare, and includes a quality improvement plan for healthcare facilities.</li>
            </ul>
{#            <h5 class="d-flex justify-content-evenly">You are viewing comments sent to QI Team members regarding QI Initiatives that they are implementing.</h5>#}
{#            <p class="d-flex justify-content-evenly">No specific criteria is specified, so displaying all archived QI Projects</p>#}
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 col-md-12">
    <div class="col-md-1 d-flex justify-content-evenly">
        <h3>1</h3>
    </div>

  <div class="col-md-11">

    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
          <ul>
              <li>This card has supporting text below as a natural lead-in to additional content.</li>
              <li>This card has supporting text below as a natural lead-in to additional content.</li>
              <li>This card has supporting text below as a natural lead-in to additional content.</li>
              <li>This card has supporting text below as a natural lead-in to additional content.</li>
          </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>


</div>

    </main>
{% endblock %}